.larg-card-conatiner {
  position: relative;
  background-color: #fff;
  width: 960px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  height: 219px;
}

.bar-container {
  padding-left: 32px;
  padding-right: 51px;
}

.footer-container {
  margin-top: 100px;
}
