.larg-card-conatiner {
  position: relative;
  background-color: #fff;
  width: 960px;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  height: 219px;
}

.bar-container {
  padding-left: 32px;
  padding-right: 51px;
}

.footer-container {
  margin-top: 100px;
}

.card-skeleton-long:empty {
  margin: auto;
  width: 960px;
  height: 219px;

  background-image: radial-gradient(circle 50px at 50px 50px, lightgray 0, transparent 0),
    linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);
  // linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0)

  background-repeat: no-repeat;
  background-size: 50px 200px, /* circle */ 50px 219px, /* highlight */ 700px 200px, 700px 200px, 700px 200px,
    700px 200px;
  background-position: 10px 100px, /* circle */ 0 0, /* highlight */ 100px 50px, 100px 120px, 100px 150px, 100px 200px;
  animation: shine-large 1s infinite;
}
