<!-- Main container-->
<div *ngIf="hcoData.toggle" class="container">
  <!-- container content-->
  <div class="container-content">
    <!-- container header titile ends-->
    <div class="container-header">
      <!-- Breadcrumbs-->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumbs ends-->
      <!-- Header Title-->
      <app-rlp-header
        [rlpTitle]="title"
        [rlpSubTitle]="subTitle"
        class="full-display bottom-margin-block"
      ></app-rlp-header>
      <!-- Header Title ends-->
    </div>
    <div class="container-body">
      <app-rlp-long-card [skeletonLong]="loading" *ngIf="loading && !printStyle"></app-rlp-long-card>
      <app-rlp-long-card [config]="hcoData" *ngIf="hcoData.toggle && hcoData.data != null"></app-rlp-long-card>
      <!-- table -->
      <app-large-card [skeletonLarge]="loadingTable" *ngIf="loadingTable"></app-large-card>
      <app-rlp-table [data]="tableData" *ngIf="hcoData.toggle && hcoData.data != null && isTable"></app-rlp-table>
      <!-- table ends here-->
    </div>
  </div>
  <!--container content ends-->
</div>
<!-- Main container ends-->
