@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';
.select-provider-body {
  margin-left: 60px;
  margin-right: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* header css starts here*/
  .header-div {
    background-color: $white;
    height: 72px;
    display: flex;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    z-index: 999;
    .header-logo-div {
      padding: 18px 0 18px 33px;
      .Uhc-logo {
        height: 36px;
        width: 175px;
      }
    }
    .user-div {
      margin-left: auto;
      display: flex;
      height: 25px;
      color: $strom-grey;
      font-size: 16px;
      font-family: 'UHCSans-SemiBold', 'Helvetica', 'Arial', 'sans-serif';
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: right;
      padding: 25px 32px 20px 0;
      .user-name {
        line-height: 31px;
        font-family: 'UHCSans-Medium', 'Helvetica', 'Arial', 'sans-serif';
      }
      .user-expand-more {
        line-height: 26px;
      }
    }
  }
  /* header css ends here*/
  .select-provider {
    margin: 160px auto 0 auto;
    width: 30%;
    .select-provider-header {
      font-family: 'UHCSans-SemiBold', 'sans-serif', 'Arial', 'Helvetica Neue';
      color: #2d2d39;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      padding-bottom: 30px;
      .mat-dialog-title {
        font: 22px/32px 'UHCSans-SemiBold', 'sans-serif', 'Arial', 'Helvetica Neue';
      }
    }
    .provider-icon-color {
      color: #757588 !important;
    }
    &-header {
      text-align: center;
      button {
        float: right;
        margin: -15px -25px 0 0;
      }
    }
    &-form {
      mat-form-field {
        width: 100%;
        //input {
        //  box-sizing: border-box;
        //  height: 41px;
        //  width: 386px;
        //  border: 1px solid #B3BABC;
        //  border-radius: 2px;
        //  background-color: #FFFFFF;
        //  color: #2D2D39;
        //  font-family: 'UHCSans-Regular';
        //  font-size: 16px;
        //  font-weight: 600;
        //  letter-spacing: 0.2px;
        //  line-height: 22px;
        //}
      }
    }
  }
  // .view-allProviders {
  //   width: 100%;
  //   color: #196ecf;
  //   font-family: 'UHCSans-SemiBold';
  //   font-size: 18px;
  //   font-weight: 600;
  //   letter-spacing: 0.2px;
  //   line-height: 22px;
  //   text-align: center;
  //   padding: 18px 0;
  //   cursor: pointer;
  // }
  .footer-separtor {
    height: 36vh;
  }
}
::ng-deep .mat-option {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}
::ng-deep .mat-option-text {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}
// To adjust the input field on center aligned
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.4em 0 1em 0 !important;
}

.view-allProviders {
  width: 100%;
  color: #196ecf;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 22px;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.no-result-found-div {
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 30px;
}

.no-result-found {
  color: #2d2d39;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding-bottom: 8px;
}

.no-result-found-text {
  color: #2d2d39;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  .match-font {
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  }
}

.noDataicon {
  color: #b10c00;
}

.searchicon {
  color: #757588;
}
