.select-provider {
  width: 40%;
  margin: 270px 400px 280px 430px;

  &-header {
    text-align: center;

    button {
      float: right;
      margin: -15px -25px 0 0;
    }
  }

  &-form {
    mat-form-field {
      width: 100%;

      //input {
      //  box-sizing: border-box;
      //  height: 41px;
      //  width: 386px;
      //  border: 1px solid #B3BABC;
      //  border-radius: 2px;
      //  background-color: #FFFFFF;
      //  color: #2D2D39;
      //  font-family: 'UHCSans-Regular';
      //  font-size: 16px;
      //  font-weight: 600;
      //  letter-spacing: 0.2px;
      //  line-height: 22px;
      //}
    }
  }
}

.view-allProviders {
  width: 100%;
  color: #196ecf;
  font-family: 'UHCSans-SemiBold';
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 22px;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
}
