.select-provider-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .select-provider {
    margin-top: 220px;
    width: 30%;

    .select-provider-header {
      font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
      color: #2d2d39;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
      padding-bottom: 30px;
    }
    &-header {
      text-align: center;

      button {
        float: right;
        margin: -15px -25px 0 0;
      }
    }

    &-form {
      mat-form-field {
        width: 100%;

        //input {
        //  box-sizing: border-box;
        //  height: 41px;
        //  width: 386px;
        //  border: 1px solid #B3BABC;
        //  border-radius: 2px;
        //  background-color: #FFFFFF;
        //  color: #2D2D39;
        //  font-family: 'UHCSans-Regular';
        //  font-size: 16px;
        //  font-weight: 600;
        //  letter-spacing: 0.2px;
        //  line-height: 22px;
        //}
      }
    }
  }
  // .view-allProviders {
  //   width: 100%;
  //   color: #196ecf;
  //   font-family: 'UHCSans-SemiBold';
  //   font-size: 18px;
  //   font-weight: 600;
  //   letter-spacing: 0.2px;
  //   line-height: 22px;
  //   text-align: center;
  //   padding: 18px 0;
  //   cursor: pointer;
  // }
  .footer-block {
    z-index: 9;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 118px;
  background: color(blue, base);

  .footer-left-section {
    display: flex;
    font-family: 'UHCSans-SemiBold', 'Arial';
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
    text-align: center;
    margin-top: 35px;
    margin-left: 32px;
    padding-top: 15px;

    .footer-right-section {
      display: flex;
      font-size: 14px;
      color: #ffffff;
      font-family: 'UHCSans-Medium', 'Arial';
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.2px;
      margin-top: 35px;
      margin-right: 20px;
      padding-top: 15px;
    }

    .anchor-color {
      color: #ffffff;
    }

    .anchor-color-one {
      color: #ffffff;
      text-decoration-line: none;
    }

    .copyright-text {
      margin-right: 16px;
    }

    .privacy-text {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
