.clearBoth {
  clear: both;
}
.header-container {
  position: relative;
  text-align: right;
}
.header-title {
  color: #196ecf;
  font-family: 'UHCSans-Regular, Arial';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  float: left;
  text-align: left;
}
.details {
}
