@import '~src/scss/variables.scss';
.header-container {
  position: relative;
  /*padding: 20px 20px 0 20px;*/
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.header-title {
  color: $blue;
  font-family: 'UHCSans-SemiBold', 'Arial';
  font-size: 18px;
  padding: 16px;
  line-height: 22px;
  text-align: left;
  float: left;
}
.handClicked {
  cursor: pointer;
}
.common-header {
  color: $black-rock;
}
.details {
  color: $strom-grey;
  font-family: 'UHCSans-SemiBold', 'Arial';
  /*font-size: 18px;
  line-height: 22px;*/
  display: flex;
  float: right;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-top: 5px;
  .mat-icon > svg {
    display: block;
  }

  &:hover,
  &:focus {
    border-radius: 2px;
    background-color: #d7dce1;
    cursor: pointer;
  }
  .onHoverIcon {
    padding: 8px;
  }
}

.non-small-card-header-title {
  color: $black-rock !important;
}
