<div *ngIf="titleHeader != null" class="header-container">
  <div *ngIf="!printStyle" class="details">
    <mat-icon class="onHoverIcon" (click)="helpFunctionClicked()" svgIcon="help"></mat-icon>
  </div>
  <div
    class="header-title"
    [class.sub-header-padding]="titleSubHeader !== null"
    [class.nps-header]="options && options.npsHeader"
    [class.title-width]="title === 'Medicare Annual Care Visits Completion Rate'"
    [class.title-padding]="title === 'Top Reasons for Prior Authorizations Not Approved'"
    [class.common-header]="cardType === 'error-card'"
    [class.non-small-card-header-title]="typeOfCard != 'smallCard'"
  >
    <div>
      <a class="handClicked" (click)="titleClicked(titleHeader)">{{ titleHeader }}</a>
      <span *ngIf="addIcon"><mat-icon class="icon-class" svgIcon="warning-icon"></mat-icon></span>
    </div>
    <div *ngIf="titleSubHeader !== null" class="sub-header-title">
      {{ titleSubHeader }}
    </div>
    <div *ngIf="expandAllButton" class="expand" (click)="onClickExpand()">
      <span *ngIf="!accordianExpanded">Expand All Star Ratings</span>
      <span *ngIf="accordianExpanded">Collapse All Star Ratings</span>
      <mat-icon
        class="bar-graph-block-icon"
        svgIcon="carrot"
        [ngClass]="accordianExpanded ? 'rotated' : 'default'"
      ></mat-icon>
    </div>
  </div>
</div>
