<div class="rlp-body">
  <div class="rlp-content">
    <div class="cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <app-rlp-header
        [rlpTitle]="titleForSummary"
        [rlpSubTitle]="subTitleForSummary"
        class="full-display bottom-margin-block"
      ></app-rlp-header>
      <app-rlp-common-bar [data]="data[1]"></app-rlp-common-bar>
      <app-rlp-common-bar [data]="data[2]"></app-rlp-common-bar>
      <div *ngFor="let item of summaryItems; let i = index">
        <app-card *ngIf="item.data != null && item.category == 'app-card'" class="cards" [chartData]="item"></app-card>
        <app-error-card *ngIf="item.data == null && item.status != null" class="cards" [data]="item"></app-error-card>
      </div>
    </div>
  </div>
</div>
