<div class="widget">
  <!--div class="full-display" id="{{ chartOptions.gdata[1] }}"></div-->
  <svg height="210" width="220" transform="translate(-10 6)">
    <linearGradient id="grad1" x1="0%" y1="90%" x2="50%" y2="-20%">
      <!--x1="0%" y1="40%" x2="20%" y2="-20%"-->
      <stop offset="0%" stop-color="#3381FF" />
      <stop offset="100%" stop-color="#3381FF" stop-opacity="0" />
    </linearGradient>

    <circle cx="100" cy="105" r="96" stroke="url(#grad1)" stroke-width="16" fill="none" transform="translate(14 0)" />
    <text x="55" y="115" class="days-text">0 days</text>
    <svg height="210" width="500" transform="translate(-10 10)">
      <polygon points="19,62 46,141 26,101 218,-282" class="fill-polygon" />
      <polygon points="142,73 142,10 77,109 145,100" transform="translate(-70,-66)" class="fill-polygon" />
      <polygon points="19 65 33.5,105 3.5,105" class="fill-blue-polygon" />
    </svg>
  </svg>
</div>
