@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';
.breadcrumb-top-padding {
  @include margin(0, 0, 12px, 0);
  box-sizing: border-box;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  width: 961px;
  .filter_bg {
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    .filter_title {
      color: $blue;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      margin: 9px 12px;
      float: left;
    }
    .filter_icon {
      color: $blue;
      margin: 9px 12px;
      float: left;
    }
  }
  .filter_bg:hover,
  .filter_bg:focus {
    background-color: #196ecf;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .filter_bg:active {
    background-color: #003da1;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
}

.payments-body {
  @include mat-elevation(2);
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include padding(16px, 20px, 30px, 20px);

  .payments-content {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: left;
    flex-wrap: wrap;
    .height1Separator {
      height: 0;
      width: 1200px;
    }

    & > .cards {
      text-align: left;
    }

    .cust-width-title {
      width: 100%;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      color: $black-rock;
      margin-left: 12px;

      .page-title {
        flex-basis: 100%;
        font-size: 36px;
        @include padding(16px, 0, 32px, 0);
        line-height: 40px;
      }
      .time--period {
        .horizontal-align {
          display: inline-block;
          margin: 5px 0;
        }
        button {
          span:first-child {
            font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
          }
          span.text-semibold {
            font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
          }
        }
      }
    }
    .claims-paid-content {
      width: 961px;
      border-radius: 2px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      margin: 12px;
      float: left;
      height: 525px;
      .claims-header {
        color: $strom-grey;
      }
      .timeperiod-block {
        border-top: 1px solid #efefef;
        position: absolute;
        /* bottom: 0; */
        margin-top: 490px;
        /* height: 44px; */
        width: 961px;
        z-index: 999999;
        .timeperiod-text {
          position: inherit;
          padding: 9px 20px 9px 16px;
          color: $strom-grey;
          font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
          font-size: 14px;
          letter-spacing: 0.2px;
          line-height: 17px;
          height: 30px;
          // margin-top: 5px;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    @include padding(16px, 20px, 16px, 20px);
  }
}
