<app-feedback></app-feedback>
<div class="payments-body">
  <div class="payments-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>
      <app-filters-applied></app-filters-applied>

      <!--<div class="breadcrumb-top-padding filter-div">-->
      <!--<div class="time&#45;&#45;period ">-->
      <!--<div class="filterchips">-->
      <!--<div class="horizontal-align">-->
      <!--<button class="btn btn-rounded" disabled>-->
      <!--<span>Time Period: </span><span class="text-semibold pl-4">{{ timePeriod }} </span>-->
      <!--</button>-->
      <!--</div>-->
      <!--<div class="horizontal-align" *ngFor="let tax of taxID">-->
      <!--<button class="btn btn-rounded" disabled>-->
      <!--<span>Tax ID: </span><span class="text-semibold pl-4">{{ tax }} </span>-->
      <!--<div class="close-btn">-->
      <!--<mat-icon class="icon-display" (click)="removeFilter('tax', tax)" svgIcon="close"></mat-icon>-->
      <!--</div>-->
      <!--</button>-->
      <!--</div>-->
      <!--<div class="horizontal-align" *ngIf="lob">-->
      <!--<button class="btn btn-rounded" disabled>-->
      <!--<span>Line of Business: </span><span class="text-semibold pl-4">{{ lob }} </span>-->
      <!--<div class="close-btn">-->
      <!--<mat-icon-->
      <!--class="icon-display"-->
      <!--(click)="removeFilter('lob', session.filterObjValue.lob)"-->
      <!--svgIcon="close"-->
      <!--&gt;</mat-icon>-->
      <!--</div>-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="filter_bg" (click)="openFilter()">-->
      <!--<mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>-->
      <!--<div class="filter_title">Filters</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
    </div>
    <div *ngFor="let item of payments">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item.status != null" class="cards" [data]="item"></app-error-card>
    </div>

    <!--Claims Paid Breakdown Graph Starts here -->
    <app-large-card [skeletonLarge]="loading" *ngIf="loadingClaimsBreakdown"></app-large-card>
    <app-error-card
      *ngIf="!loadingClaimsBreakdown && !claimsPaidBreakBool && cData[0].status != null"
      [data]="cData[0]"
    ></app-error-card>
    <div *ngIf="!loadingClaimsBreakdown && claimsPaidBreakBool" class="claims-paid-content">
      <app-common-header
        [title]="title"
        class="claims-header"
        (helpIconClicked)="helpIconClick($event)"
      ></app-common-header>
      <app-claims-paid-bar-graph [chartOptions]="cData[0]"></app-claims-paid-bar-graph>

      <div class="timeperiod-block">
        <app-common-footer [timePeriod]="timePeriod" [title]="title"></app-common-footer>
      </div>
    </div>
    <!--Claims Paid Breakdown Graph Ends here -->
    <app-clarify-claims-message></app-clarify-claims-message>
  </div>
</div>
