<app-feedback></app-feedback>
<div class="payments-body">
  <div class="payments-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>
      <app-filters-applied></app-filters-applied>
    </div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
    </div>
    <!--used item.toggle for temporary card removal, as toggle functionality is not built properly : srikar bobbiganipalli-->
    <div *ngFor="let item of payments">
      <app-card *ngIf="item.data != null && !item.toggle" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item.status != null" class="cards" [data]="item"></app-error-card>
    </div>

    <!--Claims Paid Breakdown Graph Starts here -->
    <app-large-card [skeletonLarge]="loading" *ngIf="loadingClaimsBreakdown"></app-large-card>
    <app-error-card
      *ngIf="!loadingClaimsBreakdown && !claimsPaidBreakBool && cData[0].status != null"
      [data]="cData[0]"
    ></app-error-card>
    <div *ngIf="!loadingClaimsBreakdown && claimsPaidBreakBool" class="claims-paid-content">
      <app-common-header
        [title]="title"
        class="claims-header"
        (helpIconClicked)="helpIconClick($event)"
      ></app-common-header>
      <app-claims-paid-bar-graph [chartOptions]="cData[0]"></app-claims-paid-bar-graph>

      <div class="timeperiod-block">
        <app-common-footer [timePeriod]="timePeriod" [title]="title"></app-common-footer>
      </div>
    </div>
    <!--Claims Paid Breakdown Graph Ends here -->
    <app-clarify-claims-message></app-clarify-claims-message>
  </div>
</div>
