<app-feedback></app-feedback>
<div class="gettingReimburse-body">
  <div class="gettingReimburse-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>
    </div>
    <div *ngFor="let item of payments">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item.status != null" class="cards" [data]="item"></app-error-card>
    </div>
    <div class="claims-paid-content">
      <app-claims-paid-bar-graph></app-claims-paid-bar-graph>
      <app-large-card [data]="claimsPaidItems"> </app-large-card>
    </div>
  </div>
</div>
