@import '~src/scss/variables.scss';
.footer-border {
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  height: 1px;
}
.common-footer {
  /*position: absolute;
  width: 94%;
  bottom: 0;
  width: 100%;
  text-align: left;*/
  height: 40px;
  .timePeriod {
    // padding: 8px 16px 129px 16px;
    padding: 11px 16px 11px 16px;
    color: rgb(117, 117, 136);
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    .link-button {
      color: #196ecf;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: right;
      display: inline-block;
      padding-left: 690px;
      cursor: pointer;
    }
  }
}
