@import '~src/scss/variables.scss';
.footer-border {
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  height: 1px;
}
.common-footer {
  /*position: absolute;
  width: 94%;
  bottom: 0;
  width: 100%;
  text-align: left;*/
  height: 40px;
  display: flex;
  .timePeriod {
    padding: 11px 16px;
    color: #757588;
    font-family: UHCSans-Medium,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 18px;
    text-align: left;
    display: block;
    flex: 8 0 0;
  }
   .link-button {
    color: #196ecf;
    font-family: UHCSans-Medium,Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 22px;
    text-align: right;
    display: block;
    cursor: pointer;
    padding: 8px 0 8px 16px;
    }
  .link-arrow{
    padding-left:0px;
    padding-right: 11px;
  }
}
