<div class="page1" *ngIf="selectedPage === 'overviewPage'">
  <app-overview [printStyle]="printStyle"></app-overview>
</div>
<div class="page1" *ngIf="selectedPage === 'gettingReimbursedSummary'">
  <app-getting-reimbursed [printStyle]="printStyle"></app-getting-reimbursed>
</div>
<div class="page1" *ngIf="selectedPage === 'paymentsPage'">
  <app-payments [printStyle]="printStyle"></app-payments>
</div>
<div class="page1" *ngIf="selectedPage === 'callsPage'">
  <app-calls [printStyle]="printStyle"></app-calls>
</div>
<div class="page1" *ngIf="selectedPage === 'appealsPage'">
  <app-appeals [printStyle]="printStyle"></app-appeals>
</div>
<div class="page1" *ngIf="selectedPage === 'nonPaymentsPage'">
  <app-non-payments [printStyle]="printStyle"></app-non-payments>
</div>
