<div class="page1" *ngIf="pagename === 'overview'">
  <app-overview [printStyle]="printStyle"></app-overview>
</div>
<div class="page1" *ngIf="pagename === 'grSummary'">
  <app-getting-reimbursed [printStyle]="printStyle"></app-getting-reimbursed>
</div>
<div class="page1" *ngIf="pagename === 'calls'">
  <app-calls [printStyle]="printStyle"></app-calls>
</div>

<!--<div class="page">
  <app-payments></app-payments>
</div>
<div class="page">
  <app-non-payments></app-non-payments>
</div>
<div class="page">
  <app-appeals></app-appeals>
</div>-->
