<div class="content-wrapper">
  <div class="main-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title" [class.page-title-subtitle]="pageSubTitle.length > 0">
        {{ pageTitle }}
      </div>
      <div class="page-subtitle">
        {{ pageSubTitle }}
      </div>
    </div>

    <div class="cards cust-width-blank"></div>
    <div class="height1Separator"></div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
    </div>

    <div *ngFor="let item of MRAStarData; let i = index">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
    </div>
    <div *ngFor="let item of MRACVCompletionData; let i = index">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item" [tabData]="PCORTabData"> </app-card>
    </div>
    <div *ngIf="!loading">
      <app-accordion-large-card
        [title]="qualityTitle"
        [qualityMeasure]="qualityMeasureData"
        [data]="starRatings"
        (ratingClick)="ratingComponentClick(i)"
      ></app-accordion-large-card>
    </div>
    <app-large-card [skeletonLarge]="loading" *ngIf="loading"></app-large-card>
  </div>
</div>
