@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '../prior-auth/prior-auth.component.scss';

.content-wrapper {
  .main-content {
    .cards {
      .non-small-card-header-title {
        color: #2d2d39 !important;
        word-break: break-word;
        width: 360px;
      }
    }
  }
}

.print-page-title {
  padding-top: 30px;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-size: 36px;
}
.print-page-subtitle {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  line-height: 40px;
  flex-basis: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 98.5%;
}
.report-Tile {
  box-sizing: border-box;
  height: 79px;
  width: 961px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: $alice-blue;
  margin: 12px;

  .report-Title {
    color: $black-rock;
    font-family: 'UHCSans-SemiBold';
    font-size: 20px;
    padding-top: 12.5px;
    padding-left: 16.5px;
    line-height: 22px;
  }
  .report-Subtitle {
    color: $black-rock;
    font-family: 'UHCSans-Medium';
    font-size: 16px;
    letter-spacing: 0.2px;
    padding-left: 16.5px;
    padding-top: 6px;
    line-height: 22px;

    .report-Link {
      cursor: pointer;
      color: $blue;
      display: inline;
    }
    .icon {
      position: absolute;
      color: $blue;
    }
  }
}
