<div class="content-wrapper">
  <div class="main-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">
        {{ pageTitle }}
      </div>
    </div>

    <div class="cards cust-width-blank"></div>
    <div class="height1Separator"></div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
    </div>

    <div *ngFor="let item of MRAStarData; let i = index">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
    </div>
    <div *ngFor="let item of MRACVCompletionData; let i = index">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item" [tabData]="PCORTabData"> </app-card>
    </div>

    
    <app-accordion-large-card
      [title]="qualityTitle"
      [qualityMeasure]="qualityMeasureData"
      [data]="StarRatings"
      (ratingClick)="ratingComponentClick(i)"
      *ngIf="!loading"
    ></app-accordion-large-card>
    <app-accordion-large-card [skeletonLarge]="loading" *ngIf="loading"></app-accordion-large-card>
   <!-- 
    <app-large-card [skeletonLarge]="loading" *ngIf="loading"></app-large-card>
    <app-large-card [data]="StarRatings" *ngIf="StarRatings.length > 1"></app-large-card>
-->
  </div>
</div>
