@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '../prior-auth/prior-auth.component.scss';

.content-wrapper {
  .main-content {
    .cards {
      .non-small-card-header-title {
        color: #2d2d39 !important;
        word-break: break-word;
        width: 360px;
      }
    }
  }
}

.print-page-main-title {
  padding-top: 30px;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-size: 36px;
}

.print-page-title1 {
  padding-top: 30px;
  font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-size: 36px;
}
.print-page-subtitle {
  font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
  line-height: 40px;
  flex-basis: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 98.5%;
}
