@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '../prior-auth/prior-auth.component.scss';

.content-wrapper {
  .main-content {
    .cards {
      .non-small-card-header-title {
        color: #2d2d39 !important;
        word-break: break-word;
        width: 360px;
      }
    }
  }
}
