@import '~src/scss/variables.scss';

.breadcrumb li {
  display: inline;
  font-size: 14px;
  font-family: 'UHCSans-Medium', 'Arial';
  font-weight: 500;
  padding-right: 5px;
}

.overview-arrow {
  color: $blue;
  padding-left: 5px;
}

.disable-arrow {
  color: $strom-grey;
  padding-left: 5px;
}

.disable-link {
  color: $strom-grey !important;
  text-decoration: none;
}

.breadcrumb {
  a {
    color: $blue;
    font-family: 'UHCSans-Medium';
    font-weight: 500;
  }
}
