@import '~src/scss/variables.scss';

.breadcrumb li {
  display: inline;
  font-size: 14px;
  font-family: 'UHCSans-SemiBold', 'Arial';
  padding-right: 5px;
}

.disable-link {
  color: #757588 !important;
  text-decoration: none;
}

.breadcrumb {
  a {
    color: #196ecf;
  }
}
