@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';
.breadcrumb-top-padding {
  @include margin(12px, 0, 0, 0);
  box-sizing: border-box;

  .filter_bg {
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    margin-right: 15px;

    .filter_title {
      color: $blue;
      font-family: 'UHCSans-SemiBold', 'Arial';
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      margin: 9px 0;
      float: left;
    }
    .filter_icon {
      color: $blue;
      margin: 7px 10px;
      float: left;
    }
  }
  .filter_bg:hover,
  .filter_bg:focus {
    background-color: #196ecf;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .filter_bg:active {
    background-color: #003da1;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
}

@mixin sidenav-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  // $background-color: mat-color($background);
  .gettingReimburse-body {
    // background-color: mat-color($accent);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include padding(16px, 0, 64px, 0);

    .gettingReimburse-content {
      display: flex;
      justify-content: left;
      width: 1000px;
      margin: auto;
      flex-wrap: wrap;

      .getting-reimbursed-cards {
        display: inline-flex;
        margin-left: -8px;
        /*margin-top: 15px;*/
        margin-top: 10px;
      }
      .filter-div {
        line-height: 0;
      }
      .time--period {
        .filterchips {
          width: 830px;
          float: left;
          .horizontal-align {
            display: inline-block;
            margin: 5px 17px 5px 0;
            .btn-rounded {
              height: 34px;
              padding: 0.355rem 0.78125rem;
            }
          }
          button {
            span:first-child {
              font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
            }
            span.text-semibold {
              font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
            }
          }
          .close-btn {
            display: inherit;
            position: relative;
            cursor: pointer;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            padding: 0 0 0 8px;
            margin-top: -1px;
            .icon-display {
              color: #757588;
            }
          }
        }
      }
      .height1Separator {
        height: 0;
        width: 1200px;
      }
      & > .cards {
        text-align: left;
      }
      .cust-width-title {
        width: 961px;
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        color: $black-rock;
        margin-left: 10px;

        .page-title {
          flex-basis: 100%;
          font-size: 36px;
          @include padding(16px, 0, 20px, 0);
          line-height: 40px;
          font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
        }
        .page-subtitle {
          flex-basis: 100%;
          font-size: 28px;
          display: flex;
          flex-direction: row;
          position: relative;
          justify-content: space-between;
          width: 98.5%;
          .page-subtitle-heading {
            margin-right: 100px;
            margin-top: 4px;
            line-height: 32px;
          }

          .details-button {
            padding: 10px 23px 10px 23px;
            border-radius: 2px;
            color: white;
            background: #196ecf;
            text-align: center;
            border: 1px solid #196ecf;
            font-size: 16px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            /*position: absolute;*/
            right: 16px;
            letter-spacing: 0.2px;
            font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
          }

          .details-button:hover {
            cursor: pointer;
            background-color: $blue-base;
            color: white;
          }
          .details-button:active {
            background-color: white;
            color: #196ecf;
          }
        }
        /* tabs css starts here*/
        .container--tabs {
          clear: left;
          width: 98.5%;
          line-height: 25px;
          /*margin-bottom: 24px;*/
          margin-bottom: 20px;
          padding-top: 24px;

          .nav-tabs {
            display: flex;
            border-radius: 2px;
            list-style-type: none;
            font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
            color: $black-rock;
            > li {
              flex-basis: 100%;
              background-color: $white;
              border: 0.5px solid #e0e0e0;
              border-radius: 2px;
              padding: 10px 20px;
              cursor: pointer;
              color: $strom-grey;

              > span {
                font-size: 16px;
                font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
                letter-spacing: 0.2px;
                line-height: 22px;
              }

              &.active {
                background-color: mat-color($accent);
                border-top: 4px solid #196ecf;
                border-radius: 2px 2px 0 0;
                border-bottom-color: transparent;
                text-decoration: none;
                margin-top: -3px;
                border-left: 0;
                border-right: 0;
                color: $black-rock;
              }

              .nav-values {
                color: #2d2d39;
                font-size: 18px;
                font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
                line-height: 22px;
                .metrics {
                  font-size: 14px;
                  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
                  letter-spacing: 0.2px;
                  line-height: 18px;
                }
                .upgreen {
                  color: #007000;
                }
                .downred {
                  color: color(red, dark);
                }
              }

              &:hover,
              &:focus {
                border-top: 4px solid #196ecf;
                text-decoration: none;
                margin-top: -3px;
                border-radius: 2px 2px 0 0;
              }
            } // li styling
          }
        }
        /* ends tabs css ends here*/
      }
      /* end cust-width title heirarchy*/
    }
  }
  .non-payment-link {
    font-size: 16px;
    float: right;
    color: $blue;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    margin-left: 150px;
    margin-top: 15px;
  }
  @media only screen and (max-width: 1024px) {
    @include padding(16px, 0, 16px, 0);
  }
}

.pageBreak {
  page-break-after: always;
}
