@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';
.breadcrumb-top-padding {
  @include margin(12px, 0, 24px, 0);
  box-sizing: border-box;

  .filter_bg {
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    .filter_title {
      color: $blue;
      font-family: 'UHCSans-SemiBold', 'Arial';
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      margin: 9px 0;
      float: left;
    }
    .filter_icon {
      color: $blue;
      margin: 7px 10px;
      float: left;
    }
  }
  .filter_bg:hover,
  .filter_bg:focus {
    background-color: #196ecf;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .filter_bg:active {
    background-color: #003da1;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
}

@mixin sidenav-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background);
  .gettingReimburse-body {
    background-color: mat-color($accent);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include padding(16px, 0, 64px, 0);

    .gettingReimburse-content {
      display: flex;
      // -webkit-flex-flow: row wrap;
      justify-content: center;
      flex-wrap: wrap;
      .getting-reimbursed-cards {
        display: inline-flex;
        flex-direction: column;
      }
      .filter-div {
        overflow: auto;

        line-height: 0;
      }
      .time--period {
        .filterchips {
          width: 857px;
          float: left;
          .horizontal-align {
            display: inline-block;
            margin: 5px 17px 5px 0;
            .btn-rounded {
              height: 34px;
              padding: 0.355rem 0.78125rem;
            }
          }
          button {
            span:first-child {
              font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
            }
            span.text-semibold {
              font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
            }
          }
          .close-btn {
            display: inherit;
            position: relative;
            cursor: pointer;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            padding: 0 0 0 8px;
            margin-top: -1px;
            .icon-display {
              color: #757588;
            }
          }
        }
      }
      .height1Separator {
        height: 0;
        width: 1200px;
      }
      & > .cards {
        text-align: left;
      }
      .cust-width-title {
        width: 961px;
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        color: $black-rock;

        .page-title {
          flex-basis: 100%;
          font-size: 36px;
          @include padding(16px, 0, 20px, 0);
          line-height: 40px;
        }
        .page-subtitle {
          flex-basis: 100%;
          font-size: 28px;
          line-height: 32px;
          margin-bottom: 12px;
        }
        /* tabs css starts here*/
        .container--tabs {
          clear: left;
          width: 100%;
          line-height: 25px;
          margin-bottom: 12px;
          padding-top: 24px;
          .nav-tabs {
            display: flex;
            border-radius: 2px;
            list-style-type: none;
            font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
            color: $black-rock;
            > li {
              flex-basis: 100%;
              background-color: $white;
              border: 1px solid #e0e0e0;
              border-radius: 2px;
              padding: 10px 20px;
              cursor: pointer;
              > span {
                font-size: 16px;
                font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
                letter-spacing: 0.2px;
              }
              &.active,
              &.active:hover,
              &.active:focus {
                background-color: mat-color($accent);
                border: 1px solid #ddd;
                border-top: 4px solid #196ecf;
                border-radius: 2px 2px 0 0;
                border-bottom-color: transparent;
                text-decoration: none;
              }
              .nav-values {
                color: #2d2d39;
                font-size: 18px;
                font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
                .metrics {
                  font-size: 14px;
                  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
                  letter-spacing: 0.2px;
                  line-height: 18px;
                }
                .upgreen {
                  color: #007000;
                }
                .downred {
                  color: color(red, dark);
                }
              }
            }
          }
        }
        /* ends tabs css ends here*/
      }
      /* end cust-width title heirarchy*/
    }
  }
  @media only screen and (max-width: 1024px) {
    @include padding(16px, 0, 16px, 0);
  }
}
