<app-feedback></app-feedback>
<div class="gettingReimburse-body">
  <div class="gettingReimburse-content">
    <div class="cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>

      <div class="breadcrumb-top-padding filter-div">
        <div class="time--period ">
          <div class="horizontal-align">
            <button class="btn btn-rounded" disabled>
              <span>Time Period: </span><span class="text-semibold pl-4">{{ timePeriod }} </span>
            </button>
          </div>
          <div class="filter_bg" (click)="openFilter()">
            <mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>
            <div class="filter_title">Filters</div>
          </div>
        </div>
      </div>

      <div class="container--tabs">
        <section class="row">
          <ul class="nav nav-tabs">
            <li
              *ngFor="let item of tabOptions; let i = index"
              (click)="matOptionClicked(i, $event)"
              [ngClass]="{ active: selectedItemId === i }"
            >
              <span>
                {{ item.title }}
                <div class="nav-values">
                  {{ item.value1 }}
                  <span class="metrics" [ngClass]="item.sdata.sign === 'up' ? 'upgreen' : 'downred'">
                    {{ item.sdata.value }}
                  </span>
                </div>
              </span>
            </li>
          </ul>
        </section>
      </div>

      <!--       <button *ngFor="let option of tabOptions; let i = index" (click)="matOptionClicked(i)">{{ option }}</button>-->
      <div class="page-subtitle">{{ currentTabTitle }}</div>
    </div>
    <div class="height1Separator"></div>
    <div *ngFor="let item of currentSummary">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item.status != null" class="cards" [data]="item"></app-error-card>
    </div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
    </div>
  </div>
</div>
