<!-- <div id="{{ renderedId }}"></div> -->
<div class="bar-types">
  <div class="small-bar" *ngIf="data.type == 'rlp-small-bar'">
    <div class="small-bar-head">{{ data.data.gdata[0].count }}</div>
    <div class="small-bar-body">
      <app-common-bar [config]="config.smallCard"></app-common-bar>
      <div class="small-card-percentage">{{ data.data.gdata[0].percentage }}%</div>
    </div>
  </div>
  <div class="large-bar" *ngIf="data.type == 'rlp-large-bar'">
    <div class="large-bar-head">{{ data.data.gdata[0].count }}</div>
    <div class="large-bar-body">
      <app-common-bar [config]="config.largeCard"></app-common-bar>
      <div class="large-card-percentage">{{ data.data.gdata[0].percentage }}%</div>
    </div>
  </div>
  <div class="table-bar" *ngIf="data.type == 'rlp-table-bar'">
    <div class="table-bar-head">{{ data.data.gdata[0].count }}</div>
    <div class="table-bar-body">
      <app-common-bar [config]="config.tableCard"></app-common-bar>
    </div>
    <div class="table-bar-percentage ">{{ data.data.gdata[0].percentage }}%</div>
  </div>
</div>
