<div class="content-wrapper">
  <div class="main-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">
        North Region Health System
      </div>
    </div>
    <div class="health-system-details-block" *ngIf="healthSystemData">
      <div class="health-system-details" *ngIf="healthSystemData.All">
        <div class="health-system-tins">
          TINs:
        </div>
        <div class="health-system-tins-value">
          {{ healthSystemData.All.length }}
        </div>
      </div>
      <div class="health-system-details" *ngIf="healthSystemData.RegionName">
        <div class="health-system-regions">
          Region(s):
        </div>
        <div class="health-system-regions-value">
          {{ healthSystemData.RegionName | titlecase }}
        </div>
      </div>
      <div class="health-system-details" *ngIf="healthSystemData.MajorMarketName">
        <div class="health-system-markets">
          Market(s):
        </div>
        <div class="health-system-markets-value">
          {{ healthSystemData.MajorMarketName | countryFormatter }}
        </div>
      </div>
      <div class="health-system-details" *ngIf="healthSystemData.TinTypes">
        <div class="health-system-tin-types">
          TIN types:
        </div>
        <div class="health-system-tin-types-value">
          <span *ngFor="let tin of healthSystemData.TinTypes; let isLast = last"
            >{{ tin | sliceString }}{{ isLast ? '' : ', ' }}</span
          >
        </div>
      </div>
      <div class="viewIBttn">
        <button type="submit" class="applybtn btn btn-primary" (click)="viewInsights()">View Insights</button>
      </div>
    </div>
    <div class="line"></div>
    <!--<app-tax-summary [data]="taxSummaryData.data"></app-tax-summary>-->

    <div class="tax-summary-content">
      <div class="tax-summary-head">
        <span class="tax-summary-title">Tax ID Summary</span>
        <span class="tax-summary-count">Showing {{ numberOfTins }}</span>
      </div>

      <div class="tax-summary-body">
        <div class="tax-summary-table-block mat-elevation-z8">
          <table mat-table [dataSource]="taxSummaryData" matSort matSortDirection="asc">
            <ng-container matColumnDef="Tin">
              <th mat-header-cell *matHeaderCellDef>
                <span mat-sort-header>Tax ID Number</span>
                <div>
                  <input type="text" (keyup)="searchTaxId($event.target.value)" placeholder="Find Tax ID Number" />
                </div>
              </th>
              <td mat-cell class="tax-summary-body-table-div-body-tin-cell" *matCellDef="let element">
                {{ element.Tin }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Tinname">
              <th mat-header-cell *matHeaderCellDef>
                Tax ID Name
                <div class="">
                  <input type="text" (keyup)="searchTaxId($event.target.value)" placeholder="Find Tax ID Name" />
                </div>
              </th>
              <td mat-cell class="tax-summary-body-table-div-body-tinname-cell" *matCellDef="let element">
                {{ element.TinName | titlecase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="TaxIdType">
              <th mat-header-cell *matHeaderCellDef>
                Tax ID Type
                <div class="">
                  <input type="text" />
                  <mat-icon matPrefix class="nav-menu-icons" svgIcon="arrow"></mat-icon>
                </div>
              </th>
              <td mat-cell class="tax-summary-body-table-div-body-tinname-cell" *matCellDef="let element">
                {{ element.TaxIdType | sliceString }}
              </td>
            </ng-container>

            <ng-container matColumnDef="MajorMarketName">
              <th mat-header-cell *matHeaderCellDef>
                Market
                <div class="">
                  <select>
                    <option>All</option>
                    <option>{{ healthSystemData.MajorMarketName | countryFormatter }}</option>
                  </select>
                  <mat-icon matPrefix class="nav-menu-icons" svgIcon="arrow"></mat-icon>
                </div>
              </th>
              <td mat-cell class="tax-summary-body-table-div-body-tinname-cell" *matCellDef="">
                {{ healthSystemData.MajorMarketName | countryFormatter }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="taxSummaryColumns"></tr>
            <tr mat-row class="tax-summary-rows" *matRowDef="let row; columns: taxSummaryColumns"></tr>
          </table>

          <mat-paginator class="tax-summary-paginator" [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
