@import '~src/scss/variables.scss';
@import '~src/scss/mixins';

.line {
  height: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  border: 1px solid $gainsboro;
  z-index: 999;
  margin: 8px 0;
}
.cust-width-title {
  width: 100%;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  color: $black-rock;
  .page-title {
    flex-basis: 100%;
    font-size: 36px;
    @include padding(26px, 0, 10px, 0);
    color: $black-rock;
    font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
  }
  .healthcare-org-name {
    $font-family-UHC: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif !default;
    padding-bottom: 10px;
    font-size: 22px;
    color: $black-rock;
    display: inline-flex;

    .Group-premium-designation {
      width: 44px;
      height: 18px;
      border-radius: 10px;
      font-size: 14px;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      letter-spacing: 0.2px;
      line-height: 18px;
      color: white;
      background-color: #00a8f7;
      text-align: center;
      margin-top: 0px;
      padding-top: 0px;
      margin-left: 10px;
    }
  }
}

.health-system {
  &-details-block {
    display: inline-flex;
    position: relative;
    width: 100%;
  }
  &-details {
    margin: 16px 30px 16px 10px;
    max-width: 150px;
  }
  &-tins,
  &-regions,
  &-markets,
  &-bic,
  &-tin-types {
    color: $strom-grey;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    line-height: 18px;
    margin-bottom: 8px;
  }
  &-tins-value,
  &-regions-value,
  &-markets-value,
  &-bic-value,
  &-tin-types-value {
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    line-height: 18px;
  }
  &-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
  }
}

.tax-summary-block {
  width: 100%;
}
