<div class="overview-body" color="primary" id="print-overview">
  <div class="overview-content">
    <div class="cards cust-width-title">
      <div class="page-title">{{ pageTitle }}</div>
      <!-- <div class="page-subtitle">{{ pagesubTitle }}</div> -->
    </div>
    <div class="cards cust-width-blank">
      <!-- <app-print
      [printDivId]="'print-overview'"
      [printName]="'Overview Page'"
      [printHeight]="printHeight"
      [printWidth]="printWidth">
      &gt;</app-print> -->
    </div>
    <div class="height1Separator"></div>

    <div class="breadcrumb-top-padding filter-div">
      <div class="time--period ">
        <div class="filterchips">
          <div class="horizontal-align">
            <button class="btn btn-rounded" disabled>
              <span>Time Period: </span
              ><span *ngIf="npsLoaded" class="text-semibold pl-4"
                >{{ kopInsightsData.timePeriod.title }} ({{ kopInsightsData.timePeriod.timeFrame | timeperiod }})
              </span>
            </button>
          </div>
        </div>
        <div class="filter_bg" (click)="openFilter()">
          <mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>
          <div class="filter_title">Filters</div>
        </div>
      </div>
    </div>

    <div class="overview-section" *ngIf="npsLoaded">
      <div class="section-header">
        <div class="cards section-header-part">
          <div class="title">{{ kopInsightsData.npsSummary.title }}</div>
        </div>
        <div class="cards section-header-part2">
          <ul class="quarterslist">
            <li *ngFor="let quarter of kopInsightsData.timePeriod.quarters">
              <div class="circle" [ngClass]="quarter.color"></div>
              {{ quarter | quarterpipe }}
            </li>
          </ul>
        </div>
      </div>
      <div class="height1Separator"></div>
      <app-small-card
        class="cards"
        [options]="npsCardOptions"
        *ngFor="let npsItem of kopInsightsData.npsSummary.data"
        [data]="npsItem"
      >
      </app-small-card>

      <div class="kop-insights">Insights</div>
      <div>
        <!-- <app-large-card-kop [data]="kopInsightsData.networkParticipation.data"></app-large-card-kop> -->
        <app-large-card-kop [data]="kopInsightsData.careDelivery"></app-large-card-kop>
        <!-- <app-large-card-kop [data]="kopInsightsData.reimbursement.data"></app-large-card-kop> -->
        <!-- <app-large-card-kop [data]="kopInsightsData.issueResolution.data"></app-large-card-kop> -->
        <!-- <app-large-card-kop [data]="kopInsightsData.engagement.data"></app-large-card-kop> -->
      </div>
    </div>
  </div>
</div>

<!-- <app-uhc-loader *ngIf="loading"></app-uhc-loader> -->
