@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';

.breadcrumb-top-padding {
  box-sizing: border-box;
  width: 100%;

  .filter_bg {
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    cursor: pointer;

    .filter_title {
      color: $blue;
      font-family: 'UHCSans-SemiBold', 'Arial';
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      margin: 9px 0;
      float: left;
    }
    .filter_icon {
      color: $blue;
      margin: 7px 10px;
      float: left;
    }
  }
  .filter_bg:hover,
  .filter_bg:focus {
    background-color: #196ecf;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .filter_bg:active {
    background-color: #003da1;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .time--period {
    .filterchips {
      float: left;
      .horizontal-align {
        display: inline-block;
        margin: 5px 17px 5px 0;
        .btn-rounded {
          height: 34px;
          padding: 0.355rem 0.78125rem;
        }
      }
      button {
        span:first-child {
          font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
        }
        span.text-semibold {
          font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        }
      }
      .close-btn {
        display: inherit;
        position: relative;
        cursor: pointer;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 8px;
        margin-top: -1px;
        .icon-display {
          color: #757588;
        }
      }
    }
  }
}
.overview-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .section-header div {
    display: inline-block;
  }
  .section-header {
    width: 100%;
    color: $black-rock;
    .section-header-part {
      .title {
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        flex-basis: 100%;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 16px;
        color: $black-rock;
        height: 32px;
      }
    }
    .section-header-part2 {
      padding: 10px 10px;
      margin-left: 20px;
      vertical-align: middle;
      .quarterslist {
        .circle {
          height: 14px;
          width: 14px;
          border-radius: 10px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;
        }
        .circle.color1 {
          background: $dodger-blue;
        }
        .circle.color2 {
          background: $iris-blue;
        }
        li {
          list-style-type: none;
          float: left;
          margin: 0 10px;
          letter-spacing: 0.2px;
          font-size: 14px;
        }
      }
    }
    .section-header-part3 {
      float: right;
      button {
        height: 40px;
        width: 138px;
        background: $blue;
        color: $white;
        border: none;
        font-family: 'UHCSans-SemiBold', 'Arial';
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 22px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
.nps-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.height-30 {
  height: 30px;
  width: 100%;
}
.cards {
  text-align: left;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  line-height: 75px;
}
.cust-width-title {
  width: 100%;
  color: $black-rock;
  font-size: 36px;
  line-height: 2;
  margin-bottom: 16px;
  font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
  .page-subtitle {
    flex-basis: 100%;
    font-size: 28px;
    line-height: 50px;
  }
  .page-question {
    flex-basis: 100%;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 8px;
  }
  .self-service-link {
    color: $blue;
    // font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: right;
    margin-top: 51px;
    a {
      text-decoration: none;
      color: $blue;
      .icon-display {
        vertical-align: middle;
      }
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 1300px) {
  .cust-width-blank {
    min-width: 437px;
  }
}

.kop-insights {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin: 10px 0;
}

.error-icon {
  width: 64px;
  height: 64px;
  color: red;
}

.align-center {
  text-align: center;
}

.error-text {
  color: #757588;
  font-size: 16px;
  font-family: 'UHCSans-Medium';
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 15px;
}

.m-left-30 {
  margin-left: 30%;
  padding-top: 10px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.btn-class {
  box-sizing: border-box;
  height: 41px;
  width: 97px;
  border: 1px solid #196ecf;
  border-radius: 2px;
  font-size: 16px;
  background-color: #196ecf;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: 'UHCSans-Medium';
  color: #ffffff;
  cursor: pointer;
}
