@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';

.overview-body {
  @include mat-elevation(2);
  // background-color: mat-color($accent);
  overflow: hidden;
  @include padding(30px, 0, 64px, 0);

  .overview-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 40px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    .overview-subheading {
      font-family: 'UHC Sans';
      background: #e0e0e0;
      border: 1px solid #b3babc;
      border-radius: 16px;
      border: 1px solid rgb(205, 211, 213);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      padding: 8px 10px;
    }
    .overview-subheading span {
      font-weight: 600;
    }
    .overview-section {
      display: flex;
      flex-wrap: wrap;
      .section-header {
        display: flex;
        padding-top: 30px;
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        color: $black-rock;
        .section-header-part {
          .title {
            font-family: 'UHC Sans';
            flex-basis: 100%;
            font-size: 28px;
            line-height: 1;
            margin-bottom: 16px;
            color: $black-rock;
            height: 32px;
            font-weight: 600;
          }
        }
        .section-header-part2 {
          padding: 10px 10px;
          margin-left: 20px;
          .quarterslist {
            .circle {
              height: 14px;
              width: 14px;
              border-radius: 10px;
              display: inline-block;
              vertical-align: bottom;
              margin: 0 5px;
            }
            .circle.color1 {
              background: #3381ff;
            }
            .circle.color2 {
              background: #90eef0;
            }
            li {
              list-style-type: none;
              float: left;
              margin: 0 10px;
              letter-spacing: 0.2px;
              font-size: 14px;
            }
          }
        }
      }
    }

    .height1Separator {
      height: 0;
      width: 1200px;
    }
    & > .cards {
      text-align: left;
      line-height: 75px;
    }
    .cust-width-title {
      width: 50%;
      // margin-left: 10px;
      // font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      color: $black-rock;
      .page-title {
        flex-basis: 100%;
        font-size: 36px;
        line-height: 2;
        margin-bottom: 16px;
        color: $black-rock;
        font-family: 'UHC Sans';
      }
      .title-opportunity {
        flex-basis: 100%;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 16px;
        color: $black-rock;
      }
      .page-subtitle {
        flex-basis: 100%;
        font-size: 28px;
        line-height: 50px;
      }
      .page-question {
        flex-basis: 100%;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 8px;
      }
      .self-service-link {
        color: $blue;
        // font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 22px;
        text-align: right;
        margin-top: 51px;
        a {
          text-decoration: none;
          color: $blue;
          .icon-display {
            vertical-align: middle;
          }
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .cust-width-blank {
      width: 487px;
      margin-left: 20px;
    }
    @media (max-width: 1300px) {
      .cust-width-blank {
        min-width: 437px;
      }
    }
  }
}
