@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.tin-list-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  padding-bottom: 24px;
  background-color: $alice-blue;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.nav-menu-icons-back-button {
  height: 40px;
  width: 40px;
}

.tin-list-head {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  color: #2d2d39;
  font-family: 'UHCSans-Regular';
  font-size: 36px;
  line-height: 40px;
}

.tin-list-sub-head-provider-name {
  color: #2d2d39;
  font-family: 'UHCSans-SemiBold';
  font-size: 22px;
  line-height: 28px;
}

.tin-list-sub-head-tin-number-div {
  padding-top: 32px;
  display: flex;
  color: #2d2d39;
  font-family: 'UHCSans-Regular';
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
  .tin-list-sub-head-tin-number {
    font-family: 'UHCSans-SemiBold';
  }
  padding-bottom: 23px;
  border-bottom: 1px solid #e0e0e0;
}

.tin-list-body {
  margin-top: 24px;
  .tin-list-body-head {
    color: #757588;
    font-family: 'UHCSans-Regular';
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }
  .tin-list-body-table-div {
    background-color: #ffffff;
    padding-top: 16px;
    min-height: 100px;
    .tin-list-body-table-head {
      display: flex;
      padding-bottom: 16px;
      border-bottom: solid 1px #757588;
      .tin-list-body-table-head-left {
        flex: 50%;
        padding-left: 16px;
        padding-right: 16px;
      }
      .tin-list-body-table-head-right {
        flex: 50%;
        padding-left: 16px;
        padding-right: 16px;
      }
      .tin-list-body-table-head-sub-head {
        color: #2d2d39;
        font-family: 'UHCSans-SemiBold';
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 22px;
        padding-bottom: 16px;
      }
      .tin-list-body-table-head-text-input-div {
        height: 40px;
        margin: auto;
      }
      .tin-list-body-table-head-text-input {
        width: 273px;
        height: 38px;
        border: solid 1px #757588;
        border-right: none;
        border-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        float: left;
        outline: none;
        padding: 0;
      }
      .tin-list-body-table-head-text-input-icon {
        margin-left: -1px;
        width: 29px;
        height: 38px;
        border: solid 1px #757588;
        border-left: none;
        border-radius: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        float: left;
      }
      .tin-list-icon-search {
        color: #757588;
        margin: 8px;
        margin-left: 0;
      }
    }
  }
}

table {
  width: 100%;
}
