<div class="tin-list-content">
  <div class="tin-list-head">
    <mat-icon class="nav-menu-icons nav-menu-icons-back-button" svgIcon="backButton"></mat-icon> Tax ID Summary
  </div>
  <div class="tin-list-sub-head">
    <div class="tin-list-sub-head-provider-name">{{ providerName }}</div>
    <div class="tin-list-sub-head-tin-number-div">
      Tax IDs:
      <div class="tin-list-sub-head-tin-number">{{ numberOfTins }}</div>
    </div>
  </div>
  <div class="tin-list-body">
    <div class="tin-list-body-head">
      <div class="tin-list-body-head-left">Showing {{ numberOfTins }} Tax ID results</div>
      <div class="tin-list-body-head-right">Last update Sep 1,2019</div>
    </div>
    <div class="tin-list-body-table-div">
      <div class="tin-list-body-table-head">
        <div class="tin-list-body-table-head-left">
          <div class="tin-list-body-table-head-sub-head">Tax ID Number</div>
          <div class="tin-list-body-table-head-text-input-div">
            <input type="text" class="tin-list-body-table-head-text-input" />
            <div class="tin-list-body-table-head-text-input-icon">
              <mat-icon class="tin-list-icon-search" svgIcon="search"></mat-icon>
            </div>
          </div>
        </div>
        <div class="tin-list-body-table-head-right">
          <div class="tin-list-body-table-head-sub-head">Tax ID Name</div>
          <div class="tin-list-body-table-head-text-input-div">
            <input type="text" class="tin-list-body-table-head-text-input" />
            <div class="tin-list-body-table-head-text-input-icon">
              <mat-icon class="tin-list-icon-search" svgIcon="search"></mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="tin-list-body-table-div-body">
        <!-- <table mat-table [dataSource]="selectedtins" class="mat-elevation-z8">
                    <ng-container matColumnDef="Tin">
                        <td mat-cell *matCellDef="let element"> {{element.Tin}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Tinname">
                        <td mat-cell *matCellDef="let element"> {{element.Tinname}} </td>
                    </ng-container>
                </table> -->
      </div>
    </div>
  </div>
</div>
