<div class="home-advocate-body">
  <div class="home-advocate-content">
    <div class="cards cust-width-title ">
      <div class="page-title">{{ pageTitle }}</div>
      <div class="page-subtitle">{{ pagesubTitle }}</div>
      <app-dropdown></app-dropdown>
      <form class="example-form" [formGroup]="usersForm">
        <mat-form-field class="example-full-width" appearance="outline" [style.width.px]="400">
          <input matInput placeholder="{{ currentPlaceholder }}" [matAutocomplete]="auto" formControlName="userInput" />
        </mat-form-field>
        <span>Your choice is: {{ usersForm.get('userInput').value | json }}</span>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [panelWidth]="400">
          <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="40"></mat-spinner></mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of filteredUsers" [value]="user">
              <span>{{ user.TinName }}</span>
              <small> | ID: {{ user.BicId }}</small>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </form>
    </div>
  </div>
</div>
