<app-layoutcontainer id="print-overview">
  <div class="cards cust-width-title ">
    <div class="page-title">{{ pageTitle }}</div>
    <div class="page-subtitle">{{ pagesubTitle }}</div>
    <div class="search-title-block">
      <mat-icon matPrefix class="nav-menu-icons search-title-icon" svgIcon="search"></mat-icon>
      <p class="search-title">Search</p>
    </div>
    <p class="search-sub-title">Search By Health System Name, Tax ID Number or Tax ID name</p>
    <div class="home-advocate-search">
      <app-dropdown [dropdownList]="dropDownArray" (valueChange)="valueDropdown($event)"></app-dropdown>
      <!-- Search code starts here -->
      <div class="search-container">
        <form class="example-form" [formGroup]="usersForm">
          <mat-form-field class="search-mat-field" appearance="outline" [style.width.px]="386">
            <input
              matInput
              placeholder="{{ currentPlaceholder }}"
              maxlength="30"
              [matAutocomplete]="auto"
              formControlName="userInput"
              (keyup)="onSearchInput($event.target.value)"
              (click)="onSearchClick($event.target.value)"
            />

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnWrapper()" [panelWidth]="386">
              <mat-option *ngIf="isLoading || blankInput || noSearchFound" class="is-loading" #option>
                <mat-spinner *ngIf="searchedString.length > 2 && !noSearchFound" diameter="40"></mat-spinner>
                <p *ngIf="blankInput || searchedString.length < 3 || noSearchFound" class="min-length-text">
                  {{ noResponseMessage }}
                </p>
              </mat-option>
              <ng-container *ngIf="!isLoading && searchedString">
                <mat-option class="optionHeight" *ngFor="let user of filteredUsers | async" [value]="user">
                  <div class="option-container" *ngIf="selectedDropdown === 'hco'">
                    <span
                      class="primary-option"
                      [ngClass]="user.ProviderSystem ? '' : 'showNAText'"
                      innerHTML="{{ user.ProviderSystem | searchHighlight: searchedString }}"
                    ></span>
                    <span class="sub-text">
                      <span class="margin-right-24" [ngClass]="user.ActiveTaxIds ? '' : 'showNAText'">
                        Total Active Tax ID: {{ user.ActiveTaxIds ? user.ActiveTaxIds : 'Not Available' }}
                      </span>
                      <span [ngClass]="user.BicId ? '' : 'showNAText'">
                        Genesis System ID: {{ user.BicId ? user.BicId : 'Not Available' }}
                      </span>
                    </span>
                  </div>
                  <div class="option-container" *ngIf="selectedDropdown === 'tin'">
                    <span
                      class="primary-option"
                      [ngClass]="user.Tin ? '' : 'showNAText'"
                      innerHTML="{{ user.Tin ? (user.Tin | searchHighlight: searchedString) : 'Not Available' }}"
                    ></span>
                    <span class="sub-text">
                      <span class="margin-right-24" [ngClass]="user.TinName ? '' : 'showNAText'">
                        {{ user.TinName ? (user.TinName | titlecase) : 'Not Available' }}
                      </span>
                      <span [ngClass]="user.ProviderSystem ? '' : 'showNAText'">
                        {{ user.ProviderSystem ? user.ProviderSystem : 'Not Available' }}
                      </span>
                    </span>
                  </div>
                  <div class="option-container" *ngIf="selectedDropdown === 'TinName'">
                    <span
                      class="primary-option"
                      [ngClass]="user.TinName ? '' : 'showNAText'"
                      innerHTML="{{
                        user.TinName ? (user.TinName | titlecase | searchHighlight: searchedString) : 'Not Available'
                      }}"
                    ></span>
                    <span class="sub-text">
                      <span class="margin-right-24" [ngClass]="user.Tin ? '' : 'showNAText'">
                        {{ user.Tin ? user.Tin : 'Not Available' }}
                      </span>
                      <span [ngClass]="user.ProviderSystem ? '' : 'showNAText'">
                        {{ user.ProviderSystem ? user.ProviderSystem : 'Not Available' }}
                      </span>
                    </span>
                  </div>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <ng-container *ngIf="!searchedString">
              <mat-icon matSuffix class="search-icon" svgIcon="search"></mat-icon>
            </ng-container>
            <ng-container *ngIf="searchedString">
              <mat-icon
                matSuffix
                class="close-icon"
                svgIcon="closeGlossary"
                (click)="resetForm(); usersForm.reset()"
                (keypress)="resetForm(); usersForm.reset()"
              ></mat-icon>
            </ng-container>
          </mat-form-field>
        </form>
      </div>
    </div>
    <!-- Search code ends here -->
    <!-- impact assignment code starts here-->
    <div>
      <app-impact-assignment></app-impact-assignment>
    </div>
    <!-- impact assignment code ends here-->
  </div>
</app-layoutcontainer>
