<div class="home-advocate-body">
  <div class="home-advocate-content">
    <div class="cards cust-width-title ">
      <div class="page-title">{{ pageTitle }}</div>
      <div class="page-subtitle">{{ pagesubTitle }}</div>
      <div>Search By Health System Name, Tax ID Number or Tax ID name</div>
      <app-dropdown [dropdownList]="dropDownArray" (valueChange)="valueDropdown($event)"></app-dropdown>
      <!-- Search code starts here -->
      <div class="search-container">
        <form class="example-form" [formGroup]="usersForm">
          <mat-form-field class="example-full-width" appearance="outline" [style.width.px]="400">
            <input
              matInput
              placeholder="{{ currentPlaceholder }}"
              [matAutocomplete]="auto"
              formControlName="userInput"
            />
          </mat-form-field>
          <!-- <span>{{ usersForm.get('userInput').value | json }}</span> -->

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnWrapper()" [panelWidth]="400">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="40"></mat-spinner></mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let user of filteredUsers" [value]="user">
                <div *ngIf="selectedDropdown === 'hco'">
                  <span class="primaryOption"> {{ user.ProviderSystem }}</span>
                  <small>Active Tax ID: {{ user.ActiveTaxIds }}</small>
                  <small>Genesis ID: {{ user.BicId }}</small>
                </div>
                <div *ngIf="selectedDropdown === 'tin'">
                  <span class="primaryOption">{{ user.Tin }}</span>
                  <small>Tin Name: {{ user.TinName }}</small>
                  <small>HCO: {{ user.ProviderSystem }}</small>
                </div>
                <div *ngIf="selectedDropdown === 'TinName'">
                  <span class="primaryOption">{{ user.TinName }}</span>
                  <small> Tin: {{ user.Tin }}</small>
                  <small> HCO: {{ user.ProviderSystem }}</small>
                </div>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </form>
      </div>
      <!-- Search code ends here -->
    </div>
  </div>
</div>
