<app-feedback></app-feedback>
<div class="selfService-body gettingReimburse-body">
  <div class="gettingReimburse-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>
      <!-- <div class="page-subtitle">{{ currentTabTitle }}</div> -->
    </div>
    <div class="height1Separator"></div>
    <div *ngFor="let item of selfServiceItems">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item.status != null" class="cards" [data]="item"></app-error-card>
    </div>
    <!-- end-->
    <div class="calls-operating-structure">
      <div class="card-inner">
        <app-common-header [title]="'Calls and Operating Costs'"></app-common-header>
        <div class="calls-operatin-body">
          <div class="container--tabs">
            <section class="row">
              <ul class="nav nav-tabs">
                <li
                  *ngFor="let item of tabOptionsTitle; let i = index"
                  (click)="matOptionClicked(i, $event)"
                  [ngClass]="{ active: selectedItemId === i }"
                >
                  {{ item }}
                </li>
              </ul>
            </section>
          </div>
          <div class="calls-operating-section1">
            <div class="labelsCallsOperating">
              {{ callCostReduceYourCost }} <span class="cost-value">{{ callCostReduceCostValue }}</span>
            </div>
            <div class="labelsCallsOperating paddingLabels">
              {{ callCostCallIn90days }} <span class="cost-value">{{ callCostCallIn90daysValue }}</span>
            </div>
          </div>
          <div class="calls-operating-section2">
            <app-small-bar-chart
              class="small-bar-chart-cust"
              [height]="heightSmallBarChart"
              [width]="widthSmallBarChart"
              [chartOptions]="callCostChartData"
            ></app-small-bar-chart>
          </div>
        </div>
        <div class="call-operation-footer">
          <app-common-footer [timePeriod]="'TimePeriod'"></app-common-footer>
        </div>
      </div>
    </div>

    <!-- end-->
  </div>
</div>
