/**------------------------- **\
       Author: Sri laxmi
\**------------------------- **/

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
    flex-basis: 0;
    order: 1;
  }
}
