@import '~src/scss/variables.scss';
.table-container {
  position: relative;
  background-color: $white;
  width: 960px;
  margin-bottom: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;

  .table-header-labels {
    display: inline-flex;
    width: 960px;
    color: $black-rock;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 16px;

    input {
      display: block;
      width: 99%;
    }
    .rlp-table-tin {
      flex: 0.5;
    }

    .rlp-table-group {
      flex: 1.5;
    }

    .rlp-table-bar {
      flex: 2;
    }
  }
  .rlp-table-footer {
    display: inline-flex;
    width: 960px;

    .rlp-left-section {
      display: inline-flex;
      align-items: flex-start;
    }
    .rlp-right-section {
      display: inline-flex;
      align-items: flex-end;
    }
  }
}
