<div class="table-container">
  <div class="table-header-labels">
    <div class="rlp-table-tin">
      <div class="table-head-text">TIN</div>
      <input
        type="text"
        class="table-input-query"
        placeholder="Filter By Tin"
        [(ngModel)]="qTinSearch"
        (keyup)="enterQuery()"
        (keydown.backspace)="enterQuery()"
      />
    </div>
    <div class="rlp-table-group">
      <div class="table-head-text">Group Name</div>
      <input
        type="text"
        class="table-input-query"
        placeholder="Filter By Group Name"
        [(ngModel)]="qGroupNameSearch"
        (keyup)="enterQuery()"
        (keydown.backspace)="enterQuery()"
      />
    </div>
    <div class="rlp-table-bar" (click)="sortTableData()">
      <div class="table-head-text">
        Preferred Specialist Referral Rate
      </div>
      <mat-icon class="nav-menu-icons nav-menu-icons-down-arrow" *ngIf="!isAscending" svgIcon="downarrow"></mat-icon>
      <mat-icon
        class="nav-menu-icons nav-menu-icons-down-arrow-reverse"
        *ngIf="isAscending"
        svgIcon="downarrow"
      ></mat-icon>
    </div>
  </div>
  <div class="zebra-stripe"></div>
  <div
    class="table-items"
    *ngFor="let item of tableData | rlpSearch: [qTinSearch, qGroupNameSearch | lowercase] | slice: startIndex:endIndex"
  >
    <app-rlp-table-item [tableItem]="item"></app-rlp-table-item>
  </div>
  <div class="zebra-stripe"></div>
  <div *ngIf="afterQuery.length > 25" class="rlp-table-footer">
    <div class="rlp-left-section">
      <div class="rlp-footer-label">Display</div>

      <mat-select [(ngModel)]="selectPageSize" name="p" (selectionChange)="pageSizeMethod()">
        <mat-option *ngFor="let p of pageSizeValues" [value]="p">
          {{ p }}
        </mat-option>
      </mat-select>
      <mat-icon class="rlp-left-section-arrow-icon" svgIcon="arrow"></mat-icon>

      <div class="rlp-footer-label">per page</div>
    </div>

    <div class="rlp-right-section">
      <div>
        <form (submit)="enterPageNumber()">
          <div class="rlp-footer-label">Page</div>
          <input
            [(ngModel)]="currentPageNumber"
            name="enterPage"
            class="page-number"
            [value]="currentPageNumber"
            onkeyup="this.value=this.value.replace(/[^\d]/,'')"
          />
          <div class="rlp-footer-label">of {{ totalPages }}</div>
        </form>
      </div>
      <div class="pagination-btn-widget">
        <div (click)="prevClick()" class="previous-button">
          <button [ngClass]="currentPageNumber > 1 ? 'button-style-blue' : 'button-style'">
            <mat-icon svgIcon="leftarrow"></mat-icon>
          </button>
        </div>
        <div (click)="nextClick()" class="next-button">
          <button [ngClass]="currentPageNumber < totalPages ? 'button-style-blue' : 'button-style'">
            <mat-icon svgIcon="rightarrow"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
