.rlp-title {
  height: 40px;
  width: 795px;
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 36px;
  line-height: 70px;
}

.rlp-sub-title {
  height: 44px;
  width: 795px;
  color: #757588;
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding-top: 25px;
}
