path {
  stroke: #ffffff;
  stroke-width: 0px;
}

.card {
  height: 0px;
  width: 100%;
}

.full-display {
  display: flex;
}

.widget {
  display: flex;
  float: left;
  margin: auto 8px;
}

#errorCard {
  margin-bottom: 10px;
}
