<div class="filter">
  <div class="line-top"></div>
  <div class="titleData">
    <div class="title">Time Period</div>
    <div class="chevron">
      <mat-icon
        class="icon-display"
        *ngIf="!tiarrowmark"
        (click)="clickArrowMark('timeframe')"
        svgIcon="arrowdn"
      ></mat-icon>
      <mat-icon
        class="icon-display"
        *ngIf="tiarrowmark"
        (click)="clickArrowMark('timeframe')"
        svgIcon="arrowup"
      ></mat-icon>
    </div>
  </div>
  <div class="lobgrp">
    <div>
      <label id="radio-group-label" class="label-data">{{ timeframeData }}</label>
    </div>
    <div class="select-option-data" *ngIf="tiarrowmark">
      <mat-radio-group class="radio-group" [(ngModel)]="timeframeData">
        <mat-radio-button class="radio-button" *ngFor="let timeframe of timeframes" [value]="timeframe">
          {{ timeframe }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="line"></div>
  <div class="titleData" [ngClass]="{ titleDisable: filterurl === '/ServiceInteraction/Calls' }">
    <div class="title">Tax ID</div>
    <div class="chevron">
      <mat-icon class="icon-display" *ngIf="!tarrowmark" (click)="clickArrowMark('tax')" svgIcon="arrowdn"></mat-icon>
      <mat-icon class="icon-display" *ngIf="tarrowmark" (click)="clickArrowMark('tax')" svgIcon="arrowup"></mat-icon>
    </div>
  </div>
  <div class="lobgrp" [ngClass]="{ titleDisable: filterurl === '/ServiceInteraction/Calls' }">
    <div *ngIf="taxArrayData.length == 0">
      <label id="radio-group-label" class="label-data">{{ taxData }}</label>
    </div>
    <div *ngIf="taxArrayData.length && taxArrayData.length < 4">
      <label id="radio-group-label" class="label-data">{{ taxData }}</label>
    </div>
    <div *ngIf="taxArrayData.length >= 4">
      <label id="radio-group-label" class="label-data">{{ taxArrayData.length }} Selected</label>
    </div>
    <div *ngIf="tarrowmark" class="label-cls">
      <div *ngIf="!inputDisplay">
        <mat-icon matPrefix class="nav-menu-icons input-search" svgIcon="search"></mat-icon>
        <input
          type="text"
          class="input-class"
          (input)="focusFunction($event.target.value)"
          [ngModel]="taxValue"
          placeholder="Search for a Tax ID"
          onfocus="this.placeholder=''"
        />
      </div>
      <app-multi-select
        *ngIf="inputDisplay"
        [tinsData]="tinsData"
        [tinValue]="taxValue"
        [taxData]="taxData"
        (taxArray)="taxArrayFunction($event)"
      ></app-multi-select>
    </div>
  </div>
  <div class="line"></div>
  <div class="titleData" [ngClass]="{ titleDisable: filterurl === '/ServiceInteraction/Calls' }">
    <div class="title">Line of Business</div>
    <div class="chevron">
      <mat-icon class="icon-display" *ngIf="!arrowmark" (click)="clickArrowMark('lob')" svgIcon="arrowdn"></mat-icon>
      <mat-icon class="icon-display" *ngIf="arrowmark" (click)="clickArrowMark('lob')" svgIcon="arrowup"></mat-icon>
    </div>
  </div>
  <div class="lobgrp" [ngClass]="{ titleDisable: filterurl === '/ServiceInteraction/Calls' }">
    <div>
      <label id="radio-group" class="label-data">{{ lobData }}</label>
    </div>
    <div class="select-option-data" *ngIf="arrowmark">
      <mat-radio-group class="radio-group" [(ngModel)]="lobData">
        <mat-radio-button class="radio-button" *ngFor="let lob of lobs" [value]="lob">
          {{ lob }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div *ngIf="priorAuthorizationCustomFilterBool">
    <!-- Service Setting Filter  -->
    <div class="line"></div>
    <div class="titleData">
      <div class="title">Service Setting</div>
      <div class="chevron">
        <mat-icon
          class="icon-display"
          *ngIf="!ssarrowmark"
          (click)="clickArrowMark('servicesetting')"
          svgIcon="arrowdn"
        ></mat-icon>
        <mat-icon
          class="icon-display"
          *ngIf="ssarrowmark"
          (click)="clickArrowMark('servicesetting')"
          svgIcon="arrowup"
        ></mat-icon>
      </div>
    </div>
    <div class="lobgrp">
      <div>
        <label id="radio-group-ss" class="label-data">{{ serviceSettingData }}</label>
      </div>
      <div class="select-option-data" *ngIf="ssarrowmark">
        <mat-radio-group class="radio-group" [(ngModel)]="serviceSettingData">
          <mat-radio-button class="radio-button" *ngFor="let ss of servicesettings" [value]="ss">
            {{ ss }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- Prior Auth Type -->
    <!-- Disabled PA Type for now
    <div class="line"></div>
    <div class="titleData">
      <div class="title">Prior Auth Type</div>
      <div class="chevron">
        <mat-icon
          class="icon-display"
          *ngIf="!patypearrowmark"
          (click)="clickArrowMark('priorauthtype')"
          svgIcon="arrowdn"
        ></mat-icon>
        <mat-icon
          class="icon-display"
          *ngIf="patypearrowmark"
          (click)="clickArrowMark('priorauthtype')"
          svgIcon="arrowup"
        ></mat-icon>
      </div>
    </div>
    <div class="lobgrp">
      <div>
        <label id="radio-group-patype" class="label-data">{{ priorAuthTypeData }}</label>
      </div>
      <div class="select-option-data" *ngIf="patypearrowmark">
        <mat-radio-group class="radio-group" [(ngModel)]="priorAuthTypeData">
          <mat-radio-button class="radio-button" *ngFor="let patype of priorauthdecisiontype" [value]="patype">
            {{ patype }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    -->
    <div class="line"></div>
    <div class="titleData">
      <div class="title">Service Category</div>
      <div class="chevron">
        <mat-icon
          class="icon-display"
          *ngIf="!paservicecategoryarrowmark"
          (click)="clickArrowMark('paservicecategory')"
          svgIcon="arrowdn"
        ></mat-icon>
        <mat-icon
          class="icon-display"
          *ngIf="paservicecategoryarrowmark"
          (click)="clickArrowMark('paservicecategory')"
          svgIcon="arrowup"
        ></mat-icon>
      </div>
    </div>
    <div class="lobgrp">
      <div *ngIf="paServiceCategoryArrayData.length == 0">
        <label id="radio-group-label" class="label-data">{{ paServiceCategoryData }}</label>
      </div>
      <div *ngIf="paServiceCategoryArrayData.length && taxArrayData.length < 4">
        <label id="radio-group-label" class="label-data">{{ paServiceCategoryData }}</label>
      </div>
      <div *ngIf="paServiceCategoryArrayData.length >= 4">
        <label id="radio-group-label" class="label-data">{{ paServiceCategoryArrayData.length }} Selected</label>
      </div>
      <div *ngIf="paservicecategoryarrowmark" class="label-cls">
        <div *ngIf="!inputDisplay">
          <mat-icon matPrefix class="nav-menu-icons input-search" svgIcon="search"></mat-icon>
          <input
            type="text"
            class="input-class"
            (input)="focusFunction($event.target.value)"
            [ngModel]="taxValue"
            placeholder="Search for a Service Category"
            onfocus="this.placeholder=''"
          />
        </div>
        <app-multi-select
          *ngIf="inputDisplay"
          [tinsData]="tinsData"
          [tinValue]="taxValue"
          [taxData]="taxData"
          (taxArray)="taxArrayFunction($event)"
        ></app-multi-select>
      </div>
    </div>
  </div>

  <div class="line1"></div>
  <div class="btn-display">
    <button type="reset" class="resetbtn" mat-button (click)="resetFilter()">Reset All Filters</button>
    <button type="submit" class="applybtn" mat-button (click)="applyFilter()">Apply Filters</button>
  </div>
</div>
