<div class="notification-block">
  <h3 class="notification-header">
    {{ notificationHeader }}
  </h3>
  <p class="notification-text-center margin-top-20">
    {{ notificationText }}
  </p>
  <div class="below-block">
    <div class="checkbox-block">
      <input type="checkbox" class="dont-show-checkbox" (change)="dontShowAgain($event)" />
      <p class="notification-text">Don't show me this again this session.</p>
    </div>
    <div class="buttons-block">
      <button (click)="closeDialog()" class="no-thanks-btn">No Thanks, Stay Here</button>
      <button class="continue-btn" (click)="openUrl()">Continue</button>
    </div>
  </div>
</div>
