@import '~src/scss/variables.scss';
.card-structure {
  position: relative;
}
.card-inner {
  background-color: #ffffff;
  width: 304px;
  height: 237px;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}
.chart-details-donut {
  width: 50%;
  float: left;
  padding-left: 30px;
  padding-top: 10px;
}
.chart-details {
  float: left;
}
.full-width {
  width: 100%;
}
.trend-details {
  float: left;
  padding: 9% 0;

  .trend-value {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 18px;
    font-family: 'UHCSans-Regular', 'Arial';
    display: inline;
    vertical-align: middle;
  }
  .trend-image {
    height: 17px;
    width: 17px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
  }
  .trend-image-down {
    background-color: #ffe6f0;
  }
  .trend-value-down {
    color: #b10c00;
  }
  .trend-value-up {
    color: #007000;
  }

  .trend-image-up {
    background-color: #e1fadf;
  }
}
