<div *ngIf="data != null" class="card-structure">
  <div *ngIf="data.type == 'donutWithTrend'" class="card-inner">
    <app-common-header [title]="data.title"></app-common-header>
    <div *ngIf="data.data != null" class="chart-details">
      small card works!
    </div>
    <div *ngIf="data.sdata != null" class="trend-details">
      <div *ngIf="true" class="trend-data">
        <img
          *ngIf="data.sdata.sign === 'down'"
          class="trend-image"
          src="/src/assets/images/trend-up.svg"
          alt="trend down"
        />
        <img
          *ngIf="data.sdata.sign === 'up'"
          class="trend-image"
          src="/src/assets/images/trend-down.svg"
          alt="trend down"
        />
        <div class="trend-value">
          {{ data.sdata.data }}
        </div>
      </div>
    </div>
    <div *ngIf="data.timeperiod">
      <app-common-footer [timePeriod]="data.timePeriod"></app-common-footer>
    </div>
  </div>
</div>
