@import '~src/scss/variables.scss';
.small-card-structure {
  position: relative;
  .card-inner {
    background-color: #ffffff;
    width: 304px;
    height: 237px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;

    .chart-details-donut {
      /*width: 50%;
      float: left;
      padding-left: 15px;*/
      float: left;
      padding-left: 20px;
      margin-bottom: 16px;
    }
    .chart-details {
      float: left;
    }
    .full-width {
      width: 100%;
      justify-content: center;
      display: flex;
      margin-bottom: 16px;
    }
    .trend-details {
      float: left;
      display: flex;
      margin-top: 48px;
      margin-left: 10px;

      .trend-value {
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 18px;
        font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
        /*display: inline;
        vertical-align: middle;*/
        margin-left: 8px;
        margin-top: 7px;
      }

      .trend {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50%;
        overflow: hidden;
      }

      .down {
        background-color: color(red, light);
      }
      .neutral {
        background-color: $gainsboro;
      }
      .up {
        background-color: color(green, light);
      }

      .trend-image {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 6px;
        left: 5px;
      }
      .trend-image-down {
        background-color: color(red, light);
      }
      .trend-image-up {
        background-color: color(green, light);
      }
      .trend-image-neutral {
        background-color: $gainsboro;
      }

      .trend-value-down {
        color: color(red, dark);
      }
      .trend-value-neutral {
        color: $black-rock;
      }
      .trend-value-up {
        color: $brand-green-hover;
      }

      .flex-box {
        display: flex;
      }
    }
  }
  .card-inner.nps {
    height: 249px;
  }
  .print-card-inner {
    box-shadow: none;
    border: 1px solid #e9e9e9;
    width: 350px;
    height: 240px;
  }
  .full-display-block {
    float: left;
    width: 100%;
    margin-top: -4px;
  }
  .cards-display-block {
    margin-top: -4px;
    display: flex;
    padding: 0 24px;
    .data-card {
      text-align: center;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      color: white;
      margin: 10px auto;
      width: 120px;
      padding-bottom: 25px;
      border-radius: 10px;
      .highlighted {
        padding: 5px 0;
        height: 45px;
        font-size: 58px;
        line-height: 60px;
      }
      .caption-text {
        font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 14px;
        letter-spacing: 0.17px;
        color: $strom-grey;
        line-height: 50px;
      }
      .target {
        padding-top: 5px;
        font-size: 14px;
        height: 14px;
        line-height: 50px;
      }
    }
    .kop-error-card {
      margin: 10px auto;
    }
    .data-card.card-nps-single,
    .kop-error-card.card-nps-single {
      margin: 10px auto !important;
    }
    .data-card.card-nps-quarter-current {
      background: none;
      border: 2px solid $dodger-blue;
      color: $black-rock;
      margin-right: 6px;
    }
    .data-card.card-nps-quarter-prev {
      border: 2px solid $iris-blue;
      color: $black-rock;
      background: none;
      margin-left: 6px;
    }
    .data-card.card-nps-quarter-highlight {
      border: none;
      color: $white;
      background: $dodger-blue;
      .caption-text {
        color: $white;
      }
    }
    .data-card.card-nps-quarter-highlight.card-nps-single {
      border: 2px solid $dodger-blue;
    }
  }
  .small-star-chart {
    margin-left: 92px;
    height: 145px;
  }
  .trend-container {
    display: block;
    margin-top: 10px;
  }
  // @media screen and (max-width: 1331px) {
  //   .card-inner {
  //     width: 287px;
  //   }
  // }
}
.small-card-structure.nps {
  margin-left: -10px;
}
.small-card-footer {
  .common-footer {
    /*position: absolute;
    width: 94%;
    bottom: 0;
    width: 100%;
    text-align: left;*/
    height: 40px;
    .timePeriod {
      padding: 7px 16px 13px 16px;
      color: rgb(117, 117, 136);
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 20px;
    }
  }
}
.card-skeleton-small-card:empty {
  margin: auto;
  width: 304px;
  height: 237px;

  background-image: radial-gradient(circle 50px at 50px 50px, lightgray 99%, transparent 0),
    linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);

  background-repeat: no-repeat;

  background-size: 100px 200px, /* circle */ 20px 304px, /* highlight */ 150px 200px, 150px 200px;

  background-position: 10px 75px, /* circle */ 0 0, /* highlight */ 120px 100px, 120px 137.5px;

  animation: shine-small-card 1s infinite;
}

.beside-data-block {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.total-claims-beside-data-block {
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

.app-card-list-labels {
  display: block;
  color: $black-rock;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  float: left;
}
.app-card-list-labels > li {
  margin-bottom: 16px;
  margin-right: 8px;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
}
.label-dots {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.label-color-indicators {
  margin-bottom: 18px !important;
}

.tat-container {
  position: relative;
  top: 42px;
  margin-bottom: 30px;
  // margin-bottom: -11px;
}
.tat-circle-image-pos {
  height: 129px;
  width: 129px;
  margin-left: 82px;
  margin-top: -42px;
}
.tat-center-num {
  position: absolute;
  margin-top: -42px;
  top: 81px;
  left: 110px;
  font-size: 22px;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  color: $black-rock;
}

@keyframes shine-small-card {
  to {
    background-position: 10px 75px, 100% 0, /* move highlight to right */ 120px 100px, 120px 137.5px;
  }
}
