@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
::ng-deep .mat-autocomplete-panel {
  max-height: 0% !important;
}
::ng-deep .mat-autocomplete-panel:not([class*='mat-elevation-z']) {
  margin-top: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
}
::ng-deep .mat-form-field-appearance-outline.mat-focused ::ng-deep .mat-form-field-outline-thick {
  color: $blue;
}
::ng-deep .mat-option-text {
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
}

.business-glossary {
  padding: 10px;
  <<<<<<<.mine
  position: relative;
  =======>>>>>>> .theirs
  width: 354px;
  <<<<<<<.mine
  margin-top: -25px;
  =======>>>>>>>.theirs .title {
    color: #2d2d39;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-align: center;
  }
  .path {
    float: left;
    color: $strom-grey;
  }
  &-header {
    text-align: center;
  }

  &-form {
    mat-form-field {
      width: 100%;
      mat-form-field-flex {
        border: 1px solid #b3babc;
        border-radius: 5px;
      }
    }
  }
}

.glossary-title {
  color: $black-rock;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.glossary-formula {
  color: $black-rock;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.glossary-definition {
  color: $black-rock;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.go-to-metric-location {
  color: $blue;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.business-glossary {
  .input-style {
    height: 0 !important;
    padding: 0 !important;
  }
}
.icon-search-black {
  height: 24px;
  width: 24px;
}

.oval {
  height: 40px;
  width: 40px;
}
.view-allMetrics {
  color: $blue;
  cursor: pointer;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  padding: 18px 0 18px 18px;
}
