<div class="business-glossary">
  <br />
  <mat-dialog-content>
    <form class="business-glossary-form">
      <mat-form-field appearance="outline">
        <mat-label>What metrics can we help you with ?</mat-label>
        <input matInput [matAutocomplete]="auto" [formControl]="glossaryCtrl" />
        <mat-icon matPrefix class="nav-menu-icons" svgIcon="search"></mat-icon>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filteredData($event.option.value)">
          <mat-option *ngFor="let glossary of (filteredOptions | async)" [value]="glossary">
            <span class="highlight" [innerHTML]="glossary | highlight: toHighlight"></span>
          </mat-option>
          <mat-option
            [ngClass]="{ 'hide-autocomplete': !showAutocomplete }"
            class="dropData backgroundDropData"
            *ngIf="optionND"
          >
            No Results Found For <b>{{ toHighlight }}</b>
          </mat-option>
          <mat-option class="view-allMetrics" (click)="metrics()">View All Metrics</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <br />
  <!-- <div *ngFor="let glossary of glossaryList; let i = index">
    <div class="glossary-title">
      {{ glossaryTitleShow }}
    </div>
    <br />
    <div class="glossary-definition">
      {{ glossary.BusinessGlossary.ProviderDashboardName.Definition }}
    </div>
    <br />
    <div>
      <a class="go-to-metric-location">
        Go To Metric Location >
      </a>
    </div>
    <div *ngIf="glossary.BusinessGlossary.ProviderDashboardName.Formula.trim().length != 0" class="glossary-definition">
      Metric Formula
      {{ glossary.BusinessGlossary.ProviderDashboardName.Formula }}
    </div>
  </div> -->
</div>
