.h-3-title {
  height: 28px;
  width: 418px;
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.idle-container {
  box-sizing: border-box;
  height: 41px;
  width: 355px;
  border: 1px solid #b3babc;
  border-radius: 2px;
  background-color: #ffffff;
  padding-left: 10px;
}

.glossary-title {
  height: 32px;
  width: 195px;
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 10px;
}

.glossary-definition {
  height: 100%;
  width: 338px;
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding-left: 10px;
}

.go-to-metric-location {
  height: 22px;
  width: 158px;
  color: #196ecf;
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding-left: 10px;
}

.icon-search-black {
  height: 24px;
  width: 24px;
}

.oval {
  height: 40px;
  width: 40px;
}
