<app-layoutcontainer id="print-overview" class="viewtopclaims">
  <div class="header">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="claims-content-head">
      <a (click)="goback()" class="nav-menu-icons-back-button nav-menu-icons-back-button-div ">
        <mat-icon class="nav-menu-icons nav-menu-icons-back-button" svgIcon="backButton"></mat-icon>
      </a>
      Claims Non-Payments Details
      <div class="note-sub-head">
        <div class="note-sub-head-div">
          Note: To change global filters, please return to the
          <a (click)="goback()" class="claims-note-div ">Claims Non-Payments page</a>
        </div>
      </div>
    </div>
    <app-filters-applied></app-filters-applied>
  </div>

  <div class="reasons-content">
    <div class="reason-div">
      <div class="reason-head">Reason</div>
      <div class="reason-dropdown">
        <mat-select
          [(value)]="selectedReasonItem"
          name="Top Reason"
          disableOptionCentering
          (selectionChange)="selectTopReason($event)"
        >
          <mat-option class="reason-option" *ngFor="let reason of fullData" [value]="reason.mainReason">
            {{ reason.mainReason }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="reason-div">
      <div class="reason-head">Sub-reason</div>
      <div class="reason-dropdown">
        <mat-select
          [(ngModel)]="selectedSubreason"
          name="Top Sub Reason"
          disableOptionCentering
          (selectionChange)="selectsubReason($event)"
        >
          <mat-option class="reason-option" *ngFor="let subReason of selectedSubreasonArray" [value]="subReason">
            {{ subReason }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="height-separator"></div>

  <app-large-card [skeletonLarge]="loading" *ngIf="loading"></app-large-card>

  <div class="tax-summary-content" [hidden]="loading" *ngIf="claimsData">
    <div class="tax-summary-head" [ngStyle]="{ display: lengthOffilteredData > 0 ? 'block' : 'none' }">
      <span class="tax-summary-count">
        {{ rangeLabel }}
      </span>
    </div>
    <div class="tax-summary-body">
      <div class="tax-summary-table-block ">
        <table
          mat-table
          [dataSource]="selectedclaims"
          matSort
          (matSortChange)="sortData($event)"
          matSortActive="NonPaymentAmount"
          matSortDirection="desc"
          matSortDisableClear
        >
          <ng-container matColumnDef="TinNumber">
            <th mat-header-cell *matHeaderCellDef class="tax-id-text">
              <span mat-sort-header>Tax ID Number </span>
              <div class="search-box">
                <input class="tax-summary-name-input" matInput type="search" [formControl]="tinNumberFilter" />
                <mat-icon matSuffix svgIcon="search" *ngIf="!tinNumberFilter.value"></mat-icon>
                <mat-icon
                  matSuffix
                  svgIcon="close"
                  (click)="clearValue('tinNumberFilter')"
                  *ngIf="tinNumberFilter.value"
                ></mat-icon>
              </div>
            </th>
            <td mat-cell class="tin-name-input" *matCellDef="let element">
              <div class="provider-column">{{ element.TinName | sliceString }}</div>
              <div class="tin-name-font">{{ element.TinNumber }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="ProviderName">
            <th mat-header-cell *matHeaderCellDef>
              <span mat-sort-header> Provider Name</span>

              <div class="search-box">
                <input matInput class="tax-summary-provider-input" [formControl]="provideNameFilter" />
                <mat-icon matSuffix svgIcon="search" *ngIf="!provideNameFilter.value"></mat-icon>
                <mat-icon
                  matSuffix
                  svgIcon="close"
                  (click)="clearValue('provideNameFilter')"
                  *ngIf="provideNameFilter.value"
                ></mat-icon>
              </div>
            </th>
            <td mat-cell class="tax-summary-table-cell" *matCellDef="let element">
              <div class="provider-column">{{ element.ProviderName | sliceString }}</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="NonPaymentAmount">
            <th mat-header-cell *matHeaderCellDef class="custom_non_payment">
              <span mat-sort-header> Non-Payment Amount</span>
            </th>
            <td mat-cell class="tax-summary-table-cell" *matCellDef="let element">
              <div *ngIf="dollarData" class="dollar-text">$</div>
              {{ convertIntoNumber(element.NonPaymentAmount) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="BilledAmount">
            <th mat-header-cell *matHeaderCellDef>
              <span mat-sort-header> Billed Amount</span>
            </th>

            <td mat-cell class="tax-summary-table-cell" *matCellDef="let element">
              <div *ngIf="dollarData" class="dollar-text">$</div>
              {{ convertIntoNumber(element.BilledAmount) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="DateOfProcessing">
            <th mat-header-cell *matHeaderCellDef>
              <span mat-sort-header> {{ viewClaimsValue }}</span>
            </th>

            <td mat-cell class="tax-summary-table-cell" *matCellDef="let element">
              {{ element.DateOfProcessing | date: 'MMM dd, yyyy' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ClaimNumber">
            <th mat-header-cell *matHeaderCellDef>
              <span mat-sort-header> Claim Number</span>
              <div class="search-box">
                <input class="tax-summary-claims-input " matInput [formControl]="claimNumberFilter" />
                <mat-icon matSuffix svgIcon="search" *ngIf="!claimNumberFilter.value"></mat-icon>
                <mat-icon
                  matSuffix
                  svgIcon="close"
                  (click)="clearValue('claimNumberFilter')"
                  *ngIf="claimNumberFilter.value"
                ></mat-icon>
              </div>
            </th>
            <td mat-cell class="tax-summary-table-cell" *matCellDef="let element">
              {{ element.ClaimNumber }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="tinsDisplayedColumns"></tr>
          <tr mat-row class="tax-summary-rows" *matRowDef="let row; columns: tinsDisplayedColumns"></tr>
        </table>

        <mat-paginator
          class="tax-summary-paginator"
          [pageSizeOptions]="[25, 50, 100]"
          (page)="getPageSize($event)"
          [ngStyle]="{ display: numberOfClaims > 24 ? 'block' : 'none' }"
        >
        </mat-paginator>
      </div>
    </div>
  </div>

  <app-error-card [hidden]="loading" *ngIf="!claimsData" class="cards" [data]="tableData"></app-error-card>
</app-layoutcontainer>
