@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';
.selfService-body {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  @include padding(16px, 0, 64px, 0);
  background-color: $alice-blue;
  .selfService-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 1000px;
    margin: auto;

    .height1Separator {
      height: 0;
      width: 1200px;
    }

    & > .cards {
      text-align: left;
    }

    .cust-width-title {
      width: 450px;
      margin-left: 10px;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      color: $black-rock;
      margin-top: -12px;

      .page-title {
        flex-basis: 100%;
        font-size: 36px;
        @include padding(16px, 0, 20px, 0);
        line-height: 40px;
      }
      .title-opportunity {
        flex-basis: 100%;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 16px;
        color: $black-rock;
      }

      .page-question {
        flex-basis: 100%;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 8px;
      }
    }
    .opportunity-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      .self-service-heading {
        display: flex;
        padding-top: 30px;
      }
    }

    .cust-width-blank {
      width: 487px;
      margin-left: 20px;
    }
    @media (max-width: 1300px) {
      .cust-width-blank {
        width: 437px;
      }
    }
    @media only screen and (max-width: 1024px) {
      @include padding(16px, 0, 16px, 0);
    }
  }
}
