@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';

::ng-deep .selfservice .even .app-card-structure {
  margin: 15px 12px 15px 0px !important;
}
::ng-deep .selfservice .odd .app-card-structure {
  margin: 15px 0 15px 12px !important;
}

.cust-width-title {
  width: 100%;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  color: $black-rock;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.page-title {
  flex-basis: 100%;
  font-size: 36px;
  @include padding(16px, 0, 20px, 0);
  line-height: 40px;
  font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
}
.title-opportunity {
  flex-basis: 100%;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 16px;
  color: $black-rock;
}

.page-question {
  flex-basis: 100%;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 8px;
}
.opportunity-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  .self-service-heading {
    display: flex;
    padding-top: 30px;
  }
  .oppurtunity-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    div :first-child {
      margin-left: -10px;
    }
  }
}

.cust-width-blank {
  width: 487px;
  margin-left: 20px;
}

.print-page {
  &-body {
    background-color: #fff;
  }
  &-title {
    padding-top: 30px;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    line-height: 30px;
    font-size: 36px;
  }
  &-sub-title {
    font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
    font-size: 28px;
    @include padding(16px, 0, 20px, 0);
  }
  &-opportunities {
    max-width: 800px;
  }
}

.height-separator-print {
  height: 500px;
}
