@import '~src/assets/styles/variables.scss';
div {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: $black;
  background-color: $blue;
  font-size: 2rem;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-check {
  font-family: 'UHCSans-Regular';
  font-size: 14px;
  background-color: color(blue, base);
  width: 20%;
  height: 50px;
}
