<!--<button mat-icon-button *ngIf="button"><mat-icon>menu</mat-icon></button>-->
<div [@scrollAnimation]="state">
  <div class="header-div">
    <div class="menu-div" *ngIf="mobileQuery" (click)="sidenav()">
      <mat-icon class="nav-menu-icons menu-icon" svgIcon="{{ menuIcon }}"></mat-icon>
    </div>
    <div class="header-logo-div">
      <a href="/">
        <img class="Uhc-logo" src="/src/assets/images/UHC Logo@2x.png" alt="UHC Logo" />
      </a>
    </div>
    <div class="user-div">
      <div class="user-icon">
        <mat-icon class="nav-menu-icons" svgIcon="person"></mat-icon>
      </div>
      <div class="user-name">Anne</div>
      <div class="user-expand-more">
        <mat-icon class="nav-menu-icons" svgIcon="expand-more"></mat-icon>
      </div>
    </div>
  </div>
</div>
