@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.header-div {
  background-color: $white;
  height: 72px;
  display: flex;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  .menu-div {
    @include padding(0, 0, 0, 0);
    .menu-icon {
      margin: 0;
      color: #196ecf;
      background-color: none;
      @include padding(20px, 0px, 22px, 40px);
    }
    .menu-icon:hover {
    }
  }
  .header-logo-div {
    padding: 12px 0 24px 33px;
    .Uhc-logo {
      height: 36px;
      width: 175px;
    }
  }
  .user-div {
    margin-left: auto;
    display: flex;
    height: 25px;
    width: 98px;
    color: #757588;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: right;
    padding: 20.8px 32px 26px 0;
    .user-name {
      line-height: 31px;
      font-family: 'UHCSans-Regular';
    }
    .user-expand-more {
      line-height: 26px;
    }
  }
}
