div {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #ab47bc;
  font-size: 2rem;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
