<!--Author: madhukar
    date: 4-15-2019 -->
<div [@scrollAnimation]="state">
  <div class="header-div" [ngClass]="{ 'print-header-div': printStyle === true }">
    <div class="menu-div" *ngIf="mobileQuery" (click)="sidenav()">
      <mat-icon class="nav-menu-icons menu-icon" svgIcon="{{ menuIcon }}"></mat-icon>
    </div>
    <div class="header-logo-div">
      <!-- <div class="date-and-time" *ngIf="printStyle">
        {{ todaysDataTime }}
      </div> -->
      <a (click)="onLogoClick()">
        <img class="Uhc-logo" src="/src/assets/images/UHC Logo@2x.png" alt="UHC Logo" />
      </a>
    </div>
    <div *ngIf="isKop" class="kop-div">
      <p>Internal Insights</p>
    </div>
    <div class="user-div" (click)="advocateUserClicked()" *ngIf="!printStyle">
      <!-- <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle> -->
      <div class="user-icon">
        <mat-icon class="nav-menu-icons no-margin-icons" svgIcon="person"></mat-icon>
      </div>
      <div class="user-name">{{ username }}</div>
      <div class="user-expand-more">
        <!-- *ngIf="isAdvocate"-->
        <mat-icon class="nav-menu-icons no-margin-icons" svgIcon="expand-more"></mat-icon>
      </div>
    </div>
    <div>
      <div *ngIf="advDropdownBool && openDropdownBool" class="vertical-menu">
        <a class="act per-item toggle-view-height">Toggle Your View</a>
        <a
          class="act provider-height per-item icon curser"
          (click)="advViewClicked('myView')"
          [ngClass]="{ active: myView === true }"
        >
          <mat-icon class="nav-menu-icons lb-padd" svgIcon="done"></mat-icon>
          <span class="wrap">My View</span>
          <div class="tiny-provider">{{ fullname }}</div>
        </a>

        <a
          class="act per-item icon curser"
          (click)="advViewClicked('userView')"
          [ngClass]="{ active: userView === true }"
        >
          <mat-icon class="nav-menu-icons lb-padd" svgIcon="done"></mat-icon>
          <span class="wrap">{{ healthSystemName }}</span>
          <div class="tiny-provider">See what the provider sees</div>
        </a>

        <a class="act signout-label provider-height signout-lh" (click)="signOut()">
          <mat-icon class="nav-menu-icons" svgIcon="sign-out"></mat-icon>Sign Out
        </a>
      </div>

      <div *ngIf="!advDropdownBool && openDropdownBool" class="user-info-block">
        <div class="profile-details-block">
          <p class="profile-name">{{ fullname }}</p>
          <p class="profile-mail">{{ EmailId }}</p>
          <p class="profile-id" *ngIf="!isInternal">Optum ID: {{ OptumId }}</p>
          <p class="profile-id" *ngIf="isInternal">MSID: {{ MsId }}</p>
        </div>
        <div class="sign-out-block">
          <div (click)="signOut()" class="signout-icon-text">
            <mat-icon class="nav-menu-icons no-margin-icons" svgIcon="sign-out"></mat-icon
            ><span class="signout-text">Sign Out</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
