<div class="footer-container">
  <div class="footer-left-section">
    <div class="contact-section">
      <a href="#" class="anchor-color">Contact Us</a> <span>|</span>
      <a href="#" class="anchor-color">Business Glossary</a>
    </div>
  </div>
  <div class="footer-right-section">
    <div class="copyright-section">
      <p>© 2019 UnitedHealthcare, All Rights Reserved</p>
      <a href="#" class="anchor-color">Privacy</a> <span>|</span> <a href="#" class="anchor-color">Terms of Use</a>
      <span>|</span> <a href="#" class="anchor-color">Sitemap</a>
    </div>
  </div>
</div>
