.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #003da1;
  justify-content: space-between;
  width: 1280px;
  height: 118px;
}

.footer-left-section {
  display: flex;
}

.footer-right-section {
  display: flex;
}

.contact-section {
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
}

.copyright-section {
  font-size: 14px;
  color: #ffffff;
  font-family: 'UHC Sans';
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.anchor-color {
  color: #ffffff;
}
