<footer>
  <div class="footer-container">
    <div class="footer-left-section">
      <p>
        <a class="anchor-color" href="#">Contact Us</a>
        <span> | </span>
        <a class="anchor-color" href="#">Business Glossary</a>
      </p>
    </div>
    <div class="footer-right-section">
      <p class="copyright-text">©2019 United HealthCare, All rights reserved</p>
      <p class="privacy-text">
        <a class="anchor-color" href="#">Privacy</a>
        <span> | </span>
        <a class="anchor-color" href="#">Terms of Use</a>
        <span> | </span>
        <a class="anchor-color" href="#">Sitemap</a>
      </p>
    </div>
  </div>
</footer>
