.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 118px;
  background: #003da1;
}

.footer-left-section {
  display: flex;
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: 32px;
}

.footer-right-section {
  display: flex;
  font-size: 14px;
  color: #ffffff;
  font-family: 'UHC Sans';
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.anchor-color {
  color: #ffffff;
}

.copyright-text {
  margin-right: 16px;
}

.privacy-text {
  margin-left: 16px;
  margin-right: 16px;
}
