/*
 * Author: Ranjith kumar Ankam
 * Created Date: 03-Apr-2019
 *  */

@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/buttons';
.example-container {
  position: relative;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1610px;
  min-width: 1032px;
  margin: 0 auto;
}

.example-is-mobile .example-toolbar {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  padding: padding(0);
  position: relative;
}

.mat-toolbar-single-row {
  padding: 0 !important;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  // margin-top: 65px;
  flex: 1;
  min-height: 760px;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
      `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  min-height: 760px;
  background-color: rgb(241, 244, 247);
  // background-color: mat-color($accent);
}

.example-is-mobile .bg-white {
  background-color: #fff;
}

app-header {
  width: 100%;
}

.font-check {
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $hover-blue;
}

.footer-block {
  z-index: 9;
}

/************ CSS RELATED TO ONLY LEFT HAMBURGER MENU *************/

.side-navigation {
  width: 286px; // previously 256px -- width before PI Sub menu undo when toggled off
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  //  background-color: $white;
}

.health-system-representation-block {
  @include padding(20px, 12px, 0px, 56px);
  // @include padding(16px, 12px, 0px, 32px); before adding PI Sub Menu undo when toggled off
  border-bottom: 1px solid $gainsboro;
}

.representing-label {
  color: $black-rock;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: 4px;
}

.health-system-name {
  color: $black-rock;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
  margin: 4px 0 15px 0;
}

.change-provider {
  height: 18px;
  /*width: 105px;*/
  color: $blue;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  text-decoration: none;
  margin: 9px 0 18px 0;
  cursor: pointer;
  display: inline-block;
}

.change-provider:hover {
  text-decoration: underline;
}

.view-Tax-Id-Summary-div {
  height: 18px;
  width: 145px;
  margin: 9px 0 18px 0;
}

.view-Tax-Id-Summary {
  color: $blue;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.view-Tax-Id-Summary:hover {
  text-decoration: underline;
}

.mat-list-base {
  padding: 0px !important;
  margin: 0px !important;
}

.mat-expansion-panel-header {
  height: 25px !important;
  padding: 8px 16px 8px 10px !important;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.signout-block {
  padding: 16px 0 0 40px;
  // padding: 16px 0 0 33px; before PI sub menu uncomment when smart edits is toggled off
}

.signout-label {
  color: $strom-grey;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
  margin: 0;
  cursor: pointer;
  padding: 9px;
  .sign-out-text {
    vertical-align: bottom;
  }
}

.navCategoryItem {
  /*padding-left: 32px !important;*/
  color: $strom-grey;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 4px !important;
  line-height: 18px;
  margin-left: 38px !important; // previously 30px befor PI sub menu undo when toggled off
}

.firstNavCategory {
  margin-top: 15px !important;
  color: $strom-grey !important;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: 20px !important;
}

.mat-expansion-panel-content,
.mat-expansion-panel-body {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}

.mat-expansion-panel-header-title {
  color: $strom-grey !important;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}

.mat-list-item-content,
.mat-list-item-content {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}

/*left menu on click bg changing issue*/

.mat-ripple-element {
  transition-duration: 0ms !important;
  background-color: transparent;
}

/*left menu on click bg changing issue*/

.lastNavCategory {
  /*padding-left: 32px !important;*/
}

.mat-expansion-panel-body {
  padding: 0px !important;
}

.nav-mat-list-items {
  padding-bottom: 46px !important;
  border-bottom: 1px solid $gainsboro;
}

.nav-menu-icons {
  margin: 0px 8px;
  vertical-align: middle;
  margin-left: 0px;
}

.mat-expansion-indicator::after {
  vertical-align: super;
}

.nav-no-child-category {
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif !important;
  padding: 9px 12px 9px 10px !important;
  color: $strom-grey !important;
  font-size: 16px !important;
  letter-spacing: 0.2px;
  /*margin-top: 16px;*/
}

.nav-sub-category-items {
  color: $strom-grey !important;
  font-size: 14px !important;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.2px;
  line-height: 18px;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  line-height: 24px !important;
}

.nav-sub-category-items:hover {
  background: $darker-alice-blue !important;
  color: $blue !important;
}

.nav-no-child-category:hover,
.mat-expansion-panel-header:hover,
.mat-expanded,
.signout-label:hover {
  color: $blue !important;
  .mat-expansion-panel-header-title {
    color: $blue !important;
  }
  .mat-expansion-indicator::after {
    color: $blue !important;
  }
}

.sub-menu-sub-header {
  .sub-menu-expansion-header {
    color: $strom-grey !important;
  }
  .mat-expansion-indicator::after {
    color: $strom-grey !important;
  }
}

.child-nav-menu-expansion-panel {
  .mat-expanded {
    .sub-menu-expansion-header {
      color: $blue !important;
    }
    .mat-expansion-indicator::after {
      color: $blue !important;
    }
  }
}

.nav-no-child-category:hover,
.mat-expansion-panel-header:hover,
.signout-label:hover {
  color: $blue !important;
  background: $darker-alice-blue !important;
  .mat-expansion-indicator::after {
    color: $blue !important;
  }
}

.mat-nav-list .mat-list-item:focus {
  background: $darker-alice-blue !important;
}

.mat-expansion-panel {
  border-radius: 0px !important;
}

.mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: text-top;
}

.uhc-logo {
  width: 175px;
  height: 36px;
  margin-top: 24px;
  margin-left: 32px;
}

.active-link {
  background: $darker-alice-blue;
  color: $blue !important;
}

/************ ABOVE IS THE CSS RELATED TO ONLY LEFT HAMBURGER MENU *************/

.svg-ic_build_24px:hover {
  fill: $blue !important;
}

.sub-menu-sub-header {
  margin-left: 26px !important;
  padding-left: 16px !important;
  height: 18px !important;
}

.display-none {
  display: none !important;
}

.h-3-title {
  height: 28px;
  width: 346px;
  color: $black-rock;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 75px;
  text-align: center;
}

.h-3-title-filter {
  width: 346px;
  color: $black-rock;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 22px;
}

.close-icon-style {
  width: 40px;
  height: 40px;
  float: left;
  vertical-align: top;
}

.filter-text {
  text-align: center;
  width: 300px;
  vertical-align: middle;
  line-height: 40px;
}

.icon-left {
  padding-left: 10px;
  color: #757588;
}

.icon-left-filter {
  color: #757588;
  display: block;
  padding: 8px;
}

.icon-left-filter:hover {
  background-color: #d7dce1;
  color: #2d2d2d;
  padding: 8px;
  height: 24px;
  width: 24px;
  cursor: hand;
  cursor: pointer;
  border-radius: 2px;
}

.mat-details {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.pointer-none {
  pointer-events: none;
}

.sidenav-glossary {
  position: absolute !important;
  z-index: 9999 !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidenav-filter {
  position: absolute !important;
  z-index: 9999 !important;
}

.sidemargin {
  margin: 0 24px 0 24px;
  height: inherit;
}

.sidemargin-filter {
  margin: 0 32px 0 32px;
}

// ::ng-deep span.mat-expansion-indicator {
//   padding-bottom: 6px !important;
// }
.mat-expansion-indicator::after {
  margin-bottom: 6px !important;
}

.sticky {
  position: fixed;
  top: 0px;
}

.mat-drawer-inner-container {
  overflow: unset !important;
  height: 125vh !important;
}

.simulate-external-view {
  padding: 38px 26px 28px;
  border-bottom: 1px solid #e0e0e0;
  &-btn {
    border: 1px solid $blue !important;
  }
}

.butter-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #80dde6;
  color: white;
  height: 40px;
}

.exit-text {
  font-family: 'UHCSans-Medium';
  color: #2d2d39;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-top: 0px;
}

.provider-text {
  font-weight: bold;
}

.align-horizonal {
  display: flex;
  align-items: center;
}

.cross-icon {
  width: 3%;
  padding-top: 10px;
  padding-left: 50px;
  color: #2d2d39;
}

.top-40 {
  top: 40px !important;
}

.top-0 {
  top: 0;
}

.hover-pointer {
  cursor: pointer;
}

.exit-provider-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mat-list-item {
  height: auto;
  padding: 8px 12px 8px 16px;
  width: auto;
}

.mat-list-item-content {
  padding: 0px !important;
  height: auto !important;
}

.mat-expansion-panel-body {
  padding: 0px;
}

.mat-list-base {
  .mat-list-item {
    height: auto !important;
    padding: 8px 12px 8px 16px;
    width: auto;
    margin-left: 0px;
  }
  .nav-sub-category-items {
    height: auto;
    padding: 8px 12px 8px 16px !important;
    width: auto;
    margin-left: 26px !important;
  }
}

.mat-list-base .second-level-link {
  padding-left: 32px !important;
}
