.horizontal-bar-box {
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  padding: 12px 0;
}
.horizontal-bar {
  height: 24px;
  position: relative;
  box-sizing: border-box;
  border-radius: 0 2px 2px 0;
}

.bar-value {
  right: -90px;
  padding: 3px 0px;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: absolute;
}

.bar1 {
  margin-bottom: 8px;
  background-color: #3381ff;
}

.bar2 {
  background-color: #90eef0;
}
