@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.breadcrumb-top-padding {
  @include margin(0, 0, 12px, 0);
  box-sizing: border-box;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  width: 961px;
  .filter-div {
    overflow: auto;
    line-height: 0;
  }
  .filter_bg {
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    .filter_title {
      color: $blue;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      margin: 9px 12px;
      float: left;
    }
    .filter_icon {
      color: $blue;
      margin: 9px 12px;
      float: left;
    }
  }
  .filter_bg:hover,
  .filter_bg:focus {
    background-color: #196ecf;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .filter_bg:active {
    background-color: #003da1;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
}

.page-title {
  flex-basis: 100%;
  font-size: 36px;
  @include padding(16px, 0, 32px, 0);
  line-height: 40px;
}

.time-period {
  box-sizing: border-box;
  height: 33px;
  width: 230px;
  border: 1px solid $heather;
  border-radius: 16px;
  background-color: $gainsboro;
  line-height: 30px;
  padding-left: 7px;
  float: left;
}
.time--period {
  .horizontal-align {
    display: inline-block;
    margin: 3px 0;
  }
  button {
    span:first-child {
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    }
    span.text-semibold {
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    }
  }
}
.title-left-padding {
  padding-left: 15px;
}

.full-display {
  float: left;
  width: 100%;
  padding-bottom: 39px;
}

.overturn-reason-block {
  height: 443px;
  width: 468px;
  border-radius: 2px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  float: left;
  position: relative;
}

.overturn-margin {
  position: relative;
  padding: 12px;
}

.appeals-overturned-bar-chart {
  padding-bottom: 16px;
  padding-left: 89px;
}

.reason-time {
  width: 468px;
  // margin-top: 372px;
  padding: 10px 20px 10px 16px;
  color: $strom-grey;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.common-footer {
  position: absolute;
  bottom: 5px;
  // margin-top: 319px;
  border-top: 1px solid #efefef;
}
