@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.breadcrumb-top-padding {
  @include padding(20px, 0, 15px, 32px);
}
.page-title {
  flex-basis: 100%;
  font-size: 36px;
  line-height: 75px;
}
.time-period {
  box-sizing: border-box;
  height: 33px;
  width: 230px;
  border: 1px solid #b3babc;
  border-radius: 16px;
  background-color: #e0e0e0;
  line-height: 30px;
  padding-left: 7px;
}
.title-left-padding {
  padding-left: 15px;
}

.overturn-reason-block {
  height: 494px;
  width: 468px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 12px;
  float: left;
}
.appeals-overturned-bar-chart {
  padding-top: 34.8px;
  padding-bottom: 16px;
  padding-left: 89px;
}
