<app-feedback></app-feedback>
<div class="gettingReimburse-body">
  <div class="appeals-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>
      <div class="breadcrumb-top-padding filter-div">
        <div class="time--period ">
          <div class="filterchips">
            <div class="horizontal-align">
              <button class="btn btn-rounded" disabled>
                <span>Time Period: </span><span class="text-semibold pl-4">{{ timePeriod }} </span>
              </button>
            </div>
            <div class="horizontal-align" *ngFor="let tax of taxID">
              <button class="btn btn-rounded" disabled>
                <span>Tax ID: </span><span class="text-semibold pl-4">{{ tax }} </span>
                <div class="close-btn">
                  <mat-icon class="icon-display" (click)="removeFilter('tax', tax)" svgIcon="close"></mat-icon>
                </div>
              </button>
            </div>
            <div class="horizontal-align" *ngIf="lob">
              <button class="btn btn-rounded" disabled>
                <span>Line of Business: </span><span class="text-semibold pl-4">{{ lob }} </span>
                <div class="close-btn">
                  <mat-icon
                    class="icon-display"
                    (click)="removeFilter('lob', session.filterObjValue.lob)"
                    svgIcon="close"
                  ></mat-icon>
                </div>
              </button>
            </div>
          </div>
          <div class="filter_bg" (click)="openFilter()">
            <mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>
            <div class="filter_title">Filters</div>
          </div>
        </div>
      </div>
    </div>

    <div class="height1Separator"></div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
    </div>
    <!--<div *ngIf="!loading">
       <div *ngFor="let item of currentSummary">
        <app-card *ngIf="item != null && item.data != null" class="cards" [chartData]="item"> </app-card>
        <app-error-card *ngIf="item != null && item.status != null" class="cards" [data]="item"></app-error-card>
      </div>
    </div>-->
    <div *ngIf="!loading" class="appeals-cards-block">
      <div *ngFor="let overturn of overturnItem">
        <app-card *ngIf="overturn != null && overturn.data != null" class="cards" [chartData]="overturn"></app-card>
        <app-error-card
          *ngIf="overturn != null && overturn.status != null"
          class="cards"
          [data]="overturn"
        ></app-error-card>
      </div>
      <!--<div class="overturn-margin-padding">-->
      <div>
        <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
        <div *ngIf="reasonDataAvailable" class="overturn-reason-block">
          <app-common-header
            [title]="title"
            class="full-display"
            (helpIconClicked)="helpIconClick($event)"
          ></app-common-header>
          <!--div *ngFor="let r of reason; let i = index"-->
          <div *ngIf="reason.length >= 1" class="appeals-overturned-bar-chart">
            <app-med-bar-chart [chartOptions]="reason[0]"></app-med-bar-chart>
          </div>
          <div *ngIf="reason.length >= 2" class="appeals-overturned-bar-chart">
            <app-med-bar-chart [chartOptions]="reason[1]"></app-med-bar-chart>
          </div>
          <div *ngIf="reason.length >= 3" class="appeals-overturned-bar-chart">
            <app-med-bar-chart [chartOptions]="reason[2]"></app-med-bar-chart>
          </div>
          <div *ngIf="reason.length >= 4" class="appeals-overturned-bar-chart">
            <app-med-bar-chart [chartOptions]="reason[3]"></app-med-bar-chart>
          </div>
          <div *ngIf="reason.length >= 5" class="appeals-overturned-bar-chart">
            <app-med-bar-chart [chartOptions]="reason[4]"></app-med-bar-chart>
          </div>
          <!--/div-->
          <div class="common-footer">
            <div class="reason-time">{{ timePeriod }}</div>
          </div>
          <!--app-common-footer [timePeriod]="timePeriod" class="reason-time"></app-common-footer-->
        </div>
      </div>
      <div *ngIf="!reasonDataAvailable && !loading" class="overturn-margin">
        <app-error-card *ngIf="reason[0].status" class="cards" [data]="reason[0]"></app-error-card>
      </div>
      <!--<app-clarify-claims-message></app-clarify-claims-message>-->
    </div>

    <!-- Average Days for Appeals Processing Card begins here -->
    <div *ngIf="showAppealsTAT">
      <app-card *ngIf="appealsTAT != null" class="cards" [chartData]="appealsTAT"></app-card>
    </div>
    <!-- Average Days for Appeals Processing Card Ends here -->
  </div>
</div>
