@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.card-structure {
  position: relative;
  display: inline-flex;
}
.card-inner {
  background-color: $white;
  width: 222px;
  min-height: 238px;
  height: auto;
  margin: 10px;
  line-height: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding-bottom: 16px;

  @include font-size(30);

  .self-service-title {
    position: relative;
    padding: 16px 20px 0 16px;
    color: $black-rock;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .self-service-number {
    position: relative;
    padding: 10px 20px 10px 16px;
    color: $black-rock;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 0.2px;
  }

  .self-service-subtitle {
    color: $black-rock;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    padding: 0px 20px 0 16px;
  }

  /* Css for Labels*/
  ul.list-labels > li {
    display: block;
    color: $black-rock;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;

    .labels1 {
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    }
  }

  ul.list-labels > li::before {
    content: '•  ';
    font-size: 60px;
    position: relative;
    top: 16px;
    left: 10px;
  }

  ul.list-labels > li:nth-child(1)::before {
    color: #3381ff;
  }
  ul.list-labels > li:nth-child(2)::before {
    color: #80b0ff;
  }
}
.print-card-inner {
  box-shadow: none;
  border: 1px solid #2d2d39;
}

// @media screen and (max-width: 1331px) {
//   .card-inner {
//     width: 210px;
//     height: 280px;
//   }
// }

.card-skeleton-mini-tile:empty {
  margin: auto;
  width: 222px;
  height: 238px;

  background-image: radial-gradient(circle 50px at 50px 50px, lightgray 0, transparent 0),
    linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);

  background-repeat: no-repeat;

  background-size: 100px 200px, /* circle */ 20px 304px, /* highlight */ 75px 200px, 100px 200px, 150px 200px,
    150px 200px;

  background-position: 10px 75px, /* circle */ 0 0, /* highlight */ 20px 25px, 20px 100px, 20px 150px, 20px 200px;

  animation: shine-mini-tile 1s infinite;
}

@keyframes shine-mini-tile {
  to {
    background-position: 10px 75px, 100% 0, /* move highlight to right */ 20px 25px, 20px 100px, 20px 150px, 20px 200px;
  }
}
