<div *ngIf="data != null" class="card-structure">
  <div class="card-inner" [class.print-card-inner]="printStyle">
    <div class="self-service-title">
      {{ data.title }}
    </div>
    <div class="self-service-number">
      {{ data.data.centerNumber }}
    </div>
    <app-mini-bar-chart [chartOptions]="data.fdata"></app-mini-bar-chart>
    <div class="self-service-subtitle">
      {{ data.fdata.graphValuesTitle }}
    </div>
    <ul class="list-labels">
      <li *ngIf="data.fdata.concatString == '$'">
        <span>{{ data.fdata.concatString }} {{ data.fdata.graphValues[0] | zeroValueFormatter }}</span>
        {{ data.fdata.graphData1 }}
      </li>
      <li *ngIf="data.fdata.concatString == '$'">
        <span>{{ data.fdata.concatString }} {{ data.fdata.graphValues[1] | zeroValueFormatter }}</span>
        {{ data.fdata.graphData2 }}
      </li>

      <li *ngIf="data.fdata.concatString != '$'">
        <span>{{ data.fdata.graphValues[0] | zeroValueFormatter }} {{ ' ' + data.fdata.concatString }}</span>
        {{ data.fdata.graphData1 }}
      </li>
      <li *ngIf="data.fdata.concatString != '$'">
        <span>{{ data.fdata.graphValues[1] | zeroValueFormatter }} {{ ' ' + data.fdata.concatString }}</span>
        {{ data.fdata.graphData2 }}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="skeleton && !printStyle" class="card-structure">
  <div class="card-inner" [class.print-card-inner]="printStyle">
    <div class="card-skeleton-mini-tile"></div>
  </div>
</div>
