<div *ngIf="data.sdata != null" class="trend-details" [class.trend-nps]="data.sdata.trendStyleNPS">
  <div *ngIf="data.sdata.sign === 'down'" class="flex-box">
    <span class="trend" [class.down]="data.sdata.sign === 'down'">
      <img class="trend-image trend-image-down" src="/src/assets/images/trend-down.svg" alt="trend-down" />
    </span>
    <div class="trend-value trend-value-down">
      {{ data.sdata.data }}
    </div>
  </div>
  <div *ngIf="data.sdata.sign === 'up'" class="flex-box">
    <span class="trend" [class.up]="data.sdata.sign === 'up'">
      <img class="trend-image  trend-image-up" src="/src/assets/images/trend-up.svg" alt="trend-up" />
    </span>
    <div class="trend-value trend-value-up">
      {{ data.sdata.data }}
    </div>
  </div>
  <div *ngIf="data.sdata.sign === 'down-green'" class="flex-box">
    <span class="trend" [class.up]="data.sdata.sign === 'down-green'">
      <img class="trend-image trend-image-up" src="/src/assets/images/down-positive-no-circle.svg" alt="trend-down" />
    </span>
    <div class="trend-value trend-value-up">
      {{ data.sdata.data }}
    </div>
  </div>
  <div *ngIf="data.sdata.sign === 'up-red'" class="flex-box">
    <span class="trend" [class.down]="data.sdata.sign === 'up-red'">
      <img class="trend-image  trend-image-down" src="/src/assets/images/up-negative-no-circle.svg" alt="trend-up" />
    </span>
    <div class="trend-value trend-value-down">
      {{ data.sdata.data }}
    </div>
  </div>
  <div *ngIf="data.sdata.sign === 'neutral'" class="flex-box">
    <span class="trend" [class.neutral]="data.sdata.sign === 'neutral'">
      <img class="trend-image trend-image-neutral" src="/src/assets/images/flat-no-change.svg" alt="no-change" />
    </span>
    <div class="trend-value trend-value-neutral">
      {{ data.sdata.data }}
    </div>
  </div>
</div>
