@import '~src/scss/variables.scss';
@import '~src/scss/mixins';

.print-outer {
  float: right;
  border-radius: 3px;

  .print-icon-body {
    color: $strom-grey;
    display: inline-flex;
    border-radius: 3px;
    padding: 8px 15px;

    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    .padding-icon {
      padding-top: 15px;
    }
    span.print-label {
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.2px;
      line-height: 24px;
      padding-left: 4px;
      cursor: pointer;
    }
  }
}
.print-outer :hover {
  background: $pattens-blue;
  color: $black-rock;
}

.print-outer :active {
  background: #c8cfd6;
  color: $black-rock;
}
