@import '~src/scss/variables.scss';
@import '~src/scss/mixins';

.print-icon-body {
  float: right;
  color: #757588;
  display: inline-flex;
  border-radius: 3px;
  width: 120px;
  height: 52px;

  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  span.print-label {
    font-family: 'UHCSans-SemiBold', 'sans-serif';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 56px;
    padding-left: 10px;
    padding-top: 2px;
    cursor: pointer;
  }
}

.print-outer {
  border: 1px solid #f1f4f7;
  padding: 2px;
  border-radius: 3px;
}
.print-outer :hover {
  background: $gainsboro;
  color: $black;
}

.print-outer :active {
  background: $heather;
  color: $black;
}

.header-div {
  background-color: $white;
  height: 72px;
  display: flex;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  z-index: 999;
  .menu-div {
    @include padding(0, 0, 0, 0);
    .menu-icon {
      margin: 0;
      color: #196ecf;
      background-color: none;
      @include padding(20px, 0px, 22px, 40px);
    }
  }
  .header-logo-div {
    padding: 18px 0 18px 33px;

    .Uhc-logo {
      height: 36px;
      width: 175px;
    }
    .nav-menu-icons {
      margin: 0px 8px;
      vertical-align: middle;
      margin-left: 0px;
    }
    .person-logo {
      height: 20px;
      width: 20px;
    }
  }
  .user-div {
    margin-left: auto;
    display: flex;
    height: 25px;
    color: $strom-grey;
    font-size: 16px;
    font-family: 'UHCSans-SemiBold', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: right;
    padding: 25px 32px 20px 0;

    .user-name {
      line-height: 31px;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      text-align: right;
    }
  }
}
