.print-component {
  float: right;
  color: #757588;
  font-family: 'UHCSans-SemiBold', 'sans-serif';
  display: inline-flex;
  .print-img {
    height: 26px;
    width: 26px;
  }
  .print-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 60px;
    padding-left: 10px;
  }
}
