@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.breadcrumb-top-padding {
  @include margin(0, 0, 12px, 0);
  box-sizing: border-box;
  width: 961px;
  .filter-div {
    overflow: auto;
    line-height: 0;
  }
  .filter_bg {
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    .filter_title {
      color: $blue;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      margin: 9px 12px;
      float: left;
    }
    .filter_icon {
      color: $blue;
      margin: 9px 12px;
      float: left;
    }
  }
  .filter_bg:hover,
  .filter_bg:focus {
    background-color: #196ecf;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
  .filter_bg:active {
    background-color: #003da1;
    color: #ffffff;
    .filter_title {
      color: #ffffff;
    }
    .filter_icon {
      color: #ffffff;
    }
  }
}

.content-wrapper {
  background-color: $alice-blue;
  overflow-x: hidden;
  @include padding(16px, 30px, 30px, 32px);
  .main-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: left;
    flex-wrap: wrap;
    .height1Separator {
      height: 0;
      width: 1200px;
    }
    .pi-medical-record-coding-review-block {
      width: 961px;
      border-radius: 2px;
      background-color: $white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      float: left;
      margin-top: 12px;
    }
    .full-display {
      float: left;
      width: 100%;
    }
    .width-100 {
      width: 100%;
    }
    & > .cards {
      text-align: left;
      // @include margin(0, 0, 0, 12px);
    }
    .app-card-list-labels {
      display: block;
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 18px;
      float: left;
      margin-top: 70px;
    }
    .app-card-list-labels > li {
      margin-bottom: 16px;
      margin-right: 8px;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    }
    .label-dots {
      height: 16px;
      width: 16px;
      border-radius: 50%;
      margin-left: 16px;
    }
    .label-dots-ul > li:first-child {
      margin-bottom: 36px;
    }
    .date-range-text {
      float: left;
      margin-top: 16px;
      color: $strom-grey;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 18px;
    }
    .donut-chart-block {
      float: left;
      width: 435px;
      padding: 14px 0px 40px 40px;
      box-sizing: border-box;
    }
    .labels-ul {
      width: 142px;
    }
    .bar-chart-block {
      float: right;
      padding: 30px 40px 0px 0px;
    }
    .mr-returned-number {
      color: $black-rock;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;
      margin-top: 43px;
      /*float: left;*/
    }
    .mr-returned-bar-block {
      float: left;
      margin-left: 16px;
      display: flex;
      flex-flow: column;
      -ms-flex-flow: column;
    }
    .mr-returned-text {
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      float: left;
    }
    .medical-records-returned-bar {
      height: 48px;
      border-radius: 0 2px 2px 0;
      background-color: $blue-base;
      float: left;
      margin-top: 8px;
    }
    .medical-records-returned-block {
      float: left;
      display: flex;
      flex-flow: row;
      -ms-flex-flow: row;
    }
    .medical-records-not-returned-block {
      float: left;
      margin-top: 24px;
    }
    .mr-not-returned-bar-text-block {
      float: left;
      margin-top: 8px;
    }
    .medical-records-not-returned-bar {
      height: 48px;
      border-radius: 0 2px 2px 0;
      background-color: #fc6431;
      float: left;
      margin-bottom: 8px;
      margin-right: 16px;
    }
    .financial-ooportunity-block {
      float: left;
      width: 165px;
    }
    .zero-data-bar {
      background-color: $strom-grey !important;
    }
    .financial-value {
      color: $black-rock;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;
      float: left;
    }
    .financial-trend {
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      float: left;
    }
    .financial-opportunity {
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      float: left;
    }
    .pi-numbers-block {
      float: left;
      text-align: right;
    }
    .mr-not-returned-number {
      margin-top: 80px;
    }
    .pull-left {
      float: left;
      display: flex;
      flex-flow: column;
      width: 398px;
    }
    .warning-block {
      float: left;
      margin-top: 24px;
    }
    .pi-trend-icons {
      margin-left: 4px;
      margin-right: 4px;
      float: left;
      height: 20px;
      width: 20px;
    }
    .mr-not-returned-bar-block {
      width: 398px;
    }
    .cust-width-title {
      width: 961px;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      color: $black-rock;
      ol {
        @include margin(0, 0, 16px, 0);
      }
      .page-title {
        flex-basis: 100%;
        font-size: 36px;
        @include padding(16px, 0, 32px, 0);
        color: $black-rock;
      }
      .page-subtitle {
        flex-basis: 100%;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 12px;
      }
      .page-question {
        flex-basis: 100%;
        font-size: 22px;
        line-height: 50px;
      }
      .time--period {
        .horizontal-align {
          display: inline-block;
          margin: 3px 0;
        }
        button {
          span:first-child {
            font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
          }
          span.text-semibold {
            font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    @include padding(16px, 20px, 16px, 20px);
  }
}
