<div class="content-wrapper">
  <div class="main-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">
        {{ pageTitle }}
      </div>
      <!--<app-mock-data-warning-message class="warning-block"></app-mock-data-warning-message>-->
      <div class="breadcrumb-top-padding filter-div" *ngIf="false">
        <div class="time--period ">
          <div class="filterchips">
            <div class="horizontal-align">
              <button class="btn btn-rounded" disabled>
                <span>Time Period: </span><span class="text-semibold pl-4">{{ timePeriod }} </span>
              </button>
            </div>
            <div class="horizontal-align" *ngFor="let tax of taxID">
              <button class="btn btn-rounded" disabled>
                <span>Tax ID: </span><span class="text-semibold pl-4">{{ tax }} </span>
                <div class="close-btn">
                  <mat-icon class="icon-display" (click)="removeFilter('tax', tax)" svgIcon="close"></mat-icon>
                </div>
              </button>
            </div>
            <div class="horizontal-align" *ngIf="lob">
              <button class="btn btn-rounded" disabled>
                <span>Line of Business: </span><span class="text-semibold pl-4">{{ lob }} </span>
                <div class="close-btn">
                  <mat-icon
                    class="icon-display"
                    (click)="removeFilter('lob', session.filterObjValue.lob)"
                    svgIcon="close"
                  ></mat-icon>
                </div>
              </button>
            </div>
          </div>
          <div class="filter_bg" (click)="openFilter()">
            <mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>
            <div class="filter_title">Filters</div>
          </div>
        </div>
      </div>
    </div>

    <div class="height1Separator"></div>
    <app-large-card [skeletonLarge]="loading" *ngIf="loading"></app-large-card>
    <app-error-card
      *ngIf="!loading && !piDataloaded && cardData != null && cardData.status != null"
      class="cards"
      [data]="cardData"
    ></app-error-card>

    <div class="pi-medical-record-coding-review-block card-inner" *ngIf="piDataloaded">
      <app-common-header
        [title]="title"
        class="full-display"
        (helpIconClicked)="helpIconClick($event)"
      ></app-common-header>
      <div class="donut-chart-block">
        <app-donut-chart [chartOptions]="cardData.piDonutData.donutData" donutType="app-card"></app-donut-chart>
        <ul class="app-card-list-labels label-dots-ul">
          <li *ngFor="let c of cardData.piDonutData.besideData.color; let i = index">
            <div class="label-dots" style.background-color="{{ c }}"></div>
          </li>
        </ul>
        <ul class="app-card-list-labels labels-ul">
          <li *ngFor="let c of cardData.piDonutData.besideData.labels; let i = index">{{ c }}</li>
        </ul>
        <p class="date-range-text">
          &dagger; Positive/ negative trend comparison is {{ cardData.VarianceEndDate }} vs.
          {{ cardData.VarianceStartDate }}
        </p>
      </div>
      <div class="bar-chart-block">
        <div class="pi-numbers-block">
          <p class="mr-returned-number">{{ cardData.MedicalRecordsReturned }}</p>
          <p class="mr-not-returned-number mr-returned-number">{{ cardData.MedicalRecordsOutstanding }}</p>
        </div>
        <div class="pull-left">
          <div class="medical-records-returned-block">
            <div class="mr-returned-bar-block">
              <!--<p class="mr-returned-text">Medical Records Returned to UHC</p>-->
              <p class="mr-returned-text">Medical Records Received by UHC</p>
              <div
                class="medical-records-returned-bar"
                [class.zero-data-bar]="cardData.MedicalRecordsReturned == 0"
                [style.width.px]="cardData.returnedWidth"
              ></div>
            </div>
          </div>
          <div class="medical-records-not-returned-block">
            <div class="mr-not-returned-bar-block mr-returned-bar-block">
              <!--<p class="mr-not-returned-text mr-returned-text">Medical Records Not Returned to UHC</p>-->
              <p class="mr-not-returned-text mr-returned-text">Medical Records Not Received by UHC</p>
              <div class="mr-not-returned-bar-text-block">
                <div
                  class="medical-records-not-returned-bar"
                  [class.zero-data-bar]="cardData.MedicalRecordsOutstanding == 0"
                  [style.width.px]="cardData.notReturnedWidth"
                ></div>
                <div class="financial-ooportunity-block">
                  <div class="financial-ooportunity-numbers-block">
                    <p class="financial-value">{{ cardData.OutStandingAmount }}</p>
                    <mat-icon class="pi-trend-icons" svgIcon="{{ cardData.OutStandingAmountVarianceIcon }}"></mat-icon>
                    <p class="financial-trend" [style.color]="cardData.OutStandingAmountVarianceColor">
                      {{ cardData.OutStandingAmountVariance }} &dagger;
                    </p>
                  </div>
                  <p class="financial-opportunity">Financial Opportunity</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-display">
        <app-common-footer [timePeriod]="cardData.timeperiod" class="width-100"></app-common-footer>
      </div>
    </div>
    <div>
      <app-card class="cards" [chartData]="smartEditClaimsReturned"></app-card>
    </div>
    <div *ngIf="piDataloaded" class="message-left-margin">
      <app-clarify-claims-message></app-clarify-claims-message>
    </div>
  </div>
</div>
