<div class="contact-us-content">
  <div class="breadcrums-div">
    <span class="breadcrums">UHC Insights Contact Us / Support</span>
  </div>
  <div class="header-div">
    <div class="header">UHC Insights Contact Us / Support</div>
  </div>
  <app-large-card [content]="content"></app-large-card>
  <div class="questions-block">
    <div class="questions-block-content">
      <p class="questions-block-header">Frequently Asked Questions</p>

      <!--CCCCCCCCCCCCCCCCCCCCC-->

      <div class="bar-graphs-block">
        <div class="bar-graphs" *ngFor="let barchart of barChartsArray; let i = index">
          <div
            [class.extra-margin-top-31]="i != 0"
            class="bar-graphs-content"
            (click)="section[i] = !section[i]; reasonsCollapose(i)"
          >
            <mat-icon
              class="bar-graph-block-icon"
              svgIcon="carrot"
              [@rotatedState]="section[i] ? 'rotated' : 'default'"
            ></mat-icon>
            <p class="bar-graph-title">{{ barchart.question }}</p>
          </div>
          <div
            class="inner-block"
            *ngIf="section[i]"
            [class.extra-margin-bottom-minus-5]="i + 1 == barChartsArray.length"
          >
            <div class="inner-block-bdr">
              <div class="bottom-shadow">
                <div class="hide-bottom-arrow-block"></div>
              </div>
              <div class="top-5-block">
                <div class="inside-bar-graph-content">
                  {{ barchart.answer }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--DDDDDDDDDDDDDDDDDDDDDD-->
    </div>
  </div>
</div>
