@import '~src/scss/variables.scss';
@import '~src/scss/mixins';

.filter {
  &-div {
    overflow: auto;
    line-height: 0;
    @include margin(12px, 0, 12px, 0);
    box-sizing: border-box;
  }
  &-bg {
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid $blue;
    border-radius: 2px;
    float: right;
    margin-right: 7px !important;
    cursor: pointer;
  }
  &-title {
    color: $blue;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: center;
    margin: 9px 0;
    float: left;
  }
  &-icon {
    color: $blue;
    margin: 7px 10px;
    float: left;
  }
  &-bg:hover,
  &-bg:focus {
    background-color: $blue;
    color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    .filter-title,
    .filter-icon {
      color: $white;
    }
  }
  &-bg:active {
    background-color: $blue-base;
    color: $white;
    .filter-title,
    .filter-icon {
      color: $white;
    }
  }
  &-chips {
    width: 845px;
    float: left;
    .horizontal-align {
      display: inline-block;
      margin: 5px 17px 5px 0;
      .btn-rounded {
        height: 34px;
        padding: 0.355rem 0.78125rem;
      }
    }
    button {
      span:first-child {
        font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      }
      span.text-semibold {
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      }
    }
    .close-btn {
      position: relative;
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 8px;
      margin-top: -1px;
      .icon-display {
        color: $strom-grey;
      }
    }
  }
}
