.card {
  height: 0px;
  width: 100%;
}

.tooltip {
  position: absolute;
  background: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  z-index: 9999;
}
