@import '~src/scss/variables.scss';
@import '~src/scss/mixins';

.gettingReimburse-body {
  background-color: $alice-blue;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  overflow: hidden;
  @include padding(16px, 0, 64px, 0);
  .nonPayment-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: left;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;

    & > .cards {
      text-align: left;
    }

    .nonPayment-content-cust {
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      color: $black-rock;
      margin-left: 10px;
      width: 961px;
      .page-title {
        flex-basis: 100%;
        font-size: 36px;
        @include padding(16px, 0, 20px, 0);
        line-height: 40px;
      }
    }

    .height-separator1-print {
      height: 20px;
      width: 100px;
    }

    .height-separator2-print {
      height: 120px;
      width: 100px;
    }

    .top-reasons-for-claims-non-payment-block {
      width: 954px;

      // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      margin: 12px;
      float: left;
    }
    .bar-graphs-block {
      // /*padding: 16px;*/
      // float: left;
      // width: 961px;
      // /*margin-bottom: 33px;*/
      float: left;
      width: 954px;
      background-color: $white;
      // box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
      border-radius: 2px;
    }
    .extra-margin-bottom-33 {
      margin-bottom: 33px;
    }
    .extra-margin-top-18 {
      margin-top: 18px;
    }
    .bar-graphs {
      float: left;
    }
    .bar-graphs-content {
      // padding: 8px;
      // float: left;
      // cursor: pointer;
      padding: 0 8px 8px 0;
      float: left;
      cursor: pointer;
      background: rgb(255, 255, 255);
      width: 946px;
    }
    .bar-graphs-content:hover {
      background: $darker-alice-blue;
      .bar-graph-block-icon {
        color: $dodger-blue;
      }
    }
    .bar-graph-inside-content {
      padding: 0 8px 8px 0;
      float: left;
      cursor: pointer;
      margin: 0 20px;
    }
    .extra-margin-bottom-16 {
      margin-bottom: 16px;
    }
    .extra-margin-top-8 {
      margin-top: 8px;
    }
    .extra-margin-top-31 {
      margin-top: 24px;
    }
    .extra-margin-bottom-40 {
      margin-bottom: 40px;
    }
    .width-100 {
      width: 100%;
    }
    .margin-0 {
      margin: 0;
    }
    .white-bg {
      background: $white;
    }
    .bar-graph-title {
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      float: left;
      margin-left: 12px;
    }
    .bar-graph-value {
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;
      float: right;
    }
    .bar-graph-inside-left-block {
      width: 368px;
      float: left;
      margin-top: 13px;
    }
    .bar-graph-inside-left-block-content {
      padding-right: 24px;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
    .bar-graph-inside-right-block {
      width: 517px;
      /*background: $dodger-blue;
  height: 45px;*/
      float: left;
    }
    .bar-graph-inside-right-block-bars {
      background: $dodger-blue;
      height: 48px;
      float: left;
      border-radius: 0 2px 2px 0;
    }
    .bar-graph-block-icon {
      float: left;
      /*margin-top: -2px;*/
      margin-left: 8px;
      /*height: 20px;
      width: 20px;*/
      margin-right: 12px;
    }
    .full-display {
      float: left;
      width: 100%;
    }
    .inner-block {
      position: relative;
      background: rgb(241, 244, 247);
      float: left;
      // width: 954px;
      // padding-left: 4px;
      padding-bottom: 0;

      .inside-bar-graph-content {
        float: left;
        cursor: pointer;

        background: rgb(255, 255, 255);
        width: 930px;
      }
      .inside-bar-graph-content:hover {
        background: $darker-alice-blue;
      }
      .inside-bar-graph-left-block {
        float: left;
        width: 405px;
        box-sizing: border-box;
      }
      .inside-bar-graph-right-block {
        width: 517px;
        /*background: $dodger-blue;
    height: 45px;*/
        float: left;
        padding: 30px 0 16px 0;
      }
      .inside-grey-block-bars {
        background: #cdcdcd;
        height: 22px;
        float: left;
        width: 510px;
        border-radius: 0 2px 2px 0;
      }
      .right-block-width {
        width: 510px;
      }
      .inside-right-block-bars {
        background: $dodger-blue;
        height: 22px;
        float: left;
        border-radius: 0 2px 2px 0;
        position: relative;
        left: 0px;
        top: -22px;
        z-index: 1;
      }
      .inside-chart-color {
        background-color: #d7dce0;
      }
      .inside-block-content {
        padding: 30px 50px 16px 40px;
      }
    }
    .inner-block:last-child {
      position: relative;
      background: rgb(241, 244, 247);
      float: left;
      // width: 954px;
      // padding-left: 4px;
      padding-bottom: 0;
    }
    .extra-margin-left-4 {
      margin-left: 4px !important;
    }
    /*
.inner-block::before {
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 1px solid #ccc;
  left: 20px;
  content: "";
  margin-top: -19px;
  transform: rotate(45deg);
  border-left: 1px solid #ccc;
  background: #efefef;
}*/
    .page-title {
      flex-basis: 100%;
      font-size: 36px;
      @include padding(16px, 0, 32px, 0);
      line-height: 40px;
      font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
      color: $black-rock;
    }
    .print-page-title {
      padding-top: 30px;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      line-height: 30px;
      font-size: 36px;
    }
    .print-page-subtitle {
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      line-height: 40px;
      flex-basis: 100%;
      font-size: 28px;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
      width: 98.5%;
    }

    .time--period {
      .filterchips {
        width: 830px;
        float: left;
        .horizontal-align {
          display: inline-block;
          margin: 5px 17px 5px 0;
          .btn-rounded {
            height: 34px;
            padding: 0.355rem 0.78125rem;
          }
        }
        button {
          span:first-child {
            font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
          }
          span.text-semibold {
            font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
          }
        }
        .close-btn {
          display: inherit;
          position: relative;
          cursor: pointer;
          height: 24px;
          display: inline-block;
          vertical-align: middle;
          padding: 0 0 0 8px;
          margin-top: -1px;
          .icon-display {
            color: #757588;
          }
        }
      }
    }
    .bottom-shadow {
      height: 1px;
      background: $alice-blue;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      width: 940px;
      margin-left: 4px;
    }
    .bottom-shadow::before {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 16px;
      content: '';
      margin-top: -6px;
      transform: rotate(225deg);
      background: $white;
      margin-left: 24px;
      box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, 0.15) inset;
    }
    .inner-blocks-header {
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      /*line-height: 22px;*/
      line-height: unset;
      margin-top: 24px;
      margin-left: 4px;
    }
    .top-5-block {
      background-color: rgb(255, 255, 255);
      box-sizing: border-box;
      width: 930px;
      height: 100%;
      float: left;
      margin: 2px 12px 0 12px;
    }
    .top-5-block:last-child {
      border-bottom: 1px solid #e0e0e0;
    }
    .top-5-text {
      color: $black-rock;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;

      float: left;
    }
    .top-5-value {
      color: $black-rock;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;

      float: right;
    }
    .hide-bottom-arrow-block {
      width: 25px;
      height: 20px;
      background: $white;
      position: absolute;
      left: 36px;
      top: 1px;
      border-radius: 20px;
    }
    // Claims Non Payment Trend Css Begins
    .non-payment-trend-block {
      width: 961px;
      // height: 450px;
      borderborder-radius: 2px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      margin: 12px;
      float: left;
      position: relative;
    }

    .bottom-margin-block {
      margin-bottom: 15px;
    }
    .timeperiod-block {
      border-top: 1px solid #efefef;
      position: absolute;
      margin-top: 35px;
      width: 961px;
      z-index: 99999;
    }
    .timeperiod-text {
      position: inherit;
      padding: 9px 20px 9px 16px;
      color: $strom-grey;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 17px;
      height: 30px;
      // margin-top: 5px;
    }
    .time-period-trend {
      float: left;
    }
  }
  @media only screen and (max-width: 1024px) {
    @include padding(16px, 0, 16px, 0);
  }
}

// .bg-color-print {
//  background-color: white;
//  -webkit-print-color-adjust: exact;
// }
