<app-feedback></app-feedback>
<div class="gettingReimburse-body">
  <div class="nonPayment-content">
    <div class="nonPayment-content-cust">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">{{ pageTitle }}</div>
      <div class="breadcrumb-top-padding filter-div">
        <div class="time--period ">
          <div class="filterchips">
            <div class="horizontal-align">
              <button class="btn btn-rounded" disabled>
                <span>Time Period: </span><span class="text-semibold pl-4">{{ timePeriod }} </span>
              </button>
            </div>
            <div class="horizontal-align" *ngFor="let tax of taxID">
              <button class="btn btn-rounded" disabled>
                <span>Tax ID: </span><span class="text-semibold pl-4">{{ tax }} </span>
                <div class="close-btn">
                  <mat-icon class="icon-display" (click)="removeFilter('tax', tax)" svgIcon="close"></mat-icon>
                </div>
              </button>
            </div>
            <div class="horizontal-align" *ngIf="lob">
              <button class="btn btn-rounded" disabled>
                <span>Line of Business: </span><span class="text-semibold pl-4">{{ lob }} </span>
                <div class="close-btn">
                  <mat-icon
                    class="icon-display"
                    (click)="removeFilter('lob', session.filterObjValue.lob)"
                    svgIcon="close"
                  ></mat-icon>
                </div>
              </button>
            </div>
          </div>
          <div class="filter_bg" (click)="openFilter()">
            <mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>
            <div class="filter_title">Filters</div>
          </div>
        </div>
      </div>
    </div>
    <div class="height1Separator"></div>

    <div *ngFor="let item of nonPaymentData1">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item.status != null" class="cards" [data]="item"></app-error-card>
    </div>

    <!-- Top reasons for Claims Start here -->
    <app-large-card [skeletonLarge]="loadingTopReasons" *ngIf="loadingTopReasons"></app-large-card>
    <app-error-card
      *ngIf="
        !topReasonsCategoryDisplay && !loadingTopReasons && barChartsArray != null && barChartsArray.status != null
      "
      class="cards"
      [data]="barChartsArray"
    ></app-error-card>
    <div class="top-reasons-for-claims-non-payment-block" *ngIf="topReasonsCategoryDisplay && !loadingTopReasons">
      <app-common-header
        [title]="title"
        class="full-display"
        (helpIconClicked)="helpIconClick($event)"
      ></app-common-header>
      <div class="bar-graphs-block">
        <div
          class="bar-graphs"
          *ngFor="let barchart of barChartsArray; let i = index"
          [class.extra-margin-bottom-33]="i + 1 == barChartsArray.length && !section[i]"
        >
          <div
            [class.extra-margin-top-8]="i != 0"
            [class.extra-margin-bottom-16]="section[i]"
            class="bar-graphs-content"
            (click)="section[i] = !section[i]; reasonsCollapose(i)"
          >
            <div class="bar-graph-inside-left-block">
              <div class="bar-graph-inside-left-block-content">
                <mat-icon class="bar-graph-block-icon" *ngIf="!section[i]" svgIcon="open"></mat-icon>
                <mat-icon class="bar-graph-block-icon" *ngIf="section[i]" svgIcon="close-bar"></mat-icon>
                <p class="bar-graph-title">{{ barchart.title }}</p>
                <p class="bar-graph-value">{{ barchart.value }}</p>
              </div>
            </div>
            <div class="bar-graph-inside-right-block" #barsParentBlock>
              <div
                class="bar-graph-inside-right-block-bars"
                [style.width.px]="(barchart.numeric / barChartsArray[0].numeric) * barsParentBlock.offsetWidth"
              ></div>
            </div>
          </div>

          <div class="inner-block" *ngIf="section[i]">
            <div class="bottom-shadow">
              <div class="hide-bottom-arrow-block"></div>
            </div>
            <h3 class="inner-blocks-header">
              Top Reason{{ barchart.top5.length === 1 ? '' : 's' }} for {{ barchart.title }}
            </h3>
            <div *ngFor="let inside of barchart.top5; let j = index">
              <div *ngIf="j < 5">
                <div [class.extra-margin-left-4]="j == 0" class="top-5-block">
                  <p class="top-5-text">{{ inside.text }}</p>
                  <p class="top-5-value">{{ inside.value }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full-display">
        <app-common-footer [timePeriod]="timePeriod" [title]="title" class="width-100"></app-common-footer>
      </div>
    </div>
    <!-- Top Reasons for Claims Ends here -->

    <!-- Claims Non - Payment Trend  Starts Here -->
    <app-error-card
      *ngIf="!trendMonthDisplay && monthlyLineGraph != null && monthlyLineGraph.status != null"
      class="cards"
      [data]="monthlyLineGraph"
    ></app-error-card>
    <div class="non-payment-trend-block" *ngIf="trendMonthDisplay">
      <app-common-header
        [title]="trendTitle"
        class="full-display bottom-margin-block"
        (helpIconClicked)="helpIconClick($event)"
      ></app-common-header>
      <div class="full-display">
        <app-line-graph [chartOptions]="monthlyLineGraph"></app-line-graph>
        <!--div class="timeperiod-block">
         <p class="timeperiod-text">{{ timePeriod }}</p>
       </div-->
      </div>
      <app-common-footer [timePeriod]="timePeriod" class="width-100 time-period-trend"></app-common-footer>
    </div>
    <!-- Claims Non - Payment Trend Ends Here -->

    <app-clarify-claims-message></app-clarify-claims-message>
  </div>
</div>
