@import '~src/scss/variables.scss';

.card-structure {
  position: relative;
  float: left;

  .card-inner-large {
    background-color: $white;
    width: 932px;
    position: relative;
    overflow: hidden;
    height: auto;
    margin: 12px 0;
    font-size: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;

    &-content {
      padding: 0 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .card-inner-large-skeleton {
    background-color: $white;
    width: 961px;
    height: 519px;
    position: relative;
    overflow: hidden;
    // height: auto;
    margin: 12px;
    font-size: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
  .full-width-block {
    padding-top: 16px;
  }
  .header-properties {
    color: #2d2d39;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding-left: 16px;
    padding-top: 16px;
  }

  .full-width-block {
    float: left;
    width: 100%;
  }
}

.card-skeleton-large:empty {
  margin: auto;
  width: 961px;
  height: 519px;

  background-image: radial-gradient(circle 50px at 50px 50px, lightgray 0, transparent 0),
    linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);

  background-repeat: no-repeat;

  background-size: 100px 200px, /* circle */ 50px 519px, /* highlight */ 700px 200px, 700px 200px, 700px 200px,
    700px 200px;

  background-position: 10px 125px, /* circle */ 0 0, /* highlight */ 120px 100px, 120px 200px, 120px 300px, 120px 400px;

  animation: shine-large 1s infinite;
}

@keyframes shine-large {
  to {
    background-position: 10px 125px, 100% 0, /* move highlight to right */ 120px 100px, 120px 200px, 120px 300px,
      120px 400px;
  }
}

.kop-insights-data {
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-right: 1px solid $gainsboro;
  min-height: 170px;
  height: auto;
  padding: 12px 20px;
  width: 100%;

  &:last-child {
    border-right: none;
  }
}
