.container-title {
  flex-basis: 100%;
  font-size: 36px;
  @include padding(16px, 0, 10px, 0);
  line-height: 40px;
}

.container-sub-title {
  height: 44px;
  width: 795px;
  color: #757588;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding-top: 25px;
}
