.container {
  background-color: rgb(241, 244, 247);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 64px;
  padding-left: 0;
}
.container-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: left;
  width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  .height1Separator {
    height: 0;
    width: 1200px;
  }
  .cust-width-blank {
    width: 502px;
  }
  & > .cards {
    text-align: left;
    @include margin(0, 0, 0, 0);
  }
}

.container-header {
  width: 961px;
  font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
  color: rgb(45, 45, 57);
  margin-left: 10px;
}
