<div class="card-structure">
  <div class="card-inner-large">
    <!-- {{ data[0].title }} -->
    <app-common-header
      [title]="data[0].title"
      class="full-display"
      (helpIconClicked)="helpIconClick($event)"
    ></app-common-header>

    <div *ngFor="let item of data; let i = index">
      <app-bar-chart *ngIf="item.data != null" [chartOptions]="item.data"> </app-bar-chart>
    </div>
    <!--<app-claims-paid-bar-graph></app-claims-paid-bar-graph> -->
    <div class="full-width-block" *ngIf="data[0].timeperiod">
      <app-common-footer [timePeriod]="data[0].timeperiod"></app-common-footer>
    </div>
  </div>
</div>
