@import '~src/scss/variables.scss';

.card-structure {
  position: relative;
  float: left;

  .card-inner-large {
    background-color: $white;
    width: 961px;
    // height: 519px;
    position: relative;
    overflow: hidden;
    height: auto;
    margin: 12px;
    line-height: 75px;
    font-size: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  .header-properties {
    color: #2d2d39;
    font-family: 'UHCSans-Regular';
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 16px;
    padding-top: 16px;
  }

  .full-width-block {
    float: left;
    width: 100%;
  }
}
