<div class="qulity-measure-star-block" *ngIf="!skeletonLarge">
  <div class="card-inner-large">
    <!-- {{ data[0].title }} -->
    <app-common-header
      [title]="title"
      class="full-display"
      (helpIconClicked)="helpIconClick($event)"
    ></app-common-header>
    <div class="bar-graphs-block">
      <div
        class="bar-graphs"
        *ngFor="let item of data; let i = index"
        [class.extra-margin-bottom-33]="i + 1 == data.length && !section[i]"
      >
        <div
          [class.extra-margin-top-8]="i != 0"
          [class.extra-margin-bottom-16]="section[i]"
          [class.bar-graphs-nohover]="item.data.barText == 0"
          [class.bar-graphs-content]="item.data.barText != 0"
          (click)="section[i] = !section[i]; reasonsCollapose(i)"
        >
          <div class="bar-graph-inside-left-block">
            <div class="bar-graph-inside-left-block-content">
              <mat-icon
                class="bar-graph-block-icon"
                [class.bar-graph-icon-hide]="item.data.barText == 0"
                *ngIf="!section[i]"
                svgIcon="open"
              ></mat-icon>
              <mat-icon class="bar-graph-block-icon" *ngIf="section[i]" svgIcon="close-bar"></mat-icon>
            </div>
          </div>
          <div class="bar-graph-inside-right-block" #barsParentBlock>
            <div>
              <app-bar-chart *ngIf="item.data != null && item.data" [chartOptions]="item.data"> </app-bar-chart>
            </div>
          </div>
        </div>

        <div class="inner-block" *ngIf="section[i]">
          <div class="bottom-shadow">
            <div class="hide-bottom-arrow-block"></div>
          </div>
          <h3 class="inner-blocks-header">{{ qualitySubTitle }}</h3>
          <div class="top-5-block">
            <div *ngFor="let listitem of qualityPcorData; let j = index">
              <div class="horizontal-line">
                <div class="accor-content-space">
                  <h3 class="list-title">{{ listitem.Name }}</h3>
                  <div class="stars-count-div">
                    <div class="no-stars-count" *ngIf="qualityStarCount == 1">
                      <i class="star-blue"></i>
                      <i class="star-grey"></i>
                      <i class="star-grey"></i>
                      <i class="star-grey"></i>
                      <i class="star-grey"></i>
                    </div>

                    <div class="no-stars-count" *ngIf="qualityStarCount == 2">
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-grey"></i>
                      <i class="star-grey"></i>
                      <i class="star-grey"></i>
                    </div>

                    <div class="no-stars-count" *ngIf="qualityStarCount == 3">
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-grey"></i>
                      <i class="star-grey"></i>
                    </div>

                    <div class="no-stars-count" *ngIf="qualityStarCount == 4">
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-grey"></i>
                    </div>

                    <div class="no-stars-count" *ngIf="qualityStarCount == 5">
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                      <i class="star-blue"></i>
                    </div>
                    <div class="cms-weight-div">
                      <div class="cms-weight-style">CMS Weight:</div>
                      <div class="cms-number">{{ listitem.CMSWeight }}</div>
                    </div>
                  </div>

                  <div class="description-content">
                    <span class="measure-desc">Measure Description:</span>
                    <span class="measure-content">{{ listitem.Description }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="full-width-block" *ngIf="data[0].timeperiod">
      <app-common-footer [timePeriod]="data[0].timeperiod"></app-common-footer>
    </div>
  </div>
</div>

<div *ngIf="skeletonLarge" class="qulity-measure-star-block">
  <div class="card-structure">
    <div class="card-inner-large-skeleton">
      <div class="card-skeleton-large"></div>
    </div>
  </div>
</div>
