<div class="qulity-measure-star-block">
  <div *ngIf="!skeletonLarge" class="card-inner-large">
    <app-common-header
      [title]="title"
      [expandAllButton]="expandAll"
      class="full-display white-bg"
      (accordianExpandedListener)="onClickExpandAllItem($event)"
      (helpIconClicked)="helpIconClick($event)"
    ></app-common-header>
    <div class="bar-graphs-block">
      <div
        class="bar-graphs"
        *ngFor="let item of data; let i = index"
        [class.extra-padding-bottom-33]="i + 1 == data.length && !item.active"
        [class.bar-graph-icon-hide-padding]="item.data.barText == 0"
      >
        <div
          [class.extra-margin-top-8]="i != 0"
          [class.extra-margin-bottom-16]="item.active"
          [class.bar-graphs-nohover]="item.data.barText == 0"
          [class.bar-graphs-content]="item.data.barText != 0"
          (click)="onClickExpandItem(i)"
        >
          <div class="bar-graph-inside-content">
            <div class="bar-graph-inside-left-block" [class.bar-graphs-noicon]="item.data.barText == 0">
              <div class="bar-graph-inside-left-block-content" [class.bar-graph-text]="item.data.barText == 0">
                <!-- <mat-icon class="bar-graph-block-icon" [class.bar-graph-icon-hide]="item.data.barText == 0" *ngIf="!section[i]"
                svgIcon="open"></mat-icon>
              <mat-icon class="bar-graph-block-icon" *ngIf="section[i]" svgIcon="close-bar"></mat-icon> -->

                <mat-icon
                  class="bar-graph-block-icon"
                  [class.bar-graph-icon-hide]="item.data.barText == 0"
                  svgIcon="carrot"
                  [@rotatedState]="item.active ? 'rotated' : 'default'"
                ></mat-icon>

                <div class="no-stars-count" *ngIf="item.data.starCount == 1">
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                </div>

                <div class="no-stars-count" *ngIf="item.data.starCount == 2">
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                </div>

                <div class="no-stars-count" *ngIf="item.data.starCount == 3">
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                </div>

                <div class="no-stars-count" *ngIf="item.data.starCount == 4">
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                </div>

                <div class="no-stars-count" *ngIf="item.data.starCount == 5">
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                  <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                </div>
              </div>
              <div class="bar-graph-inside-right-block" #barsParentBlock>
                <app-bar-chart *ngIf="item.data != null && item.data" [chartOptions]="item.data"> </app-bar-chart>
              </div>
            </div>
          </div>
        </div>

        <div class="inner-block" *ngIf="item.active && item.subItem">
          <div class="bottom-shadow">
            <div class="hide-bottom-arrow-block"></div>
          </div>

          <div class="top-5-block">
            <div
              *ngIf="expandAll"
              class="expand"
              (click)="subItemsExpanded[i] = !subItemsExpanded[i]; onClickExpandAllSubItem(i)"
            >
              <div class="name" *ngIf="!subItemsExpanded[i]">
                Expand All {{ item.data.starCount }}-Star Quality Mesaures
              </div>
              <div class="name" *ngIf="subItemsExpanded[i]">
                Collapse All {{ item.data.starCount }}-Star Quality Mesaures
              </div>
              <mat-icon
                class="bar-graph-block-icon"
                svgIcon="carrot"
                [ngClass]="subItemsExpanded[i] ? 'rotated' : 'default'"
                [@rotatedState]="subItemsExpanded[i] ? 'rotated' : 'default'"
              ></mat-icon>
            </div>
            <div *ngFor="let listitem of item[subItemKey]; let j = index">
              <div class="horizontal-line">
                <div class="accor-content-space">
                  <div
                    [class.extra-margin-bottom-7]="listitem.active"
                    [class.bar-graphs-nohover]="item.data.barText == 0"
                    [class.bar-graphs-sub-content]="item.data.barText != 0"
                    (click)="onClickExpandSubItem(i, j)"
                  >
                    <div class="sub-item-content">
                      <div class="sub-item-inside-block-content">
                        <mat-icon
                          class="bar-graph-block-icon"
                          svgIcon="carrot"
                          [@rotatedState]="listitem.active ? 'rotated' : 'default'"
                        ></mat-icon>

                        <h3 class="list-title">{{ listitem.QualityMeasurecodeandname }}</h3>
                      </div>
                    </div>

                    <div class="bar-graph-inside-right-block">
                      <div class="stars-count-div">
                        <div class="no-stars-count" *ngIf="listitem.starCount === 1">
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                        </div>

                        <div class="no-stars-count" *ngIf="listitem.starCount === 2">
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                        </div>

                        <div class="no-stars-count" *ngIf="listitem.starCount === 3">
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                        </div>

                        <div class="no-stars-count" *ngIf="listitem.starCount === 4">
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-grey" class="rounded-star-grey"></mat-icon>
                        </div>

                        <div class="no-stars-count" *ngIf="listitem.starCount === 5">
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                          <mat-icon svgIcon="star-blue" class="rounded-star-blue"></mat-icon>
                        </div>
                        <div class="cms-weight-div">
                          <div class="cms-weight-style">CMS Weight:</div>
                          <div class="cms-number verticalLine">{{ listitem.CMSWeight }}</div>
                          <div class="cms-weight-style">CMS Weighted Quality Rating:</div>
                          <div class="cms-number">{{ listitem.CMSWeightedQualityRating }}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sub-accor-content" *ngIf="listitem.active">
                    <!-- sub accordion-->
                    <div class="description-content">
                      <span class="measure-desc">Measure Description:</span>
                      <span class="measure-content">{{ listitem.MeasureDescription }}</span>
                      <br *ngIf="listitem.DescriptionTwo || listitem.DescriptionBulletPoints" />
                      <br *ngIf="listitem.DescriptionTwo || listitem.DescriptionBulletPoints" />
                      <span class="measure-content" *ngIf="listitem.DescriptionTwo">{{ listitem.DescriptionTwo }}</span>
                      <div *ngIf="listitem.DescriptionBulletPoints">
                        <span *ngFor="let item of listitem.DescriptionBulletPoints" class="measure-content"
                          >{{ item }}
                          <br />
                        </span>
                      </div>
                    </div>
                    <div class="flex-row-container">
                      <div class="flex-row-item1  vertical-line2 ">
                        <h3 class="accord-sub-title">5 STAR Threshold % Target</h3>
                        <div class="sub-accor-text1">≥ {{ listitem['5StarThresholdTarget'] }}</div>
                      </div>

                      <div class="flex-row-item2 vertical-line2 ">
                        <h3 class="accord-sub-title sub-title-2">
                          # of Members to Achieve 5
                          <br />
                          STAR Threshold
                        </h3>
                        <div class="sub-accor-text2">
                          {{ listitem.MemberstoAchieve5StarThreshold }}
                        </div>
                      </div>

                      <div class="flex-row-item1 height-90">
                        <h3 class="accord-sub-title sub-title-2">Current Rate</h3>
                        <div class="sub-last-text">
                          {{ listitem.currentRateCalc }}
                          <!-- {{listitem.NonCompliantMembersCount}} -->
                        </div>
                      </div>

                      <div class="flex-row-item1  vertical-line2 mt-24">
                        <h3 class="accord-sub-title">Eligible Members</h3>
                        <div class="sub-row2-first">{{ listitem.EligibleMemberscount }}</div>
                      </div>

                      <div class="flex-row-item2 vertical-line2 mt-24">
                        <h3 class="accord-sub-title sub-title-2">Non-compliant members</h3>
                        <div class="sub-accor-row2">
                          {{ listitem.NoncompliantMemberscount }}
                        </div>
                      </div>

                      <div class="flex-row-item1 height-90 mt-24">
                        <h3 class="accord-sub-title sub-title-2">Compliant Members</h3>
                        <div class="sub-accor-row2">
                          {{ listitem.CompliantMemberscount }}
                        </div>
                      </div>
                    </div>
                    <div class="HEDIS-measure-note" *ngIf="listitem.message">
                      &#42;&#42; Denotes an Adjusted HEDIS&reg; Measure
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-width-block white-bg" *ngIf="data[0].timeperiod">
        <app-common-footer [timePeriod]="data[0].timeperiod" [title]="data[0].title"></app-common-footer>
      </div>
    </div>
  </div>
  <div *ngIf="skeletonLarge" class="card-structure">
    <div class="card-inner-large-skeleton">
      <div class="card-skeleton-large"></div>
    </div>
  </div>
</div>
