<div class="provider-search">
  <div class="provider-search-header">
    <button class="provider-close-icon" [mat-dialog-close]="true" (click)="close()">
      <mat-icon class="nav-menu-icons" svgIcon="closeGlossary"></mat-icon>
    </button>

    <h2 mat-dialog-title>{{ containerLabel }}</h2>
  </div>
  <mat-dialog-content>
    <form class="provider-search-form" *ngIf="filteredStates">
      <mat-form-field appearance="outline">
        <mat-label>Search Providers</mat-label>
        <input matInput [matAutocomplete]="auto" [formControl]="stateCtrl" id="test" />
        <mat-icon matPrefix class="nav-menu-icons searchicon" svgIcon="search"></mat-icon>

        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="providerSelect($event)"
          [ngClass]="{ remove: stateCtrl.value }"
        >
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.HealthCareOrganizationName">
            <span *ngIf="state.HealthCareOrganizationName">{{ state.HealthCareOrganizationName }}</span>
          </mat-option>
          <div *ngIf="checkCondition()" [ngClass]="{ hidden: nomatchFlag }" class="no-result-found-div">
            <div class="no-result-found">No Results Found.</div>
            <div class="no-result-found-text">
              Your search –<span class="match-font"> {{ stateCtrl.value }} </span>– did not match any providers. Please
              recheck your search criteria or try a different search.
            </div>
          </div>
          <!-- uncomment when view all providers page is available    <div *ngIf="stateCtrl.value" class="view-allProviders" (click)="provider()">View All Providers</div> -->
        </mat-autocomplete>
        <mat-icon *ngIf="!nomatchFlag" matSuffix class="nav-menu-icons noDataicon" svgIcon="noData"></mat-icon>
      </mat-form-field>
    </form>
  </mat-dialog-content>
</div>
