@import '~src/scss/variables.scss';

.img-align {
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  border: 1px solid #bb880a;
  border-radius: 48px;
  background-color: #fffcd9;
  margin: 0 auto;
  line-height: 1;
}
.image-align {
  vertical-align: middle;
  height: 36px;
  padding: 16px;
}
.error-title {
  color: $black-rock;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
