@import '~src/scss/variables.scss';
.app-card-structure-for-smart-edits-claims-returned {
  height: 494px !important;
}
.app-card-structure {
  position: relative;
  background-color: $white;
  width: 464px;
  height: 356px;
  margin: 12px;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  .chart-details-donut {
    float: left;
    /*padding-left: 15px;
    padding-top: 10px;*/
  }
  .chart-details {
    float: left;
  }
  .full-width {
    width: 100%;
  }
  /* Css for Labels*/
  /*
    ul.list-labels > li {
      display: block;
      color: $black-rock;
      font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 18px;
    }

    ul.list-labels > li::before {
      content: '•  ';
      font-size: 45px;
      position: relative;
      top: 10px;
    }

    ul.list-labels > li:nth-child(1)::before {
      color: #3381ff;
    }
    ul.list-labels > li:nth-child(2)::before {
      color: #3381f0;
    }
    ul.list-labels > li:nth-child(3)::before {
      color: #338190;
    }
    ul.list-labels > li:nth-child(4)::before {
      color: #000;
    }  */
  /* Css for Labels Ends here*/
  .app-card-list-labels {
    display: block;
    color: $black-rock;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    float: left;
  }
  .pi-list-color {
    width: 24px;
    .pi-label-icons {
      line-height: 20px;
      padding-bottom: 16px;
      margin-top: 2px;
    }
  }
  .pi-list-labels {
    width: 120px;
  }
  .app-card-list-labels > li {
    margin-bottom: 16px;
    margin-right: 8px;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  }
  .label-dots {
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }
  .total-claims-beside-data-block {
    float: left;
    margin-top: 110px;
    margin-left: 25px;
  }
  .pi-beside-data-block {
    float: left;
    margin-top: 75px;
    margin-left: 16px;
  }
  .pa-approval-rate-beside-data-block {
    float: left;
    margin-top: 40px;
    margin-left: 53px;
  }
  .claims-paid-beside-data-block,
  .claims-appeals-submitted-beside-data-block,
  .pa-requested-beside-data-block {
    float: left;
    /*margin-top: 94px;*/
    margin-top: 60px;
    margin-left: 24px;
  }
  .claims-paid-beside-data-block-three-lob,
  .claims-appeals-submitted-beside-data-block-three-lob,
  .pa-requested-beside-data-block-three-lob {
    float: left;
    /*margin-top: 94px;*/
    margin-top: 80px;
    margin-left: 24px;
  }
  .claims-paid-beside-data-block-two-lob,
  .claims-appeals-submitted-beside-data-block-two-lob,
  .pa-requested-beside-data-block-two-lob {
    float: left;
    /*margin-top: 94px;*/
    margin-top: 100px;
    margin-left: 24px;
  }
  .claims-paid-beside-data-block-one-lob,
  .claims-appeals-submitted-beside-data-block-one-lob,
  .pa-requested-beside-data-block-one-lob {
    float: left;
    /*margin-top: 94px;*/
    margin-top: 120px;
    margin-left: 24px;
  }
  .label-color-indicators {
    margin-bottom: 18px !important;
  }
  .full-width-block {
    float: left;
    width: 100%;
  }
  .calls-beside-data-block {
    float: right;
    padding: 80px 20px 0px 0px;
  }
  .total-claims-donut-with-label {
    float: left;
    padding: 14px 0px 32px 77px;
  }
  .total-claims-donut-with-label {
    float: left;
    padding: 14px 0px 32px 77px;
  }
  .pa-requested-donut-with-label {
    float: left;
    padding: 14px 0px 32px 61px;
  }
  .pa-approval-rate-donut-with-label {
    float: left;
    padding: 14px 0px 32px 53px;
  }
  .pi-donut-with-label {
    float: left;
    padding: 14px 0px 32px 40px;
  }
  .PCOR-annual-rate-donut-with-label-tab {
    float: left;
    padding: 40px 0px 25px 53px;
  }
  .smart-edits-claims-returned {
    float: left;
    padding: 100px 24px 88px 52px;
  }
  .smart-edits-claims-returned-beside-data-block {
    float: left;
    padding-top: 145px;
  }

  .smart-edits-claims-labels {
    width: 118px;
  }
  .smart-edits-claims-label-icons {
    margin-bottom: 36px !important;
  }
  .claims-paid-donut-with-label,
  .claims-appeals-submitted-donut-with-label,
  .calls-donut-with-label {
    float: left;
    padding: 14px 0px 32px 32px;
  }
  .rotate-graph-label-value {
    color: $black-rock;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
  .rotate-graph-label {
    color: $strom-grey;
    font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: center;
    width: 123px;
    display: block;
  }
  .only-donut-block {
    float: left;
    padding: 14px 125px 32px;
  }
  .align-center {
    justify-content: center;
  }
  .text-align-center {
    text-align: center;
  }
  .bottom-labels-block {
    margin-bottom: 40px;
  }
  .bottom-label-value {
    color: $black-rock;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .bottom-label {
    color: $strom-grey;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 22px;
  }
  .pi-bottom-label {
    color: $strom-grey;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 22px;
  }
  .left-padding-with-border {
    padding-left: 24px;
    border-left: 1px solid $heather;
  }
  .right-padding {
    padding-right: 24px;
  }
  .flex-display {
    display: flex;
  }
  .only-donut-block-with-more-padding {
    padding: 58px 125px 74px !important;
  }
  .claims-avg-tat-rotate-object {
    float: left;
    padding: 14px 0px 25px 53px;
  }
  .claims-avg-tat-hr-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
  }
  .claims-avg-tat-beside-data-block {
    float: left;
    margin-left: 22px;
    padding-top: 56px;
    //  padding-top: 74px;
    // padding-left: 32px;
  }
  .pa-approved-rate-vertical-data-block {
    float: left;
    padding-top: 35px; // top-bottom centre
    width: 135px;
    text-align: center;
    padding-left: 29px;
    .donut-graph-title {
      color: $strom-grey;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      padding-bottom: 16px;
    }
    .donut-graph-label-value {
      color: $black-rock;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
    }
    .donut-graph-label {
      color: $strom-grey;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
    }
    .pa-avg-tat-hr-line {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 60px;
    }
  }
  /* Css for Labels Ends here*/

  /*PCOR*/

  .PCOR-annual-rate-vertical-data-block {
    float: left;
    padding-top: 85px;
    width: 135px;
    text-align: center;
    padding-left: 29px;
    .donut-graph-title {
      color: $strom-grey;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
      padding-bottom: 16px;
    }
    .donut-graph-label-value {
      color: $black-rock;
      font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
    }
    .donut-graph-label {
      color: $strom-grey;
      font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
    }
    .pa-avg-tat-hr-line {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 60px;
    }
  }
}

.app-card-structure-with-more-height {
  height: 442px !important;
}

.small-bar-chart-struct {
  padding-left: 72px;
  padding-top: 30px;
  .small-bar-chart-value {
    color: #2d2d39;
    font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
    font-size: 41px;
    letter-spacing: -0.5px;
    line-height: 48px;
  }
}

.card-skeleton:empty {
  margin: auto;
  width: 468px;
  height: 356px;

  background-image: radial-gradient(circle 50px at 50px 50px, lightgray 99%, transparent 0),
    linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0),
    linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 100px 200px, /* circle */ 50px 356px, /* highlight */ 150px 200px, 250px 200px, 300px 200px,
    250px 200px;
  background-position: 10px 125px, /* circle */ 0 0, /* highlight */ 120px 100px, 120px 150px, 120px 200px, 120px 250px;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 10px 125px, 100% 0, /* move highlight to right */ 120px 100px, 120px 150px, 120px 200px,
      120px 250px;
  }
}
.med-star-chart {
  margin-left: 125px;
}
/* tabs css starts here */
.mat--tabs {
  width: 100%;
  line-height: 25px;
  .nav-tabs {
    display: flex;
    border-radius: 2px;
    list-style-type: none;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    color: $strom-grey;
    font-size: 16px;
    > li {
      flex-basis: 100%;
      background-color: $white;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 2px;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      > span {
        font-size: 16px;
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        letter-spacing: 0.2px;
        &:hover {
        }
      }
      &.active {
        // background-color: mat-color($accent);
        color: $blue;
        border-bottom: 4px solid $blue;
        border-radius: 2px 2px 0 0;
        text-align: center;
        text-decoration: none;
      }
      &:hover,
      &:focus {
        border-bottom: 4px solid $blue;
        border-radius: 2px 2px 0 0;
        text-align: center;
        text-decoration: none;
      }
      .nav-values {
        color: #2d2d39;
        font-size: 18px;
        font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
        .metrics {
          font-size: 14px;
          font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
          letter-spacing: 0.2px;
          line-height: 18px;
        }
        .upgreen {
          color: #007000;
        }
        .downred {
          color: color(red, dark);
        }
      }
    }
  }
}
/* ends tabs css ends here */
