<div *ngIf="chartData != null" class="card-structure">
  <div class="card-inner">
    <app-common-header [title]="chartData.title"></app-common-header>
    <div *ngIf="chartData.data != null">
      <div *ngIf="chartData.type == 'donutWithLabel'">
        <div class="chart-details-donut">
          <app-donut-chart [chartOptions]="chartData.data"></app-donut-chart>
        </div>
        <div *ngIf="chartData.type == 'donutWithLabel'">
          <ul class="list-labels">
            <li *ngFor="let c of chartData.besideData.labels; let i = index">{{ c }}</li>
          </ul>
        </div>
        <div *ngIf="chartData.type == 'star' && chartData.data != null" class="chart-details">
          <app-star-chart [chartOptions]="chartData.data"></app-star-chart>
        </div>
        <div *ngIf="chartData.timeperiod">
          <app-common-footer [timePeriod]="chartData.timeperiod"></app-common-footer>
        </div>
      </div>
      <div *ngIf="chartData.type == 'rotateWithLabel'">
        <div class="rotating-arrow-object">
          <app-rotating-arrow-object
            [customWidth]="300"
            [customHeight]="300"
            [chartOptions]="chartData.data"
          ></app-rotating-arrow-object>
        </div>
      </div>
      <div *ngIf="chartData.type == 'donut'">
        <app-donut-chart [chartOptions]="chartData.data"></app-donut-chart>
      </div>
    </div>
  </div>
</div>
