@import '~src/scss/variables.scss';
.app-card-structure {
  position: relative;
  background-color: $white;
  width: 468px;
  height: 356px;
  margin: 12px;
  line-height: 75px;
  font-size: 30px;

  .chart-details-donut {
    float: left;
    /*padding-left: 15px;
    padding-top: 10px;*/
  }
  .chart-details {
    float: left;
  }
  .full-width {
    width: 100%;
  }

  /* Css for Labels*/
  /*
    ul.list-labels > li {
      display: block;
      color: $neutral-5;
      font-family: 'UHCSans-Regular';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 18px;
    }

    ul.list-labels > li::before {
      content: '•  ';
      font-size: 45px;
      position: relative;
      top: 10px;
    }

    ul.list-labels > li:nth-child(1)::before {
      color: #3381ff;
    }
    ul.list-labels > li:nth-child(2)::before {
      color: #3381f0;
    }
    ul.list-labels > li:nth-child(3)::before {
      color: #338190;
    }
    ul.list-labels > li:nth-child(4)::before {
      color: #000;
    }  */
  /* Css for Labels Ends here*/

  .app-card-list-labels {
    display: block;
    color: $neutral-5;
    font-family: 'UHCSans-Regular';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 18px;
    float: left;
  }
  .app-card-list-labels > li {
    margin-bottom: 13px;
    margin-right: 8px;
  }
  .label-dots {
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }
  .total-claims-beside-data-block {
    float: left;
    margin-top: 110px;
    margin-left: 25px;
  }
  .claims-paid-beside-data-block,
  .claims-appeals-submitted-beside-data-block {
    float: left;
    margin-top: 94px;
    margin-left: 24px;
  }
  .full-width-block {
    float: left;
    width: 100%;
  }
  .total-claims-donut-with-label {
    float: left;
    padding: 14px 0px 32px 77px;
  }
  .claims-paid-donut-with-label,
  .claims-appeals-submitted-donut-with-label {
    float: left;
    padding: 14px 0px 32px 32px;
  }
  .rotate-graph-label-value {
    color: $neutral-5;
    font-family: 'UHCSans-Regular';
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
  }
  .rotate-graph-label {
    color: $neutral-4;
    font-family: 'UHCSans-Regular';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: center;
  }
  .only-donut-block {
    float: left;
    padding: 14px 125px 32px;
  }
  .align-center {
    justify-content: center;
  }
  .text-align-center {
    text-align: center;
  }
  .bottom-labels-block {
    margin-bottom: 40px;
  }
  .bottom-label-value {
    color: $neutral-5;
    font-family: 'UHCSans-Regular';
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .bottom-label {
    color: $neutral-4;
    font-family: 'UHCSans-Regular';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 22px;
  }
  .left-padding-with-border {
    padding-left: 24px;
    border-left: 1px solid $neutral-3;
  }
  .right-padding {
    padding-right: 24px;
  }
  .flex-display {
    display: flex;
  }
  .only-donut-block-with-more-padding {
    padding: 58px 125px 74px !important;
  }
  .claims-avg-tat-rotate-object {
    float: left;
    padding: 14px 0px 32px 53px;
  }
  .claims-avg-tat-hr-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
  }
  .claims-avg-tat-beside-data-block {
    float: left;
    padding-top: 48px;
    padding-left: 32px;
  }
  /* Css for Labels Ends here*/
}
.app-card-structure-with-more-height {
  height: 442px !important;
}
