<!--
AUTHOR: Ranjith kumar Ankam
Date Created: 17-Apr-2019
-->

<div
  *ngIf="chartData != null"
  class="app-card-structure"
  [class.app-card-structure-with-more-height]="
    chartData.type === 'donutWithLabelBottom' ||
    chartData.title === 'Claims Appeals Overturned' ||
    chartData.title === 'Claims Appeals Overturned Rate' ||
    chartData.title === 'Medicare & Retirement Annual Care Visits Completion Rate' ||
    chartData.title === 'Medicare & Retirement Average Star Rating'
  "
  [class.app-card-structure-for-smart-edits-claims-returned]="chartData.title == 'Smart Edits Claims Returned'"
>
  <div class="card-inner">
    <app-common-header
      [cardType]="'appCard'"
      [title]="chartData.title"
      (helpIconClicked)="helpIconClick($event)"
    ></app-common-header>
    <div *ngIf="chartData.data != null" class="full-width-block">
      <!-- DONUT WITH LABEL -->
      <div *ngIf="chartData.type == 'donutWithLabel'" class="full-width-block">
        <div class="chart-details-donut">
          <app-donut-chart
            [donutType]="'app-card'"
            [chartOptions]="chartData.data"
            [class.smart-edits-claims-returned]="chartData.title == 'Smart Edits Claims Returned'"
            [class.total-claims-donut-with-label]="chartData.title == 'Total Number of Claims Submitted'"
            [class.pa-requested-donut-with-label]="chartData.title == 'Prior Authorization Requested'"
            [class.pa-approval-rate-donut-with-label]="chartData.title == 'Prior Authorization Approval Rate'"
            [class.claims-paid-donut-with-label]="
              chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid'
            "
            [class.calls-donut-with-label]="
              chartData.title == 'Calls By Call Type' || chartData.title == 'Talk Time By Call Type'
            "
          ></app-donut-chart>
        </div>
        <div
          *ngIf="chartData.title == 'Prior Authorization Approval Rate'"
          class="pa-approved-rate-vertical-data-block"
        >
          <ul>
            <li *ngFor="let d of chartData.besideData.verticalData; let i = index">
              <p class="donut-graph-title" *ngIf="d.title == 'Average Turnaround Time'">{{ d.title }}</p>
              <p class="donut-graph-label-value">{{ d.values }}</p>
              <p class="donut-graph-label">{{ d.labels }}</p>
              <hr *ngIf="i + 1 < chartData.besideData.verticalData.length && d.values" class="pa-avg-tat-hr-line" />
            </li>
          </ul>
        </div>
        <div
          [class.total-claims-beside-data-block]="chartData.title == 'Total Number of Claims Submitted'"
          [class.smart-edits-claims-returned-beside-data-block]="chartData.title == 'Smart Edits Claims Returned'"
          [class.pa-requested-beside-data-block]="
            chartData.title == 'Prior Authorization Requested' && chartData.besideData.labels.length === 4
          "
          [class.pa-requested-beside-data-block-three-lob]="
            chartData.title == 'Prior Authorization Requested' && chartData.besideData.labels.length === 3
          "
          [class.pa-requested-beside-data-block-two-lob]="
            chartData.title == 'Prior Authorization Requested' && chartData.besideData.labels.length === 2
          "
          [class.pa-requested-beside-data-block-one-lob]="
            chartData.title == 'Prior Authorization Requested' && chartData.besideData.labels.length === 1
          "
          [class.pa-approval-rate-beside-data-block]="chartData.title == 'Prior Authorization Approval Rate'"
          [class.claims-paid-beside-data-block]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.data.labels.length === 4
          "
          [class.claims-paid-beside-data-block-three-lob]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.data.labels.length === 3
          "
          [class.claims-paid-beside-data-block-two-lob]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.data.labels.length === 2
          "
          [class.claims-paid-beside-data-block-one-lob]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.data.labels.length === 1
          "
          [class.calls-beside-data-block]="
            chartData.title == 'Calls By Call Type' || chartData.title == 'Talk Time By Call Type'
          "
        >
          <ul class="app-card-list-labels">
            <li
              class="label-color-indicators"
              [class.smart-edits-claims-label-icons]="chartData.title == 'Smart Edits Claims Returned'"
              *ngFor="let c of chartData.besideData.color; let i = index"
            >
              <div class="label-dots" style.background-color="{{ c }}"></div>
            </li>
          </ul>
          <ul
            class="app-card-list-labels"
            [class.smart-edits-claims-labels]="chartData.title == 'Smart Edits Claims Returned'"
          >
            <li *ngFor="let c of chartData.besideData.labels; let i = index">{{ c }}</li>
          </ul>
        </div>
      </div>

      <!-- ROTATE WITH LABEL -->
      <div *ngIf="chartData.type == 'rotateWithLabel'" class="full-width-block">
        <div class="rotating-arrow-object">
          <app-rotating-arrow-object
            [customWidth]="widthRotatingArrow"
            [customHeight]="heightRotatingArrow"
            [chartOptions]="chartData.data"
            class="claims-avg-tat-rotate-object"
          ></app-rotating-arrow-object>
        </div>
        <div *ngIf="chartData.title == 'Average Claims Turn Around Time'" class="claims-avg-tat-beside-data-block">
          <ul>
            <li *ngFor="let d of chartData.besideData.verticalData; let i = index">
              <p class="rotate-graph-label-value">{{ d.values }}</p>
              <p class="rotate-graph-label">{{ d.labels }}</p>
              <hr *ngIf="i + 1 < chartData.besideData.verticalData.length" class="claims-avg-tat-hr-line" />
            </li>
          </ul>
        </div>
      </div>

      <!-- ONLY DONUT -->
      <div *ngIf="chartData.type == 'donut'">
        <div class="chart-details-donut">
          <app-donut-chart
            [donutType]="'app-card'"
            class="only-donut-block"
            [chartOptions]="chartData.data"
            [class.only-donut-block-with-more-padding]="
              chartData.title == 'Claims Appeals Overturned' || chartData.title == 'Claims Appeals Overturned Rate'
            "
          ></app-donut-chart>
        </div>
      </div>

      <!-- ONLY DONUT WITH BOTTOM DATA ONLY-->
      <div *ngIf="chartData.type == 'donutWithBottomLabelOnly'">
        <div class="chart-details-donut">
          <app-donut-chart
            [donutType]="'app-card'"
            class="only-donut-block"
            [chartOptions]="chartData.data"
          ></app-donut-chart>
        </div>
        <div class="full-width-block flex-display align-center bottom-labels-block">
          <div
            *ngFor="let d of chartData.bottomData.horizontalData; let i = index"
            [class.right-padding]="i + 1 < chartData.bottomData.horizontalData.length"
            [class.left-padding-with-border]="i != 0"
            class="text-align-center"
          >
            <p class="bottom-label-value">{{ d.values }}</p>
            <p class="bottom-label">{{ d.labels }}</p>
          </div>
        </div>
      </div>

      <!-- DONUT WITH LABEL BOTTOM-->
      <div *ngIf="chartData.type == 'donutWithLabelBottom'">
        <div class="chart-details-donut">
          <app-donut-chart
            [donutType]="'app-card'"
            [chartOptions]="chartData.data"
            class="claims-appeals-submitted-donut-with-label"
          ></app-donut-chart>
        </div>
        <div
          [class.claims-appeals-submitted-beside-data-block]="chartData.besideData.labels.length === 4"
          [class.claims-appeals-submitted-beside-data-block-three-lob]="chartData.besideData.labels.length === 3"
          [class.claims-appeals-submitted-beside-data-block-two-lob]="chartData.besideData.labels.length === 2"
          [class.claims-appeals-submitted-beside-data-block-one-lob]="chartData.besideData.labels.length === 1"
        >
          <ul class="app-card-list-labels">
            <li class="label-color-indicators" *ngFor="let c of chartData.besideData.color; let i = index">
              <div class="label-dots" style.background-color="{{ c }}"></div>
            </li>
          </ul>
          <ul class="app-card-list-labels">
            <li *ngFor="let c of chartData.besideData.labels; let i = index">{{ c }}</li>
          </ul>
        </div>
        <div class="full-width-block flex-display align-center bottom-labels-block">
          <div
            *ngFor="let d of chartData.bottomData.horizontalData; let i = index"
            [class.right-padding]="i + 1 < chartData.bottomData.horizontalData.length"
            [class.left-padding-with-border]="i != 0"
            class="text-align-center"
          >
            <p class="bottom-label-value">{{ d.values }}</p>
            <p class="bottom-label">{{ d.labels }}</p>
          </div>
        </div>
      </div>

      <!-- ONLY STAR -->
      <div *ngIf="chartData.type == 'star' && chartData.data != null" class="chart-details med-star-chart">
        <div>
          <app-star-chart [starType]="'app-card'" [chartOptions]="chartData.data"></app-star-chart>
        </div>
      </div>

      <!-- ONLY BARS -->
      <div *ngIf="chartData.type == 'small-bar-chart'">
        <div class="small-bar-chart-struct">
          <div class="small-bar-chart-value">{{ chartData.data.value }}</div>
          <app-small-bar-chart
            [height]="heightSmallBarChart"
            [width]="widthSmallBarChart"
            [chartOptions]="chartData.data"
            [custom]="customSmallBarChart"
          ></app-small-bar-chart>
        </div>
      </div>

      <!-- DONUT WITH LABEL and Tab -->
      <div *ngIf="chartData.type == 'donutWithLabelandTab'" class="full-width-block">
        <div class="mat--tabs">
          <section class="row">
            <ul class="nav nav-tabs">
              <li
                *ngFor="let item of tabOptions; let i = index"
                (click)="matOptionClicked(i, $event)"
                [ngClass]="{ active: selectedItemId === i }"
              >
                <span>
                  {{ item }}
                  <div class="nav-values">
                    {{ item.value1 }}
                    <!-- <span class="metrics" [ngClass]="item.sdata.sign === 'up' ? 'upgreen' : 'downred'">
                          {{ item.sdata.value }}
                        </span> -->
                  </div>
                </span>
              </li>
            </ul>
          </section>
        </div>

        <div class="chart-details-donut">
          <app-donut-chart-onchange
            [donutType]="'app-card'"
            [chartOptions]="medicareData"
            [class.PCOR-annual-rate-donut-with-label-tab]="
              chartData.title == 'Medicare & Retirement Annual Care Visits Completion Rate'
            "
          ></app-donut-chart-onchange>
        </div>

        <div
          *ngIf="chartData.title == 'Medicare & Retirement Annual Care Visits Completion Rate'"
          class="PCOR-annual-rate-vertical-data-block"
        >
          <ul>
            <li *ngFor="let d of medicareBesideData; let i = index">
              <p class="donut-graph-label-value">{{ d.values }}</p>
              <p class="donut-graph-label">{{ d.label }}</p>
              <hr
                *ngIf="i + 1 < chartData.besideData.All.verticalData.length && d.values && i === 0"
                class="pa-avg-tat-hr-line"
              />
            </li>
          </ul>
        </div>

        <div
          [class.total-claims-beside-data-block]="chartData.title == 'Total Number of Claims Submitted'"
          [class.pa-approval-rate-beside-data-block]="chartData.title == 'Prior Authorization Approval Rate'"
          [class.claims-paid-beside-data-block]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.besideData.labels.length === 4
          "
          [class.claims-paid-beside-data-block-three-lob]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.besideData.labels.length === 3
          "
          [class.claims-paid-beside-data-block-two-lob]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.besideData.labels.length === 2
          "
          [class.claims-paid-beside-data-block-one-lob]="
            (chartData.title == 'Claims Paid' || chartData.title == 'Claims Not Paid') &&
            chartData.besideData.labels.length === 1
          "
          [class.calls-beside-data-block]="
            chartData.title == 'Calls By Call Type' || chartData.title == 'Talk Time By Call Type'
          "
        >
          <ul class="app-card-list-labels">
            <li *ngFor="let c of chartData.besideData.color; let i = index">
              <div class="label-dots" style.background-color="{{ c }}"></div>
            </li>
          </ul>
          <ul class="app-card-list-labels">
            <li *ngFor="let c of chartData.besideData.labels; let i = index">{{ c }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="chartData.timeperiod" class="full-width-block">
      <app-common-footer [timePeriod]="chartData.timeperiod" [title]="chartData.title"></app-common-footer>
    </div>
  </div>
</div>

<div *ngIf="skeleton" class="app-card-structure">
  <div class="card-inner">
    <div class="full-width-block">
      <div class="card-skeleton"></div>
    </div>
  </div>
</div>
