.container {
  box-sizing: border-box;
  height: 241px;
  width: 355px;
  border: 1px solid #196ecf;
  border-radius: 0 2px 2px 2px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(25, 110, 207, 0.5);
  overflow: hidden;

  mat-icon {
    position: absolute;
  }

  .search-section {
    margin: 2px 0 0 30px;
    input {
      border: none;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 22px;
      padding: 0 0 0 4px;

      &:focus {
        outline: none;
      }
    }

    div {
      .box {
        height: 29px;
        width: 114px;
        border-radius: 2px;
        background-color: #e0e0e0;
        margin: 5px;
      }
    }

    .list {
      width: 100%;
      color: #2d2d39;

      button {
        height: 32px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
      }
      span {
        float: right;
      }
    }
  }
}
