@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
.card-structure {
  position: relative;
  display: inline-flex;
}

.common-header {
  .header-container {
    .header-title[_ngcontent-c16] {
      color: $neutral-5 !important;
    }
  }
}

.card-inner {
  background-color: $white;
  width: 222px;
  height: 238px;
  margin: 10px;
  line-height: 75px;
  @include font-size(30);
  .self-service-title {
    position: relative;
    padding: 16px 20px 0 20px;
    color: $neutral-5;
    font-family: 'UHCSans-Regular', 'Arial';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.2px;
  }
  .self-service-width {
    text-align: center;
    .errorTitle {
      color: $neutral-5;
      font-family: 'UHCSans-SemiBold';
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    .errorSubTitle {
      color: $neutral-5;
      font-family: 'UHCSans-Regular';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
    }
    .img-align {
      display: inline-block;
      box-sizing: border-box;
      height: 73px;
      width: 73px;
      border: 1px solid #bb880a;
      border-radius: 48px;
      background-color: #fffcd9;
    }
    .image-align {
      height: 36px;
      margin-top: 14px;
    }
    .data-title {
      padding-top: 16px;
    }
  }
}

.card-inner-large {
  background-color: $white;
  width: 820px;
  height: 600px;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}

.app-card-structure {
  position: relative;
  background-color: $white;
  width: 468px;
  height: 356px;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
  .full-width-block {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 55px;
    .errorTitle {
      color: $neutral-5;
      font-family: 'UHCSans-SemiBold';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
    .errorSubTitle {
      color: $neutral-5;
      font-family: 'UHCSans-Regular';
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 22px;
      text-align: center;
    }
    .img-align {
      display: inline-block;
      box-sizing: border-box;
      height: 97px;
      width: 97px;
      border: 1px solid #bb880a;
      border-radius: 48px;
      background-color: #fffcd9;
    }
    .image-align {
      vertical-align: middle;
      height: 48px;
    }
    .data-title {
      padding-top: 24px;
    }
  }
}

.small-card-structure {
  position: relative;

  .card-inner {
    background-color: #ffffff;
    width: 304px;
    height: 237px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    .full-width {
      text-align: center;
      width: 100%;
      .errorTitle {
        color: $neutral-5;
        font-family: 'UHCSans-SemiBold';
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 22px;
        text-align: center;
      }
      .errorSubTitle {
        color: $neutral-5;
        font-family: 'UHCSans-Regular';
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 18px;
        text-align: center;
      }
      .img-align {
        box-sizing: border-box;
        height: 73px;
        width: 73px;
        border: 1px solid #bb880a;
        border-radius: 48px;
        background-color: #fffcd9;
        display: inline-block;
      }
      .image-align {
        height: 36px;
        margin-top: 14px;
      }
      .data-title {
        padding-top: 16px;
      }
    }
  }
}
