@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';

::ng-deep .calls .even .app-card-structure {
  margin: 15px 15px 15px 0px !important;
}
::ng-deep .calls .odd .app-card-structure {
  margin: 15px 0 15px 15px !important;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.cust-width-title {
  width: 100%;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
  .page-sub-title {
    flex-basis: 100%;
    font-size: 36px;
    @include padding(16px, 0, 20px, 0);
    line-height: 40px;
  }
  .print-page-title {
    padding-top: 30px;
    font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
    line-height: 30px;
    font-size: 36px;
  }
  .print-page-subtitle {
    font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
    line-height: 40px;
    flex-basis: 100%;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 98.5%;
  }
}
