<app-feedback></app-feedback>
<div class="calls-body">
  <div class="calls-content">
    <div class="cards cust-width-title ">
      <app-breadcrumbs></app-breadcrumbs>
      <app-print> </app-print>
      <div *ngIf="printStyle" [ngClass]="{ 'print-page-title': printStyle === true }">
        {{ pageTitle }}
      </div>
      <div class="page-sub-title" [ngClass]="{ 'print-page-subtitle': printStyle === true }">
        {{ pageSubTitle }}
      </div>
      <app-filters-applied></app-filters-applied>
    </div>
    <div class="height1Separator"></div>
    <div *ngFor="let data of mockCards; let i = index">
      <app-card class="cards" [skeleton]="loading" *ngIf="loading && !printStyle"> </app-card>
    </div>
    <div *ngFor="let item of callsItems">
      <app-card *ngIf="item != null && item.data != null" class="cards" [chartData]="item"> </app-card>
      <app-error-card *ngIf="item != null && item.status != null" class="cards" [data]="item"></app-error-card>
    </div>
  </div>
</div>
