@import '~src/scss/variables.scss';

.page-overlay {
  height: auto;
  max-width: 1578px;
  min-width: 1024px;
  width: 100%;
  //position: fixed;
  top: 0;
  left: 0;

  .container {
    header {
      .header-div {
        background-color: $white;
        height: 60px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid;
        border-width: 1px;
        border-color: #e0e0e0;

        .header-logo-div {
          padding: 12px 0 24px 33px;
        }

        .Uhc-logo {
          height: 36px;
          width: 175px;
        }
      }

      .element-div {
        background-color: rgba(0, 60, 113, 1);
        height: 30px;
        display: flex;
        justify-content: center;
        color: $white;
        vertical-align: middle;
        font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
        font-size: 2rem;
        text-align: center;
        line-height: normal;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .header {
      display: block;
      justify-content: right;
      margin: 3% 7% 0 7%;

      .notifier {
        font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
      }
      .content {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 22px;
        font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
        margin-top: 2%;
      }

      .system-error {
        padding: 15px;
        border: 1px solid #e91b18;
        border-radius: 2px;
        background-color: #ffe6f0;
        color: #2d2d39;
        margin-top: 2%;
        display: inline-flex;
        width: 100%;
        div {
          font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.2px;
          line-height: 18px;
          margin: 5px 10px;
        }
        mat-icon {
          color: $red-dark;
        }
      }
    }

    .body {
      display: flex;
      margin: 3% 7% 1% 7%;
      background-color: $white;
      padding: 5% 0;

      header {
        color: #333333;
        font-family: 'UHCSans-SemiBold';
        font-size: 2.2rem;
        text-align: left;

        line-height: normal;
        padding-bottom: 15px;
      }
      .left-body {
        width: 250px;
        border-right: 2px solid #d7dce1;
        margin: 0 13%;
        padding: 0 4% 0 0;
        form {
          header {
            font-size: 28px;
            font-weight: 600;
            line-height: 32px;
          }
          .form-group {
            width: 100%;
            padding: 5px;
            margin-bottom: 6%;

            label {
              display: inline-block;
              max-width: 100%;
              margin-bottom: 5px;
              font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.2px;
              line-height: 18px;
            }
            input {
              width: 100%;
              padding: 10px 4px;
              margin: -5px 0 0 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 2px;
              box-sizing: border-box;
              font-size: 16px;
            }

            button {
              display: inline-block;
              padding: 6px 12px;
              margin-bottom: 0;
              font-size: 14px;

              line-height: 1.42857143;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              touch-action: manipulation;
              cursor: pointer;
              border: 1px solid transparent;
              border-radius: 4px;
              background-color: $blue;
              color: $white;
            }

            .input-icon {
              margin-left: -29px;
              margin-top: 3px;
              position: absolute;
              color: $red-dark;
            }

            .invalid-feedback {
              div {
                font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.2px;
                line-height: 18px;
                color: $red-dark;
              }
            }

            .is-invalid {
              border-color: $red-dark;
            }
          }
        }
      }

      .right-body {
        width: 400px;
        .message {
          color: #333333;
          font-size: 1rem;
          text-align: left;

          line-height: normal;
          padding-top: 19px;
          font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
          span {
            font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
          }
        }
        .head {
          font-size: 28px;
          font-weight: 600;
          line-height: 32px;
          font-family: 'UHCSans-SemiBold';
        }
      }
    }

    footer {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 18px;
      margin: 0 3% 10% 7%;
      font-family: 'UHCSans-Medium', 'sans-serif', 'Arial';
    }
  }
}
