<app-layoutcontainer id="print-overview" class="smart-edits">
  <div class="cards cust-width-title">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="page-title" [ngClass]="{ 'print-page-title': printStyle === true }">{{ pageTitle }}</div>
    <div *ngIf="printStyle" [ngClass]="{ 'print-page-subtitle': printStyle === true }">
      {{ pagesubTitle }}
    </div>

    <app-filters-applied></app-filters-applied>
  </div>
  <div class="height1Separator"></div>
  <!--CARDS GO HERE-->
  <div class="container-flex">
    <!-- Smart Edits Claims Returned Card Starts here -->
    <div>
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
      <app-card class="cards" [chartData]="smartEditClaimsReturned"></app-card>
    </div>

    <!-- Smart Edits Claims Returned Card Ends here -->
    <!-- Smart Edits Repaired & Resubmitted Response Time Card Starts here -->
    <div>
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
      <div class="overturn-reason-block">
        <app-common-header
          [title]="smartEditsRepairedAndResubmittedTitle"
          class="full-display"
          (helpIconClicked)="helpIconClick($event)"
        ></app-common-header>
        <div class="smart-edits-bar-chart-block">
          <div class="pi-numbers-block">
            <p class="mr-returned-number">402</p>
            <p class="mr-not-returned-number mr-returned-number">134</p>
          </div>
          <div class="smart-edits-pull-left">
            <div class="less-than-five-days-block">
              <div class="mr-returned-bar-block">
                <p class="mr-returned-text">Medical Records Returned to UHC</p>
                <p class="mr-returned-text">5 Days or Less</p>
                <div class="less-than-five-days-bar"></div>
              </div>
            </div>
            <div class="more-than-five-days-block">
              <div class="mr-returned-bar-block">
                <p class="mr-not-returned-text mr-returned-text">Medical Records Not Returned to UHC</p>
                <p class="mr-not-returned-text mr-returned-text">Greater than 5 Days</p>
                <div class="more-than-five-days-bar"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="full-display">
          <app-common-footer [timePeriod]="timePeriod" class="width-100"></app-common-footer>
        </div>
      </div>
    </div>
    <!-- Smart Edits Repaired & Resubmitted Response Time Card Ends here -->

    <!-- Smart Edits Claims Top Reasons STARTS HERE -->
    <div>
      <app-card class="cards" [skeleton]="loading" *ngIf="loading"> </app-card>
      <div class="overturn-reason-block">
        <app-common-header
          [title]="smartEditsReasonTitle"
          class="full-display"
          (helpIconClicked)="helpIconClick($event)"
        ></app-common-header>
        <div class="top-reason-one">
          <div *ngIf="claimsTopReason.length >= 1" class="appeals-overturned-bar-chart ">
            <app-med-bar-chart class="top-reason-one" [chartOptions]="claimsTopReason[0]"></app-med-bar-chart>
          </div>
        </div>
        <div *ngIf="claimsTopReason.length >= 2" class="appeals-overturned-bar-chart ">
          <app-med-bar-chart class="top-reason-other" [chartOptions]="claimsTopReason[1]"></app-med-bar-chart>
        </div>
        <div *ngIf="claimsTopReason.length >= 3" class="appeals-overturned-bar-chart ">
          <app-med-bar-chart class="top-reason-other" [chartOptions]="claimsTopReason[2]"></app-med-bar-chart>
        </div>
        <div *ngIf="claimsTopReason.length >= 4" class="appeals-overturned-bar-chart ">
          <app-med-bar-chart class="top-reason-other" [chartOptions]="claimsTopReason[3]"></app-med-bar-chart>
        </div>
        <div *ngIf="claimsTopReason.length >= 5" class="appeals-overturned-bar-chart">
          <app-med-bar-chart class="top-reason-other" [chartOptions]="claimsTopReason[4]"></app-med-bar-chart>
        </div>
        <div class="common-footer">
          <div class="reason-time">{{ timePeriod }}</div>
        </div>
      </div>
    </div>
    <!-- Smart Edits Claims Top Reasons ENDS HERE -->
  </div>
</app-layoutcontainer>
