@import '~src/scss/variables.scss';
.message-claims-metrics {
  display: block;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  color: $black-rock;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 22px;
  margin-left: 10px;
  width: 960px;
}
