path {
  stroke: #ffffff;
  stroke-width: 0px;
}

.card {
  height: 0px;
  width: 100%;
}

.tooltip {
  position: absolute;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  pointer-events: none;
  z-index: 9999;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 0%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-right: solid 15px white;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
}

.full-display {
  display: flex;
}

.widget {
  display: flex;
  float: left;
}
