path {
  stroke: #ffffff;
  stroke-width: 0px;
}

.card {
  height: 0px;
  width: 100%;
}

.tooltip {
  position: absolute;
  background: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  pointer-events: none;
  z-index: 9999;
}

.triangle {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  top: 25px;
  content: '';
  position: absolute;
  left: -15px;
  width: 0;
  height: 0;
}
