<div class="overview-body" color="primary" id="print-overview">
  <div class="overview-content">
    <div class="breadcrumb">
      <a class="breadcrumb-main">Overview </a>
      <span class="breadcrumb-arrow">></span>
      <a class="breadcrumb-page">NPS Summary</a>
    </div>
    <div class="overview-header">
      NPS Summary
    </div>

    <div class="height1Separator"></div>

    <div class="breadcrumb-top-padding filter-div">
      <div class="time--period ">
        <div class="filterchips">
          <div class="horizontal-align">
            <button class="btn btn-rounded" disabled>
              <span>Time Period: </span
              ><span *ngIf="npsLoaded && kopInsightsData" class="text-semibold pl-4"
                >{{ kopInsightsData.timePeriod.title }} ({{ kopInsightsData.timePeriod.timeFrame | timeperiod }})
              </span>
            </button>
          </div>
        </div>
        <div class="filter_bg" (click)="openFilter()">
          <mat-icon matPrefix class="nav-menu-icons filter_icon" svgIcon="filter"></mat-icon>
          <div class="filter_title">Filters</div>
        </div>
      </div>
    </div>

    <div class="overview-section"></div>
  </div>
</div>

<!-- <app-uhc-loader *ngIf="loading"></app-uhc-loader> -->
