/* You can add global styles to this file, and also import other style files */
/**------------------------- **\
            @FONTS
\**------------------------- **/
/*
	 UHC Sans
*/
/*  UHC Sans Regular */
@font-face {
  font-family: 'UHCSans-Regular';
  src: url('./assets/fonts/UHCSans-Regular.eot');
  src: url('./assets/fonts/UHCSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/UHCSans-Regular.woff') format('woff'),
    url('./assets/fonts/UHCSans-Regular.otf') format('opentype'),
    url('./assets/fonts/UHCSans-Regular.svg#UHCSans-Regular') format('svg');
}
/*  UHC Sans Bold */
@font-face {
  font-family: 'UHCSans-Bold';
  src: url('./assets/fonts/UHCSans-Bold.eot');
  src: url('./assets/fonts/UHCSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/UHCSans-Bold.woff') format('woff'), url('./assets/fonts/UHCSans-Bold.otf') format('opentype'),
    url('./assets/fonts/UHCSans-Bold.svg#UHCSans-Bold') format('svg');
}
/*  UHC Sans Bold & Italic */
@font-face {
  font-family: 'UHCSans-BoldItalic';
  src: url('./assets/fonts/UHCSans-BoldItalic.eot');
  src: url('./assets/fonts/UHCSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/UHCSans-BoldItalic.woff') format('woff'),
    url('./assets/fonts/UHCSans-BoldItalic.otf') format('opentype'),
    url('./assets/fonts/UHCSans-BoldItalic.svg#UHCSans-BoldItalic') format('svg');
}
/*  UHC Sans  Italic */
@font-face {
  font-family: 'UHCSans-Italic';
  src: url('./assets/fonts/UHCSans-Italic.eot');
  src: url('./assets/fonts/UHCSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/UHCSans-Italic.woff') format('woff'),
    url('./assets/fonts/UHCSans-Italic.otf') format('opentype'),
    url('./assets/fonts/UHCSans-Italic.svg#UHCSans-Italic') format('svg');
}
/*  UHC Sans  Semi Bold */
@font-face {
  font-family: 'UHCSans-SemiBold';
  src: url('./assets/fonts/UHCSans-SemiBold.eot');
  src: url('./assets/fonts/UHCSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/UHCSans-SemiBold.woff') format('woff'),
    url('./assets/fonts/UHCSans-SemiBold.otf') format('opentype'),
    url('./assets/fonts/UHCSans-SemiBold.svg#UHCSans-SemiBold') format('svg');
}
/*  UHC Sans  Semi Bold Italic */
@font-face {
  font-family: 'UHCSans-SemiBoldItalic';
  src: url('./assets/fonts/UHCSans-SemiBoldItalic.eot');
  src: url('./assets/fonts/UHCSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/UHCSans-SemiBoldItalic.woff') format('woff'),
    url('./assets/fonts/UHCSans-SemiBoldItalic.otf') format('opentype'),
    url('./assets/fonts/UHCSans-SemiBoldItalic.svg#UHCSans-SemiBoldItalic') format('svg');
}
/**------------------------- **\
            Reset CSS
\**------------------------- **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**------------------------- **\
            Functions
\**------------------------- **/
/*Retrieve color Sass maps*/
/*Request a theme color level*/
/*Function to access UI Neutral Colors*/
.neutral-1 {
  background-color: #2d2d39;
  color: #ffffff;
}

.neutral-2 {
  background-color: #757588;
  color: #ffffff;
}

.neutral-3 {
  background-color: #b3babc;
  color: #ffffff;
}

.neutral-4 {
  background-color: #e0e0e0;
  color: #ffffff;
}

.neutral-5 {
  background-color: #f1f4f7;
  color: #ffffff;
}

/*To access Secondary Marketing Colors values*/
/**------------------------- **\
            @Variables
            Created by Sri laxmi
\**------------------------- **/
/*Primary UI Brand Colors*/
/*UI Neutral Colors*/
/*Additional UI Hover Colors*/
/*Data Visualization Colors*/
.data-1 {
  background-color: #3381ff;
  color: #fff;
}

.data-2 {
  background-color: #80b0ff;
  color: #fff;
}

.data-3 {
  background-color: #003da1;
  color: #fff;
}

.data-4 {
  background-color: #00b8cc;
  color: #fff;
}

.data-5 {
  background-color: #8e6edd;
  color: #fff;
}

/**------------------------- **\
  Secondary Marketing Colors
\**------------------------- **/
/*To access Secondary Marketing Colors values*/

/*# sourceMappingURL=output.css.map */
