/**------------------------- **\
            @Angular Material themes
            Author: Sri laxmi
\**------------------------- **/
@import '~@angular/material/theming';
@import './component-themes';

@import '~src/scss/my-custom-theme';
@include mat-core();

$primary: mat-palette($mat-pink, 700, 300, 900);
$accent: mat-palette($my-primary);
$warn: mat-palette($mat-deep-orange, A200);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);

// Our dark theme
.dark-theme {
  $dark-primary: mat-palette($my-primary, 700, 300, 900);
  $dark-accent: mat-palette($mat-blue, 500, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}
// @import '~@angular/material/theming';

// @include mat-core();
// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink, A200, A100, A400);
// $warn: mat-palette($mat-red);
// $theme: mat-light-theme($primary, $accent);

// @include angular-material-theme($theme);

// @mixin custom-theme($theme) {
//     @include overview-body(theme);
//   }

//   @include angular-material-theme($custom-theme);
//   @include custom-theme($custom-theme);

// .alternate-theme {
//   $alternate-primary: mat-palette($mat-light-blue);
//   $alternate-accent:  mat-palette($mat-yellow, 400);

//   $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

//   @include angular-material-theme($alternate-theme);
// }
