@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';

.bar-div {
  position: relative;
}

.tooltip-bar {
  position: absolute;
  background: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  pointer-events: none;
  z-index: 9999;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  line-height: 18px;
}

.tooltip-bar::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 6%;
  width: 0;
  height: 0;
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.tooltip-bar-pi {
  position: absolute;
  background: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  pointer-events: none;
  z-index: 9999;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  line-height: 18px;
}

.tooltip-bar-pi::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 57px;
  width: 0;
  height: 0;
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}
.tend-text {
  line-height: 22px;
  font-size: 20px;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}
.trend-SVG-style {
  margin-top: 8px;
  margin-bottom: -5px;
  transform: scaleY(-1);
  padding-left: 3px;
  width: 24px;
  height: 24px;
}
.trend-value {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #b10c00;
  font-family: 'UHCSans-Regular', Helvetica, Arial, sans-serif;
  padding-left: 5px;
}
.reason-reference {
  color: #196ecf;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 22px;
  cursor: hand;
  display: inline-block;
}
.reasons-text {
  @include font-size(16);
  @include text-color(#2d2d39);
  text-anchor: 'start';
}
.reasons-text-medium {
  @extend .reasons-text;
  font-family: 'UHCSans-Medium', Helvetica, Arial, sans-serif;
}

.reasons-text-semibold {
  @include text-color(#2d2d39);
  text-anchor: 'start';
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}
