<div class="content-wrapper">
  <div class="main-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">
        {{ pageTitle }}
      </div>
      <!--<app-mock-data-warning-message class="warning-block"></app-mock-data-warning-message>-->
      <div class="breadcrumb-top-padding filter-div">
        <div class="time--period ">
          <div class="filterchips">
            <div class="horizontal-align">
              <button class="btn btn-rounded" disabled>
                <span>Time Period: </span
                ><span class="text-semibold pl-4"
                  >{{ previous_date | date: 'yyyy-MM-dd' }} vs
                  {{ data_date | date: 'yyyy-MM-dd' }}
                </span>
              </button>
            </div>
            <div class="horizontal-align">
              <button class="btn btn-rounded" disabled>
                <span>Metric: </span><span class="text-semibold pl-4">{{ formattingText(metric) }} </span>
              </button>
            </div>
          </div>
          <div class="filter_bg" (click)="openFilter()">
            <mat-icon matPrefix class="nav-menu-icons" class="filter_icon" svgIcon="filter"></mat-icon>
            <div class="filter_title">Filters</div>
          </div>
        </div>
      </div>
    </div>

    <div class="height1Separator"></div>
    <!--<app-large-card [skeletonLarge]="loading" *ngIf="loading"></app-large-card> -->
    <div class="loading-block" *ngIf="loading">
      <div class="card-inner-large-skeleton">
        <div class="card-skeleton-large"></div>
      </div>
    </div>

    <div class="summary-trends-table-block">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
        (matSortChange)="sortData($event)"
        [matSortDisableClear]="true"
      >
        <!-- Position Column -->
        <ng-container *ngFor="let item of displayedColumns; let i = index" matColumnDef="{{ item }}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ formattingText(item) }}</th>
          <td mat-cell *matCellDef="let element">
            {{ formatNumber(element[item]) }}
            <mat-icon
              *ngIf="formatNumber(element[getData(item)]) < 0 && i != 0 && checkColumn(item)"
              matPrefix
              class="nav-menu-icons trend-icon"
              svgIcon="trending_down"
            ></mat-icon>
            <mat-icon
              *ngIf="formatNumber(element[getData(item)]) > 0 && i != 0 && checkColumn(item)"
              matPrefix
              class="nav-menu-icons trend-icon"
              svgIcon="trending_up"
            ></mat-icon>
            <mat-icon
              *ngIf="formatNumber(element[getData(item)]) < 0 && i != 0 && !checkColumn(item)"
              matPrefix
              class="nav-menu-icons trend-icon"
              svgIcon="trending_down_green"
            ></mat-icon>
            <mat-icon
              *ngIf="formatNumber(element[getData(item)]) > 0 && i != 0 && !checkColumn(item)"
              matPrefix
              class="nav-menu-icons trend-icon"
              svgIcon="trending_up_red"
            ></mat-icon>
            <mat-icon
              *ngIf="formatNumber(element[getData(item)]) == 0 && i != 0"
              matPrefix
              class="nav-menu-icons trend-icon flat-trend-icon"
              svgIcon="trending_flat"
            ></mat-icon>
            {{ i != 0 ? '(' + formatNumber(element[getData(item)]) + ')' : '' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="grey-box" *ngIf="dataloading">
        <mat-progress-spinner class="rotate-icon" [color]="color" [mode]="mode" [value]="value"> </mat-progress-spinner>
      </div>
    </div>
    <!--<mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>-->
    <div class="paginator-block">
      <p *ngIf="showPagination" class="top-pagination">
        Displaying
        <select class="top-pagination-dropdown" (change)="changePagination($event)" [(ngModel)]="pageSize">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
        of {{ totalRecords }}
      </p>
      <div class="pull-right">
        <p class="bottom-pagination">
          Page <input class="jump-to-page-number" type="text" [(ngModel)]="pageNumber" (change)="changePage()" /> of
          {{ totalPages }}
        </p>
        <mat-paginator
          class="bottom-pagination-arrows"
          (page)="syncPrimaryPaginator($event)"
          [pageSize]="10"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
