.terms-content {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.header-div {
  padding-top: 16px;
  padding-bottom: 8.8px;
}

.header {
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}

.sub-header-div {
  padding-top: 16px;
  padding-bottom: 16px;
}

.sub-header {
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.para-bottom-margin {
  margin-bottom: 16px;
}

.content {
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.bold {
  font-family: 'UHCSans-Bold';
}

.hyperlink {
  color: #196ecf;
}

.list-div {
  margin-left: 32px;
  margin-top: 10px;
}

li {
  color: #2d2d39;
  font-family: 'UHC Sans';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 22px;
  list-style-type: disc;
}
