.svg-ic_add_alert_24px {
  background: url(/src/assets/images/icons/material-svg-sprite.svg) 0 0 no-repeat;
  width: 24px;
  height: 24px;
}
.svg-ic_error_24px {
  background: url(/src/assets/images/icons/svg-sprite-alert.svg) 100% 0 no-repeat;
  width: 24px;
  height: 24px;
}
.svg-ic_error_outline_24px {
  background: url(/src/assets/images/icons/svg-sprite-alert.svg) 0 100% no-repeat;
  width: 24px;
  height: 24px;
}
.svg-ic_warning_24px {
  background: url(/src/assets/images/icons/svg-sprite-alert.svg) 100% 100% no-repeat;
  width: 24px;
  height: 24px;
}
