@import '~src/scss/variables.scss';
@import '~src/scss/mixins';

.overview-body {
  background-color: #efefef;
  @include padding(30px, 0, 30px, 30px);

  .overview-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .page-title {
      display: block;
      margin-left: 10px;
      flex-basis: 100%;
      padding: 0 10%;
      color: #2d2d39;
      font-family: 'UHCSans-Regular', 'Arial';

      font-weight: 600;
      line-height: 75px;
      @include font-size(36);
    }

    .page-subtitle {
      display: block;
      margin-left: 10px;
      flex-basis: 100%;
      padding: 0 10%;
      color: #2d2d39;
      font-family: 'UHCSans-Regular', 'Arial';

      font-weight: 600;
      line-height: 50px;
      @include font-size(28);
    }

    .page-question {
      display: block;
      margin-left: 10px;
      flex-basis: 100%;
      padding: 0 10%;
      color: #2d2d39;
      font-family: 'UHCSans-Regular', 'Arial';
      font-size: 22px;
      font-weight: 600;
      line-height: 50px;
    }

    & > app-small-card {
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
  }
}
