.overview-body {
  padding: 30px;
  background-color: #efefef;
}
.page-title {
  font-size: 30px;
  color: #2d2d2d;
}

.overview-content {
  text-align: center;
}
.page-subtitle {
  font-size: 22px;
  color: #2d2d2d;
}
