.overview-body {
  padding: 30px;
  background-color: #efefef;
}
.page-title {
  font-size: 30px;
  color: #2d2d2d;
}

.page-subtitle {
  font-size: 22px;
  color: #2d2d2d;
}

.overview-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .cards {
    background-color: #ffffff;
    width: 31%;
    height: 301px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
}
