@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';
@mixin title-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background);
  .overview-body {
    @include mat-elevation(2);
    background-color: mat-color($accent);

    overflow-x: hidden;
    @include padding(30px, 30px, 30px, 30px);
    .overview-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin-top: 25px;
      //      flex-direction: column;
      //      min-height: 100vh;
      padding-left: 40px;
      .self-service-heading {
        display: flex;
        // width: 83%;
      }
      .height1Separator {
        height: 0;
        width: 1200px;
      }

      & > .cards {
        text-align: left;
        line-height: 75px;
      }

      .cust-width-title {
        width: 450px;
        margin-left: 10px;
        font-family: 'UHCSans-SemiBold', 'Arial';
        color: $black-rock;

        .page-title {
          flex-basis: 100%;
          font-size: 36px;
          line-height: 1;
          margin-bottom: 16px;
          color: $black-rock;
        }

        .page-subtitle {
          flex-basis: 100%;
          font-size: 28px;
          line-height: 50px;
        }

        .page-question {
          flex-basis: 100%;
          font-size: 22px;
          line-height: 1;
          margin-bottom: 8px;
        }
        .self-service-link {
          color: $blue;
          font-family: 'UHC Sans';
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.2px;
          line-height: 22px;
          text-align: right;
          margin-top: 51px;
          a {
            text-decoration: none;
            color: $blue;
            .icon-display {
              vertical-align: middle;
            }
          }
        }
      }
      .cust-width-blank {
        width: 502px;
      }
    }
  }
}
