@import '~src/assets/styles/variables.scss';

.overview-body {
  background-color: #efefef;
  padding: 30px;

  .overview-content {
    display: inline-flex;
    flex-wrap: wrap;
    //justify-content: center;

    .page-title {
      display: block;
      margin-left: 10px;
      flex-basis: 100%;
      //padding: 0 8%;
      color: #2d2d39;
      font-family: 'UHCSans-Regular', 'Arial';
      font-size: 36px;
      font-weight: 600;
      line-height: 75px;
    }

    .page-subtitle {
      display: block;
      margin-left: 10px;
      flex-basis: 100%;
      // padding: 0 8%;
      color: #2d2d39;
      font-family: 'UHCSans-Regular', 'Arial';
      font-size: 28px;
      font-weight: 600;
      line-height: 50px;
    }

    & > app-small-card {
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
  }
}
