.align-horizonal {
  display: flex;
  align-items: center;
}

.frequent-heading {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'UHCSans-SemiBold', Helvetica, Arial, sans-serif;
}

.label-div {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 2px;
}
