<!-- Main container-->
<div class="container">
  <!-- container content-->
  <div class="container-content">
    <!-- container header titile ends-->
    <div class="container-header">
      <!-- Breadcrumbs-->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumbs ends-->
      <!-- Header Title-->
      <app-rlp-header
        [rlpTitle]="title"
        [rlpSubTitle]="subTitle"
        class="full-display bottom-margin-block"
      ></app-rlp-header>
      <!-- Header Title ends-->
    </div>
    <div class="container-body">
      <!-- Large Card content-->

      <app-rlp-long-card [config]="labsItems" *ngIf="labsItems.data != null"></app-rlp-long-card>

      <!--loader-->
      <app-rlp-long-card [skeletonLong]="loading" *ngIf="loading && !printStyle"></app-rlp-long-card>
      <!--loader-->
      <!-- Large Card content ends-->

      <app-rlp-table *ngIf="isTable && labsItems.data != null" [data]="tableData"></app-rlp-table>
      <!-- table loader-->
      <!-- <app-large-card [skeletonLarge]="loadingTable" *ngIf="loadingTable"></app-large-card> -->
      <!-- table loader-->
    </div>
  </div>
  <!--container content ends-->
</div>
<!-- Main container ends-->
