<!-- Main container-->
<div class="container">
  <!-- container content-->
  <div class="container-content">
    <!-- container header titile ends-->
    <div class="container-header">
      <!-- Breadcrumbs-->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumbs ends-->
      <!-- Header Title-->
      <app-rlp-header
        [rlpTitle]="title"
        [rlpSubTitle]="subTitle"
        class="full-display bottom-margin-block"
      ></app-rlp-header>
      <!-- Header Title ends-->
    </div>
    <div class="container-body">
      <!-- Large Card content-->
      <app-rlp-long-card [config]="labsItems[0]"></app-rlp-long-card>
      <!-- Large Card content ends-->
      <app-rlp-table [data]="tableData"></app-rlp-table>
    </div>
  </div>
  <!--container content ends-->
</div>
<!-- Main container ends-->
