<!-- Main container-->
<div class="container">
  <!-- container content-->
  <div class="container-content">
    <!-- container header titile ends-->
    <div class="container-header">
      <!-- Breadcrumbs-->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumbs ends-->
      <!-- Header Title-->
      <app-rlp-header
        [rlpTitle]="titleForLabs"
        [rlpSubTitle]="subTitleForLabs"
        class="full-display bottom-margin-block"
      ></app-rlp-header>
      <!-- Header Title ends-->

      <!-- Large Card content-->

      <!-- Large Card content ends-->
    </div>
    <!-- container header titile ends-->
    <app-rlp-body></app-rlp-body>
  </div>
  <!--container content ends-->
</div>
<!-- Main container ends-->
