<!-- open a modal window by clicking button  basic bootstrap-->

<!-- <div *ngIf="isTimedOut"></div> -->

<div class="backdrop" [ngStyle]="{ display: display }"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content text_center">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <figure>
              <img src="../../assets/images/session_timeout.png" alt="Session Timeout" />
            </figure>

            <div class="text1">
              Your session has expired.
            </div>

            <div class="text2">
              You will need to log in again to continue working.
            </div>
          </div>
          <!-- ends col-md-12 -->
        </div>
        <!-- /ends row -->
      </div>

      <div class="bg-grey">
        <div class="blue_container">
          <div class="text_blue_container">
            <a routerLink="/login">Return to Login page</a>
            <!-- Return to Home Page-->
          </div>
        </div>
      </div>
      <!-- .end bg-grey container-->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->
