<div class="content-wrapper">
  <div class="main-content">
    <div class="cards cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page-title">
        {{ pageTitle }}
      </div>
      <div class="time-period">
        <button class="btn btn-rounded" disabled>
          <span>Time Period: </span><span class="font-weight-semibold pl-4">Rolling 12 Months</span>
        </button>
      </div>
    </div>
    <div class="cards cust-width-blank"></div>
    <div class="height1Separator"></div>
    <div *ngFor="let item of summaryItems; let i = index">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
    </div>
    <div class="main-content">
      <app-large-card [data]="reasonItems"></app-large-card>
    </div>
  </div>
</div>
