<div class="prior-auth-body">
  <app-breadcrumbs></app-breadcrumbs>

  <div class="prior-auth-content">
    <div class="cards cust-width-title">
      <div class="page-title">
        {{ pageTitle }}
      </div>
    </div>
    <div class="cards cust-width-blank"></div>
    <div class="height1Separator"></div>
    <div *ngFor="let item of summaryItems; let i = index">
      <app-card *ngIf="item.data != null" class="cards" [chartData]="item"> </app-card>
    </div>
  </div>

  <div class="prior-auth-content">
    <app-large-card [data]="reasonItems"></app-large-card>
  </div>
</div>
