@import '~src/scss/variables.scss';
@import '~src/scss/mixins';
@import '~src/scss/my-custom-theme';

.breadcrumb-top-padding {
  @include padding(20px, 0, 15px, 32px);
}
.page-title {
  flex-basis: 100%;
  font-size: 36px;
  line-height: 75px;
}

.time-period {
  box-sizing: border-box;
  height: 33px;
  width: 230px;
  border: 1px solid #b3babc;
  border-radius: 16px;
  background-color: #e0e0e0;
  line-height: 30px;
  padding-left: 7px;
}
.title-left-padding {
  padding-left: 15px;
}

.calls-body {
  @include mat-elevation(2);
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include padding(30px, 30px, 30px, 30px);
  .calls-content {
    display: flex;
    flex-wrap: wrap;

    .height1Separator {
      height: 0;
      width: 1200px;
    }

    & > .cards {
      text-align: left;
      line-height: 75px;
    }

    .cust-width-title {
      width: 100%;
      font-family: 'UHCSans-SemiBold', 'Arial';
      color: $black-rock;
      margin-left: 10px;

      .page-title {
        flex-basis: 100%;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 24px;
        margin-top: 16px;
      }
    }
  }
}
