<div class="aco-body">
  <div class="aco-content">
    <div class="aco-head">
      <div class="aco-title">{{ pageTitle }}</div>
      <div class="aco-sub-title">{{ pageSubTitle }}</div>
    </div>
    <div class="aco-tab-div">
      <div class="aco-tab-header">Employer & Individual</div>
      <div *ngIf="!isInternal">
        <div class="aco-tab-date">M2Q4 Apr 1, 2018–Mar 31, 2019</div>
      </div>
    </div>
    <div class="aco-main-cards">
      <div *ngFor="let acoPageCard of acoPageData">
        <app-small-card class="cards" [data]="acoPageCard"> </app-small-card>
      </div>
      <div class="MPT-div">*MPT – Minimum Performance Threshold</div>
    </div>
    <div class="aco-sub-head">Key Performance Indicators Per 1,000 Members</div>
    <div class="aco-performance-cards">
      <div *ngFor="let card of acoPageKeyPerformanceData; let i = index">
        <app-small-card class="cards" [data]="card" [index]="i"> </app-small-card>
      </div>
    </div>
  </div>
</div>
