<div class="rlp-body">
  <div class="rlp-content">
    <div class="cust-width-title">
      <app-breadcrumbs></app-breadcrumbs>
      <app-rlp-header
        [rlpTitle]="titleForPrescriptions"
        [rlpSubTitle]="subTitleForPrescriptions"
        class="full-display bottom-margin-block"
      ></app-rlp-header>
    </div>
    <div *ngFor="let item of prescriptionsItems; let i = index">
      <app-card *ngIf="item.data != null && item.category == 'app-card'" class="cards" [chartData]="item"></app-card>
      <app-error-card *ngIf="item.data == null && item.status != null" class="cards" [data]="item"></app-error-card>
      <app-rlp-common-bar *ngIf="item.data != null && item.category != 'app-card'" [data]="item"></app-rlp-common-bar>
    </div>
    <!-- <app-rlp-body></app-rlp-body> -->
  </div>
</div>
